<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TheEvent Bootstrap Template - Speaker Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
  <link rel="stylesheet" href="../../assets/fonts/simple-line-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
  <link rel="stylesheet" href="../../assets/css/smoothproducts.css">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="../../index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="../AboutUS/speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="../Center/center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="../Departments/dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="../ContactUS/contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>
  <!-- ======= Header ======= -->
<!-- End Header -->

  <section class="portfolio-block projects compact-grid">
    <div class="section-header1" style="margin-top: 5rem;text-align: center;">
      <h1 style="
    margin-bottom: 3rem;
    font-weight: 600;
">DEPARTMENTS</h1>
    </div>
    <div class="clr" style="
  background-color: rgba(232, 232, 232, 1);
  width: 100%;
  height: 60rem;
  position: relative;
  top: 6rem;
"></div>
    <div class="row no-gutters" style="width:90%;margin-left: 7rem;margin-top: -62rem;">
        <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="civil engineering/civil.html"><img class="img-fluid image" src="https://media.gettyimages.com/photos/male-and-female-windfarm-engineers-picture-id506996716?k=6&amp;m=506996716&amp;s=612x612&amp;w=0&amp;h=YjAZQd0-TM-yv-fRM8QfjD-3Qp48vFqXPhbRgBvA7z4=" style="width: 638px;"><div class="conten">
          <h1 style="color: white;text-align: center;font-weight: 700;margin-bottom: 1rem;">CIVIL ENGINEERING</h1>
          <p style="
    text-align: justify;
">The Department of Civil Engineering is the latest addition to the reputed Saranathan academic footprints.</p>
        </div></a></div>
        <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="Computer science engineering/about.html"><img class="img-fluid image" src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ4fHxjb21wdXRlciUyMHNjaWVuY2V8ZW58MHx8MHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" style="width: 638px;"><div class="conten">
          <h1 style="color: white;text-align: center;font-weight: 700;margin-bottom: 1rem;">COMPUTER SCIENCE</h1>
          <p style="
    text-align: justify;
">Accredited by Institution of Engineers India (IEI) in the year 2015</p>
        <p>UG program is permanently affiliated to Anna University, Chennai</p>
        </div></a></div>
    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="electronics and communication engineering/ECE.html"><img class="img-fluid image" style="height: 23rem;" src="https://wallpapercave.com/wp/wp2700096.jpg"><div class="conten">
      <h1 style="color: white;text-align: center;font-weight: 700;margin-bottom: 1rem;FONT-SIZE: xx-large;">ELECTRICAL &amp; COMMUNICATION</h1>
      <p style="text-align: center;">1998 Year of start of UG Program with intake as on date 120</p>
<p style="
    text-align: center;
">2004 Year of start of PG Program with intake as on date 18
</p>
    </div></a></div>
    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="Information Technology/About.html"><img class="img-fluid image" src="https://wallpapercave.com/wp/wp1997525.jpg"><div class="conten">
      <h1 style="color: white;text-align: center;font-weight: 700;margin-bottom: 1rem;font-size: xx-large;">INFORMATION TECHNOLOGY</h1>
      <p style="
text-align: justify;
">The department of Information technology was established in the year 2001 with an intake of 60 students till date.</p>
    </div></a></div>
    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="instrumentation and control engineering/About_ice.html"><img class="img-fluid image" src="https://thumbs.dreamstime.com/b/engineering-control-robotics-industrial-plants-production-technology-engineering-control-robotics-industrial-plants-191858994.jpg"><div class="conten">
      <h1 style="color: white;text-align: center;font-weight: 700;margin-bottom: 1rem;font-size: xx-large;">INSTRUMENTATION &amp; CONTROL</h1>
      <p style="
text-align: justify;
">2003 Year of start of UG Program with intake as on date 60.</p>
<p>B.E (ICE) is accredited by National Board of Accreditation</p>
    </div></a></div>
    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="electronics and communication engineering/ECE.html"><img class="img-fluid image" src="https://images.pexels.com/photos/257736/pexels-photo-257736.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" style="width: 642px;"><div class="conten">
      <h1 style="color: white;text-align: center;font-weight: 700;margin-bottom: 1rem;font-size: xx-large;">ELECTRICAL &amp; ELECTRONICS</h1>
      <p style="
text-align: justify;
">1998 Year of start of UG Program with intake as on date 120<br>
2004 Year of start of PG Program with intake as on date 18</p>
    </div></a></div>
    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="mechanical engineering/mechabt.html"><img class="img-fluid image" src="https://images.pexels.com/photos/159298/gears-cogs-machine-machinery-159298.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" style="width: 638px;"><div class="conten">
      <h1 style="color: white;text-align: center;font-weight: 700;margin-bottom: 1rem;font-size: xx-large;">MECHANICAL ENGINEERING</h1>
      <p style="
text-align: justify;
">2005 Year of start of UG Program with intake as on date 120<br>
2012 Year of start of PG Program with intake as on date 18.</p>
    </div></a></div>
    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="https://media.istockphoto.com/photos/with-woman-using-a-tablet-picture-id1208892212?s=612x612" style="width: 637px;"><div class="conten">
      <h1 style="color: white;text-align: center;font-weight: 700;margin-bottom: 1rem;">MANAGEMENT STUDIES</h1>
      <p style="
text-align: justify;
">18 Batches have emerged successfully with several University rank holders,
MBA Programme approved by AICTE and Affiliated to Anna University,Chennai.</p>
    </div></a></div>
    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="science and humanities/Physics.html"><img class="img-fluid image" src="https://media.gettyimages.com/photos/january-2019-berlin-volumes-of-grimms-dictionary-are-available-in-the-picture-id1090780210?k=6&amp;m=1090780210&amp;s=612x612&amp;w=0&amp;h=6sosLy9K4bODTVlDhwYzbHA6pwjtuXgvQ416MliJjG8=" style="width: 638px;"><div class="conten">
      <h1 style="color: white;text-align: center;font-weight: 700;margin-bottom: 1rem;font-size: xx-large;">HUMANITIES &amp; STUDIES</h1>
      <p style="
text-align: justify;
">The Department consists of Physics, Chemistry, Maths, and Engish.</p>
    </div></a></div>
</div>
</section>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="position: relative;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->



  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/aos/aos.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../assets/js/main.js"></script>



</body></html>