<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/css/facultycivil.css" rel="stylesheet">
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/civil.css" rel="stylesheet">
  <link href="../../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="text-align: center;">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto " href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>

  <div class="section-heade" style="
  margin-top: 11rem;
  position: relative;
  ">
      <h2 style="font-weight: 600;">Department of Civil Engineering</h2>
    </div>
    
   <ul class="sn-civil" style="text-align: center;margin-top: -3rem;margin-bottom: 29rem;text-align: left;">

    <li class="snbli"><a class="active" href="civil.html">Department of CIVIL</a></li>
    <li class="snbli"><a href="vision.html">Profile of the Department</a></li>
    <li class="snbli"><a href="labcivil.html">Laboratory</a></li>
    
    <li class="snbli"><a href="cfac.html">Faculty Details</a></li>
    <li class="snbli"><a href="researchcell.html">Research Cell</a></li>
    <li class="snbli"><a href="placement.html">Placement Details</a></li>
     <li class="snbli"><a href="contactus.html">Contact Us</a></li></ul>
<div style="position: relative;top: -69rem;pointer-events: none;width: 81%;margin-left: 15rem;color: white;">
  <h3 style="font-weight: 500;/* color: black; */text-align: left;margin-left: 7rem;">About the Department</h3>
  <p style="color: #2f3138;text-align: justify;width: 92%;margin-left: 7rem;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">The Department of Civil Engineering is the latest addition to the reputed Saranathan academic footprints. The department was launched in the year 2016 and is currently enriching Four Batches of prospective Civil Engineers. This program aims to promote high quality education in Civil Engineering keeping in pace with the current and futuristic demands in this field. </p>
    
    



<p style="text-align: justify;width: 92%;margin-left: 7rem;margin-top: 2rem;margin-top: 2rem;font-size: 133%;color: #2f3138;">The Department offers a full time B.E. degree course in Civil Engineering. The present student intake of the department is 60 every year. The curriculum, in tune with the Anna University Regulations, broadly covers the basic engineering subjects, subjects of related fields such as Structural Engineering, Transportation Engineering, Construction Management, Surveying, Building materials, Water Resources and Environmental Engineering. The Department has qualified faculty members with excellent academic records. The Department is equipped with excellent laboratory facilities since its inception. Apart from conducting academic programs, additional Value Added Courses and Skill Development Programmes are conducted for the students  with the objective of improving the employability skills of students.</p></div>
<div class="contentarea" style="position: relative;top: -59rem;margin-left: 25vh;margin-bottom: -56rem;">




<p style="text-align: justify;width: 83%;margin-left: 10rem;margin-top: -8rem;font-size: 133%;">We are already on track matching the standards of our mission. Over the past four years, students have attended more number of Workshops, Seminars, and Hands on Training  Programmes. Also they have participated in variety of events like Paper Presentations, Technical Quiz Contests, Project Expo, and such other events and bagged prizes.
  
  
  
  
  
  
  
  
  
  
  
  
  
  

</p>
<p style="text-align: justify;width: 83%;margin-left: 10rem;margin-top: 2rem;font-size: 133%;">The Department of Civil Engineering provides the right kind of environment for the students to groom themselves for taking up innovative and challenging projects. The Department is periodically inviting the Eminent Practicing Engineers, Leading Company Professionals, Professors from established institutions like NITs, IITs for delivering Guest Lecture and also organising Industrial Visits to places like UltraTech Cement Factory, Dalmia Cement Factory, Devi Brick Manufacturing Units, Amman TRY Steels Pvt Ltd., Zonal Railway Training  School,  Chettinadu Houses-Karaikudi and Geology Museum, National College.  The Department is conducting Survey Camp every year which is aimed to groom Civil Engineering Students with essential knowledge and exposure to real work, and to encourage leadership and teamwork skills. 
  
  
  
  
  
  
  
  
  
  
  
  
  
  

</p><p style="text-align: justify;width: 83%;margin-left: 10rem;margin-top: 2rem;font-size: 133%;" text-align:="">The Department is organizing  Training  Programme for Masons in association with UltraTech Cement which is a part of Service to Society.
  
  
  
  
  
  
  
  
  
  
  
  
  
  

</p><p style="text-align: justify;width: 83%;margin-left: 10rem;margin-top: 0rem;font-size: 133%;">As Civil Engineers, we want to use smart solutions to improve our living environment, anywhere in the world. We would like to guide the students to become the mastermind behind any mega projects which require Civil Engineering excellence.  As Civil Engineers, we are working towards making the world safer, livable and accessible with solutions that tackle the changing climate and economic situation.
  
  
  
  
  
  
  
  
  
  
  
  
  
  

</p></div>









<footer id="footer">
<div class="footer-top" style="
    position: relative;
">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 footer-info">
        <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
        <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
          Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
          greatest ever Principal of National College. It is a self financing college approved by AICTE and
          affiliated to Anna University, Chennai.</p>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>Quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Us</h4>
        <p style="
text-align: left;
">
          Saranathan College of Engineering
          Venkateswara Nagar,
          Trichy-Madurai Main Road (NH 45 B),
          Edamalaipatti Pudhur(Post), Panjappur,
          Thiruchirappalli - 620012<br>
          <strong>Phone:</strong> +91 8489915204<br>
          <strong>Email:</strong> sce@gmail.com<br>
        </p>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>

    </div>
  </div>
  <div class="container">
    <div class="copyright">
      © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
    </div>
  </div>
</div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

<script src="../../../assets/vendor/aos/aos.js"></script>
<script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../../assets/vendor/php-email-form/validate.js"></script>
<script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../../../assets/js/main.js"></script>
</body></html>