<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="..\..\..\assets\js\fade.js">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto " href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->

  
  <ul class="sn-civil" style="
    text-align: left;
    top: 11rem;
    margin-bottom: 6vh;
    height: 100vh;
">
    <li class="snbli"><a href="civil.html">Department of CIVIL</a></li>
    <li class="snbli"><a href="vision.html">Profile of the Department</a></li>
    <li class="snbli"><a class="active" href="labcivil.html">Laboratory</a></li>
    <li class="snbli"><a href="cfac.html">Faculty Details</a></li>
    <li class="snbli"><a href="researchcell.html">Research cell</a></li>
    <li class="snbli"><a href="placement.html">Placement Details</a></li>
    <li class="snbli"><a href="contactus.html">Contact Us</a></li>
  </ul>
    <section style="
    margin-top: -81vh;
">

    
    <h4 style="margin-left: 50rem;color: #0e1b4d;bottom: -25rem;"><strong><b>ELECTRICAL AND ELECTRONICS LABORATORY</b></strong></h4>
   
    <br><p></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <h4 style="margin-left: 50rem;color: #091c68;"><strong><b>CIVIL LABORATORY</b></strong></h4>
    
    <div style="position: relative;margin: 0px 180px;margin-left:28rem;width: 65%;top: -5vh;">
        <div class="card horizontal" style="margin-bottom: -155px;margin-top: 50px;height: 50%;"><br>
          <div style="margin-top: 0.5rem;">
            <img src="../../../assets/img/sl.jpg" style="height: 260px;width:400px;padding: 0.6cm;border-radius: 0px;">
          </div>
          <div class="card-stacked;">
            <div style="margin-top: -15rem; margin-left:25rem;"> 
              <p style="width:350px; text-align: justify;font-size: x-large;"></p><h6><b>SURVEYING LABORATORY</b><br><br></h6>The Surveying Laboratory enables students to understand and practice the basic principles of surveying by conducting field exercises using a wide spectrum of surveying instruments. . This laboratory covers data collection methods including surveying, profile leveling, contouring, compass traversing, laying out of curves, base line measurement and triangulation. The Lab sessions would include experiments on Chain Surveying, Chain Traverse, Compass Surveying, Compass survey Traversing, Plane Table Surveying-- Radiation, intersection, Traverse, Resection Leveling, Dumpy Level/ Auto level Surveying, Surveying using Total Station.
<br>
<br>
<br>


Instruments: Traditional Dumpy levels, Tilting level, Compass, Transits, Plane table and Theodolites to the latest Electronic Auto level, Digital Theodolite, Total Station and GPS.

<br><br>
              <p></p>
            </div>

          </div>
        </div>
    </div>

    <div style="margin: 0px 180px;margin-left:28rem;">
        <div class="card horizontal" style="margin-bottom: -24px;">
          <div style="margin-top:4.5rem;">
            <img src="../../../assets/img/sm.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
          </div>
          <div class="card-stacked">
            <div style="margin-top: -15rem; margin-left:25rem;"> 
              <p style="width:450px; text-align: justify;"></p><h6><b>SOIL MECHANICS LABORATORY</b><br><br></h6>The student will gain hands-on experience in conducting soil laboratory tests to determine soil parameters needed for Geotechnical Engineering Design, and to communicate this information with others. Further the laboratory involves determination of Moisture Content, Density, Liquid Limit, Plastic Limit, Shrinkage Limit, Bearing Capacity, Grain Size Distribution and Specific Gravity of Soil.

<br>
<br>
<br>

Equipments: Oven, Consolidometer, Shear Box, CBR, Compaction Testing Machine, Core-Cutter, Casagrande Apparatus, Test kit for Atterberg Limits.

<br> <br><br><p></p>
            </div>

          </div>
        </div>
    </div>

    <div style="margin: 0px 180px;margin-left:28rem;">
        <div class="card horizontal" style="margin-bottom: 50px;">
          <div style="margin-top:4.5rem;">
            <img src="../../../assets/img/smt.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
          </div>
          <div class="card-stacked">
            <div style="margin-top: -15rem; margin-left:25rem;"> 
              <p style="width:450px; text-align: justify;"></p><h6><b>STRENGTH OF MATERIALS TESTING LABORATORY</b><br><br></h6>Material testing laboratory helps for selecting and verifying materials and to evaluate material quality, performance, troubleshooting, research and many other applications.
<br>
<br>
<br>
Equipments: Spring Testing Machine, Rockwell, Brinell Hardness Testing Machines, Torsion Testing Machine, Impact Tesing Machine, Universal Testing Machine, Deflection Test Apparatus, Rosette Strain Gauge Setup.<br><br><br><br><p></p>
            </div>

          </div>
        </div>
    </div>

    <div style="margin: 0px 180px;margin-left:28rem;">
        <div class="card horizontal" style="margin-bottom: -47px;">
          <div style="margin-top: 0.5rem;">
            <img src="../../../assets/img/he.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
          </div>
          <div class="card-stacked">
            <div style="margin-top: -15rem;margin-left:25rem;"> 
              <p style="width:450px; text-align: justify;"></p><h6><b>HYDRAULICS ENGINEERING LABORATORY</b><br><br></h6>This lab is to teach students, about the understanding of Fluid Properties, Fluid Characteristics and Calibrate the Instruments based on Bernoulli’s Theorem. The experiments here are designed to demonstrate the applications of the basic fluid mechanics principles like Reynold’s Number, Frictional Losses, etc. This lab helps to gain knowledge on working of Centrifugal Pumps, Positive Displacement Pumps, Hydraulic Turbines. Students will compare the performance of various machines at different operating points.
<br>
<br>
<br>


Equipments: Orifice Meter&amp; Venturimeter, Bernoulli’s Apparatus, Losses in pipes, Reciprocting Pump, Centrifugal Pump, Gear Pump, Jet Pump, Submersible Pump, Pelton Turbine, Francis Turbine, Kaplan Turbine, Pitot Tube, Pipe Friction, Turbo Impulse Wheel.

<br><br><br><p></p>
            </div>

          </div>
        </div>
    </div>

    <div style="margin: 0px 180px;margin-left:28rem;">
        <div class="card horizontal" style="margin-bottom: 50px;">
          <div style="margin-top: 0rem;">
            <img src="../../../assets/img/che.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;margin-top: 5rem;">
          </div>
          <div class="card-stacked">
            <div style="margin-top: -15rem; margin-left:25rem;"> 
              <p style="width:450px; text-align: justify;"></p><h6><b>CONCRETE &amp; HIGHWAY ENGINEERING LABORATORY</b><br><br></h6>Concrete lab enables students to carry various experiments regarding Compressive Strength of Concrete, Tensile Strength of Concrete, Workability Test, Design Mix, Modulus of Rupture of Concrete. All these experiments intended to determine the quality of concrete.

<br><br>
Equipments: Vibrating Table, Compaction Factor Test apparatus, Slump Cone, Compression Testing Machine.

<br><br>
Highway Enginering lab is used for research and teaching in the fields of Rigid and Flexible Pavements and testing pavements materials and structures. Several instruments exist in the lab for conducting materials characterization tests.

<br><br>
Equipments: Los Angel Apparatus, Bitumen Extractor, Ductility Testing Machine, Bitumen Mixer, Bitumen Penetration Apparatus, Impaction Test Apparatus, Marshal Stability Test Apparatus.<p></p>
            </div>

          </div>
        </div>
    </div>

    <div style="margin: 0px 180px;margin-left:28rem;">
        <div class="card horizontal" style="margin-bottom: 40px;">
          <div style="margin-top:-3rem;">
            <img src="../../../assets/img/wwa.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;margin-top: 5rem;">
          </div>
          <div class="card-stacked">
            <div style="margin-top: -15rem; margin-left:25rem;"> 
              <p style="width:450px; text-align: justify;"></p><h6><b>WATER &amp; WASTEWATER ANALYSIS LABORATORY</b></h6><p>This Laboratory presents environmental significance, practical applications of water quality test, sampling techniques and also standards of water for various uses. well-arranged tests in Lab - dealing with some major water and waste water quality parameters of physical, chemical and biological.
<br>
<br>

Equipments: Digital Turbidity meter, Digital pH meter, Conductivity meter, Flame photometer, UV / Visible Spectrophotometer, Controlled Stirring Apparatus for Jar Tests, BOD &amp; COD Analyser, Auto Clave for sterilization, Laminar Flow Cabinet.


</p>
            </div>

          </div>
        </div>
    </div>

    <div style="margin: 0px 180px;margin-left:28rem;">
        <div class="card horizontal" style="margin-bottom: -27rem;">
          <div style="margin-top:-2rem;">
            <img src="../../../assets/img/cabd.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;margin-top: 4rem;">
          </div>
          <div class="card-stacked">
            <div style="margin-top: -15rem; margin-left:25rem;"> 
              <p style="width:450px; text-align: justify;"></p><h6><b>COMPUTER AIDED BUILDING DRAWING LABORATORY</b><br></h6>This lab is to acquire hands on experience in design and to prepare building Plan, Elevation, Section and structural drawings for concrete / steel structures normally encountered in Civil Engineering practice.
<br>
<br>

SYSTEMS: ACER Power Service PCs, ACER Veriton PCs, Dell Vostro PCs, HP Laser Jet A3 Size Printer, HP AKIN A4 Size Printer, Scanner &amp; Copier, AUTO CAD-3D Modeling, Ansys, &amp; Solid Works software.
<p></p>
            </div>

          </div>
        </div>
    </div>



    <footer id="footer" style="
    position: relative;
    top: 55vh;
">
      <div class="footer-top" style="margin-top: 6vh;">
        <div class="container">
          <div class="row">
      
            <div class="col-lg-3 col-md-6 footer-info">
              <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
              <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
                Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
                greatest ever Principal of National College. It is a self financing college approved by AICTE and
                affiliated to Anna University, Chennai.</p>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
      ">
              <h4>Quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
              </ul>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
      ">
              <h4>quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
              </ul>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p style="
      text-align: left;
      ">
                Saranathan College of Engineering
                Venkateswara Nagar,
                Trichy-Madurai Main Road (NH 45 B),
                Edamalaipatti Pudhur(Post), Panjappur,
                Thiruchirappalli - 620012<br>
                <strong>Phone:</strong> +91 8489915204<br>
                <strong>Email:</strong> sce@gmail.com<br>
              </p>
      
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
      
            </div>
      
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
          </div>
        </div>
      </div>
      </footer>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

      <script src="../../../assets/vendor/aos/aos.js"></script>
      <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="../../../assets/vendor/php-email-form/validate.js"></script>
      <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>
      
      <!-- Template Main JS File -->
      <script src="../../../assets/js/main.js"></script>
      



</section></body></html>