<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="text-align: center;">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>

  <div class="section-heade" style="margin-top: 11rem;
  margin-bottom: 20px;
  position: relative;">
      <h2 style="font-weight: 600;">Department of Civil Engineering</h2>
    </div>
    
   <ul class="sn-civil" style="
    margin-top: -4rem;
    margin-bottom: 28rem;
">
      <li class="snbli"><a href="civil.html">Department of CIVIL</a></li>
      <li class="snbli"><a class="active" href="vision.html">Profile of the Department</a></li>
      <li class="snbli"><a href="labcivil.html">Laboratory</a></li>
      <li class="snbli"><a href="cfac.html">Faculty Details</a></li>
      
      <li class="snbli"><a href="researchcell.html">Research Cell</a></li>
      <li class="snbli"><a href="placement.html">Placement Details</a></li>
      <li class="snbli"><a href="contactus.html">Contact Us</a></li>
    </ul>
<div style="position: relative;bottom: 70rem;pointer-events: none;width: 58%;margin-left: 16rem;color: white;">
  <h3 style="font-weight: 500;color: #0e1b4d;text-align: left;margin-left: 7rem;">Vision
</h3>
  
    <ul style="color: black;text-align: left;margin-left: 6rem;width: 125%;font-size: larger;margin-top: 2rem;">
    
      <li><p>The Programme has been started with the noble vision of producing innovative Engineers with social consciousness</p></li>
      <li><p>who can richly contribute towards creating a more ecological environment and enrich them in technological advancementsfuture.</p></li>
      </ul>
    
<br>
<h3 style="font-weight: 500;color: #0e1b4d;text-align: left;margin-left: 7rem;">Mission
</h3>
    
    


<ul style="color: black;text-align: left;margin-left: 6rem;width: 125%;font-size: larger;margin-top: 2rem;">
    
<li>
<p>To provide essential knowledge and skill to the students and enhance their employability potential and entrepreneurial capabilities.</p></li>
<li><p>To produce graduates of highly Professional and Ethical standards.</p></li>
<li><p>To produce knowledge  base  and  consultancy  services to the community in all areas of Civil Engineering.</p></li>
<li><p>To promote innovative and original thinking in the minds of  budding Engineers to face the challenges of future.</p></li>
</ul></div>
<div class="contentarea" style="margin-left: 14rem;position: relative;bottom: 64rem;margin-bottom: -63rem;">




<h3 style="width: 100%;font-weight: 500;padding-right: 45rem;position: relative;top: -7vh;">PROGRAMME EDUCATIONAL OBJECTIVES - PEOs</h3>
<ul style="text-align: left;margin-left: 8rem;width: 92%;font-size: larger;margin-top: -2rem;">
<li>
<p>
    To prepare the students for successful careers in Civil Engineering field that meets the standards of Indian and Multinational Companies.
</p></li>

<li> <p>To develop confidence and ability among students to synthesize data and technical concepts to apply it in real world problems.
</p></li>

<li> <p>To provide students with a sound foundation in Mathematical, Scientific, and Engineering fundamentals necessary to formulate solve and analyse engineering problems and strengthen foundations for graduate studies.
</p></li> 
    
<li> <p>To promote students to work collaboratively on Multi-Disciplinary projects and make them engage in life-long learning process throughout their professional life.
 </p></li>
<br>    
  
  
  
  
  
  

</ul><h3 style="font-weight: 500;padding-right: 46rem;">PROGRAMME EDUCATIONAL OBJECTIVES - PEOs</h3><ul style="text-align: left;margin-left: 8rem;width: 92%;font-size: larger;margin-top: 2rem;">
<li>
<p>
    
To accomplish an elevated level of Technical Expertise to shine in Higher Education / Profession by attaining knowledge in Basic Sciences, Design and Drawing and Engineering Principles.
 </p></li>

<li> <p>To explore and relate Modern Engineering Tools for Planning, Design, Execution and Maintenance of works that is Technically feasible, economically and socially acceptable.
</p></li>

<li> <p>To enhance Good Communication Skills, Team work in their responsibilities with excellence and to be prepared to face  challenges in all occasions.

</p></li> 
<br>    

    
  
  
  
  
  
  

</ul>
<h3 style="font-weight: 500;padding-right: 67rem;">Progamme Outcomes</h3>
<ul style="text-align: left;margin-left: 8rem;width: 92%;font-size: larger;margin-top: 2rem;">
<li><p>Capability to apply knowledge of mathematics, science and engineering.</p></li>
<li><p>Capability to propose and conduct experiments, as well as to evaluate and understand data in civil engineering.</p></li>
<li><p>Capability to design a system, component, or process to meet desired needs within economic, environmental, social, political, ethical, health and safety, manufacturability and sustainability.</p></li>
<li><p>Capability to task with multidisciplinary teams.</p></li>
<li><p>Capability to recognize, make, and clarify civil engineering crisis.</p></li>
<li><p>Ability to take up  professional and ethical responsibility.</p></li>
<li><p>Capability to correspond professionally.</p></li>
<li><p>Capability to understand the impact of engineering solutions in a global, economic, environmental and societal context.</p></li>
<li><p>Ability to engage in life-long learning.</p></li>
<li><p>Capability of accepting current issues.</p></li>
<li><p>Capability to employ the talent, technique and contemporary engineering tools.</p></li>
<li><p>Capability to apply the engineering and management principles to one’s individual work and to supervise the projects as a member and team leader.</p></li>
</ul></div>









<footer id="footer">
<div class="footer-top" style="
    position: relative;
">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 footer-info">
        <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
        <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
          Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
          greatest ever Principal of National College. It is a self financing college approved by AICTE and
          affiliated to Anna University, Chennai.</p>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>Quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Us</h4>
        <p style="
text-align: left;
">
          Saranathan College of Engineering
          Venkateswara Nagar,
          Trichy-Madurai Main Road (NH 45 B),
          Edamalaipatti Pudhur(Post), Panjappur,
          Thiruchirappalli - 620012<br>
          <strong>Phone:</strong> +91 8489915204<br>
          <strong>Email:</strong> sce@gmail.com<br>
        </p>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>

    </div>
  </div>
  <div class="container">
    <div class="copyright">
      © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
    </div>
  </div>
</div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

<script src="../../../assets/vendor/aos/aos.js"></script>
<script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../../assets/vendor/php-email-form/validate.js"></script>
<script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../../../assets/js/main.js"></script>
</body></html>