<html lang="en"><head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Chemistry|Faculty Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="../../../assets/img/favicon.png" rel="icon">
  <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
      <link rel="stylesheet" href="../../../assets/css/facultymech.css">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">
   <!-- <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=div, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="icon" href="456.png">
    <link rel="stylesheet" href="./styles1.css">
    <title>SCE | PhyFaculty</title>-->
</head>
<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
	

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
<br>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->
  <br>
  <br>
  <br>

  <main id="main" class="main-page">
    <ul class="snbul" style="    top: 11rem;
    width: 200px;
    margin-left: 2rem;  position: fixed;height:auto;">
      <!--<li class="snbli"><a class="active" href="#home">About the Instution</a></li>
      <li class="snbli"><a href="FP.html">Founder President</a></li>
      <li class="snbli"><a href="FS.html">Founder Secretary</a></li>
      <li class="snbli"><a href="GC.html">Governing Council</a></li>
      <li class="snbli"><a href="KPI.html">Key Persons of Instituion</a></li>
      <li class="snbli"><a href="CC.html">College Commities</a></li>-->
      <li class="snbli"><a href="chemistry.html">About-Us</a></li>
      <li class="snbli"><a href="chemProf.html">Faculty Details</a></li>
	  <li class="snbli"><a href="chemistry_contactus.html">Contact-Us</a></li>
    </ul>
    <section>
        <div>
		<br>
		  <br>
		  <br>
            <h4 style="color:#0e1b4d;font-family: 'Poppins', sans-serif; text-align: center;font-weight: 1000;">
               Department of Chemistry
            </h4>
			<br>
            
          <h6 style="color:#0e1b4d;font-family: 'Poppins', sans-serif;text-align:center;font-weight: 700;">
            Cadre Ratio
          </h6>  
		  <br>
		  <br>
          <table style="font-family:'Poppins';width: 100vh;height: 5vh;top: -3vh;position: relative;border: 2px solid rgba(170, 169, 169, 0.486);margin-left: auto;margin-right: auto;text-align: center;font-size: x-large;" id="cus">
            <thead>
              <tr style="background-color: rgb(28,49,145);color: whitesmoke;text-align: center;">
                  <th style="border: white;border-style: solid;border-width: 1px;text-align: center;">Professor</th>
                  <th style="border: white;border-style: solid;border-width: 1px;text-align: center;">Associate Professor</th>
                  <th style="border: white;border-style: solid;border-width: 1px;text-align: center;">Assistant Professor</th>
                 
            </tr></thead>
            <tbody style="text-align: center;">
              <tr>
                <td>0</td>
                <td>1</td>
                <td>5</td>  
              </tr>
             
            </tbody>
          </table>
          <br><br><br>
          <h6 style="color:#0e1b4d;font-family: 'Poppins', sans-serif;text-align:center;font-weight: 900;margin-top: -16vh;">
            Faculty Profiles
          </h6> 
		   <br>
		    <p style="color:#0e1b4d;font-family: 'Poppins', sans-serif;text-align:center;font-weight: 600;margin-bottom: 2rem;">Associate Professor</p> 
            <div class="profile-container">
              <div class="profile-card">
                <center><img src="http://www.saranathan.ac.in/images/muruganandam-che.jpg" alt="image1" class="profile-icon" margin-right="50%"></center>
                <div class="profile-name"> Dr. L Muruganandam, M.Sc.,M.Phil.,B.Ed., Ph.D</div>
                <div class="profile-position">Associate Professor &amp; Head<br>  
                     muruganandam-che@saranathan.ac.in</div>
                
              </div>
            </div>
             <br>
            <p style="color:#0e1b4d;font-family: 'Poppins', sans-serif;text-align:center;font-weight: 600;">Assistant Professors</p>
			<br>
            <div class="profile-container-chem" style="margin-left: 300px;">
             
              <div class="profile-card">
                <img src="http://www.saranathan.ac.in/images/balamurugan-che.jpg" alt="image1" class="profile-icon">
                <div class="profile-name">   Dr. V Balamurugan, M.Sc.,M.Phil., Ph.D</div>
                <div class="profile-position"> Assistant Professor<br> 
                    balamurugan-che@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="http://www.saranathan.ac.in/images/priyarega-che.jpg" alt="image2" class="profile-icon">
                <div class="profile-name">   Dr. S Priyarega, M.Sc., M.Phil., Ph.D</div>
                <div class="profile-position">Assistant Professor<br>   
                     priyarega-che@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="http://www.saranathan.ac.in/images/lakshmanan-che.jpg" alt="image3" class="profile-icon">
                <div class="profile-name">   Mr. A Lakshmanan, M.Sc.,M.Phil.,</div>
                <div class="profile-position">Assistant Professor  <br> 
                     lakshmanan-che@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="http://www.saranathan.ac.in/images/balaprasad-che.jpg" alt="image4" class="profile-icon">
                <div class="profile-name">  Mr. B Balaprasad, M.Sc.,M.Phil.,</div>
                <div class="profile-position">Assistant Professor  <br> 
                     balaprasad-che@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card" style="
    margin-top: 2rem;
">
			    <img src="http://www.saranathan.ac.in/images/thulasi-che.jpg" alt="image3" class="profile-icon">
                <div class="profile-name">   Ms. G Thulasi, M.Sc., M.Phil.,</div>
                <div class="profile-position">Assistant Professor <br> 
                    thulasi-che@saranathan.ac.in</div>
            
              </div>
            </div>
		    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="position: relative;top: 20rem;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->



  <!-- Vendor JS Files -->
  <script src="../../../assets/vendor/aos/aos.js"></script>
  <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../../assets/js/main.js"></script>
  </div></section>


</main></body></html>