<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE | IT PER</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/css/styles.css rel=" stylesheet"="">
  <link href="../../../assets/style.scss" rel="stylesheet">
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">
  <link href="../../../assets/css/it.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
<header id="header" class="d-flex align-items-center header-scrolled" style="background-color: white;height: 155px;
border-style: outset;
border-color: blue;
border-top: white;
border-left: white;
border-right: blue;">
  <div class="container-fluid container-xxl d-flex align-items-center">

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
      <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
  width: 40%;
  position: absolute;
  left: 1%;
  top: 0px;
  " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

    <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
      
    <div class="parallelogram">
      <h2 style="
  color: white;
  transform: skew(215deg, 360deg);
  margin-top: 5px;
  font-weight: 500;
  font-family: system-ui;
  text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
      </div>
    
      <ul style="
  position: relative;
">
        <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
         <ul>
            <li><a href="speaker-details.html">About the Instution</a></li>
            <li><a href="FP.html">Founder President</a></li>
            <li><a href="FS.html">Founder Secretary</a></li>
            <li><a href="GC.html">Governing Council</a></li>
            <li><a href="KPI.html">Key Persons to the Instituion</a></li>
            <li><a href="CC.html">College Committees</a></li>
            <li><a href="infra.html">Infrastructure</a></li>
            <li><a href="quality.html">Quality Policy</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
          <ul>
            <li><a href="#">Courses Offered</a></li>
            <li><a href="#">Addmission Norms</a></li>
            <li><a href="#">Admission Policy</a></li>
            <li><a href="#">Code of Conduct</a></li>
            <li><a href="#">Scholorship</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="nav-link scrollto active" href="center.html">Center</a>
          <ul>
            <li><a href="#">Center For Research</a></li>
            <li><a href="#">Institute Industry Partnership Cell</a></li>
            <li><a href="#">Quality Improvement Cell</a></li>
            <li><a href="#">Entrepreneurship Development Cell</a></li>
            <li><a href="#">Campus Connect - Infosys</a></li>
            <li><a href="#">Women Empowerment Cell</a></li>
            <li><a href="#">E - Yantra</a></li>
            <li><a href="#">Smart India Hackathan</a></li>

          </ul>
        </li>
        <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
          <ul>
            <li><a href="#">Civil Engineering</a></li>
            <li><a href="#">Computer Science Engg</a></li>
            <li><a href="#">Electronics &amp; Comm Engg</a></li>
            <li><a href="#">Electrical &amp; Electronics Engg</a></li>
            <li><a href="#">Instrumentation &amp; Control</a></li>
            <li><a href="#">Mechanical Engineering</a></li>
            <li><a href="#">Management Studies (MBA)</a></li>
            <li><a href="#">Science and Humanity</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
          <ul>
            <li><a href="#">Placement cell</a></li>
            <li><a href="#">Student Placement Details</a></li>
            <li><a href="#">Training Activities</a></li>
            <li><a href="#">Our Recruiters</a></li>
            <li><a href="#">Rank Holders</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#">NAAC</a></li>

        <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
   <!-- <a class="buy-tickets scrollto" style="position: relative;
    left: 200px;
    top: 25px;" href="#">Login</a>-->

  </div>
</header>
<!-- ======= Header ======= -->
<!-- End Header -->
<ul class="sn">
<li class="snbli"><a href="About.html">Department of IT</a></li>
<li class="snbli"><a href="Faculty_IT.html">Faculty</a></li>
<li class="snbli"><a href="laboratory_it.html">Lab Facilities</a></li>
<li class="snbli"><a href="seminarhall_it.html">Seminar Hall</a></li>
<li class="snbli"><a href="listofdoc_it.html">Research Cell</a></li>
<li class="snbli"><a href="ongoing_researchwork_it.html">On-Going Research</a></li>
<li class="snbli"><a href="funded projects_it.html">Funded Activities</a></li>
<li class="snbli"><a class="active" href="AU Dept. IT Performance.html">AU Dept Performance</a></li>
<li class="snbli"><a href="Placement_Details_IT.html">Placement Details</a></li>
<li class="snbli"><a href="contact us.html">Contact US</a></li>

</ul>


<section class="portfolio-block projects compact-grid" style="
  margin-left: -69vh;
  width: 281vh;
">
<br><br>
  <div class="section-header1" style="margin-top: 0rem;text-align: center;">

<div class="table1" style=" margin-top: -40rem;margin-left: 31rem;">

<center>
  <h4>AU Exams &amp; Academic Performance of the UG Programme </h4>
</center>
<br><br>
<table id="cus" style="width: 93%;margin-top: -22vh;height: 8rem;text-align: center;font-size: larger;">  
<tbody><tr>
      <th style="text-align: center;">ACADEMIC YEAR</th>
      <th style="text-align: center;">SEMESTER</th>
      <th style="text-align: center;">APPEARED</th>
      <th style="text-align: center;">PASSED</th>
      <th style="text-align: center;">PASS %</th>
  </tr>
  <tr>
      <td rowspan="2">2019-20</td>
      <td>Odd</td>
      <td>176</td>
      <td>120</td>
      <td>68.18</td>
  </tr>
  <tr>
      <td>Even</td>
      <td>178</td>
      <td>178</td>
      <td>100.00</td>
  </tr>
  <tr>
      <td rowspan="2">2018-19</td>
      <td>Odd</td>
      <td>166</td>
      <td>112</td>
      <td>66.46</td>
  </tr>
  <tr>
      <td>Even</td>
      <td>166</td>
      <td>121</td>
      <td>72.90</td>
  </tr>
  <tr>
      <td rowspan="2">2017-18</td>
      <td>Odd</td>
      <td>172</td>
      <td>141</td>
      <td>81.97</td>
  </tr>
  <tr>
      <td>Even</td>
      <td>172</td>
      <td>136</td>
      <td>79.07</td>
  </tr>
  <tr>
      <td rowspan="2">2016-17</td>
      <td>Odd</td>
      <td>161</td>
      <td>148</td>
      <td>91.93</td>
  </tr>
  <tr>
      <td>Even</td>
      <td>161</td>
      <td>132</td>
      <td>81.99</td>
  </tr>
  <tr>
      <td rowspan="2">2015-16</td>
      <td>Odd</td>
      <td>177</td>
      <td>104</td>
      <td>58.76</td>
  </tr>
  <tr>
      <td>Even</td>
      <td>177</td>
      <td>140</td>
      <td>79.10</td>
  </tr>
  <tr>
      <td rowspan="2">2014-15</td>
      <td>Odd</td>
      <td>182</td>
      <td>117</td>
      <td>64.29</td>
  </tr>
  <tr>
      <td>Even</td>
      <td>182</td>
      <td>141</td>
      <td>77.47</td>
  </tr>
  <tr>
      <td rowspan="2">2013-14</td>
      <td>Odd</td>
      <td>202</td>
      <td>142</td>
      <td>70.30</td>
  </tr>
  <tr>
      <td>Even</td>
      <td>200</td>
      <td>144</td>
      <td>72</td>
  </tr>
  <tr>
      <td rowspan="2">2012-13</td>
      <td>Odd</td>
      <td>202</td>
      <td>138</td>
      <td>67.33</td>
  </tr>
  <tr>
      <td>Even</td>
      <td>202</td>
      <td>138</td>
      <td>68.34</td>
  </tr>
  <tr>
      <td rowspan="2">2011-12</td>
      <td>Odd</td>
      <td>199</td>
      <td>125</td>
      <td>62.92</td>
  </tr>
  <tr>
      <td>Even</td>
      <td>199</td>
      <td>145</td>
      <td>73.43</td>
  </tr>
</tbody></table>
</div>

<br><br><br>
<div class="table2" style="margin-left: 31rem;">
<center>
<h4>Academic Performance - Students Graduated within Stipulated Period </h4>
</center>
<br><br>
<table id="cus" style="width: 93%;margin-top: -22vh;height: 8rem;text-align: center;font-size: larger;">

  <tbody><tr>
      <th style="text-align: center;">BATCH</th>
      <th style="text-align: center;">TOTAL NO OF STUDENTS</th>
      <th style="text-align: center;">FIRST CLASS WITH DISTINCTION</th>
      <th style="text-align: center;">FIRST CLASS </th>
      <th style="text-align: center;">SECOND CLASS </th>
      <th style="text-align: center;">TOTAL</th>
  </tr>
  <tr>
  <td align="center">2015-19</td>
  <td align="center">52</td>
  <td align="center">-</td>
  <td align="center">44</td>
  <td align="center">1</td>
  <td align="center">45</td>
  </tr>
  <tr>
  <td align="center">2014-18</td>
  <td align="center">60</td>
  <td align="center">-</td>
  <td align="center">51</td>
  <td align="center">4</td>
  <td align="center">55</td>
  </tr>
  <tr>
  <td align="center">2013-17</td>

  <td align="center">49</td>
  <td align="center">1</td>
  <td align="center">35</td>
  <td align="center">6</td>
  <td align="center">42</td>
  </tr>
  <tr>
  <td align="center">2012-16</td>
  
  <td align="center">67</td>
  <td align="center">-</td>
  <td align="center">50</td>
  <td align="center">7</td>
  <td align="center">57</td>
  </tr>
  <tr>
  <td align="center">2011-15</td>

  <td align="center">66</td>
  <td align="center">-</td>
  <td align="center">56</td>
  <td align="center">7</td>
  <td align="center">63</td>
  </tr>
</tbody></table>
</div>

<br>
<br>
<br>
<div class="table3" style="margin-left: 31rem;">
<h4>Class Toppers in University Exams - Semester Wise - Academic Year 2019-20</h4>
<br><br>
<table id="cus" style="width: 93%;margin-top: -22vh;height: 8rem;text-align: center;font-size: larger;margin-bottom: 30vh;">
  <tbody>
    
<tr>
<th style="text-align: center;">Year</th>
<th style="text-align: center;">Sem.</th>                
<th style="text-align: center;">Name of the Student</th>                
<th style="text-align: center;">Sem.</th>                
<th style="text-align: center;">Name of the Student</th>                
</tr>

<tr>
<td rowspan="3">4th Year</td>
<td rowspan="3">Odd Sem</td>    
<td>SARANYA. V
</td>
<td rowspan="3">Even Sem</td>    
<td rowspan="3" style="width:30.02%;  text-align:left;">
  <ol>
  <li>RITHI AFRA. J</li>
<li>AARTHI. L</li>
<li>AVISHNAMANI. K</li>
<li>SARASWATHI. B</li>
<li>MIRUNALINI. R</li>
<li>KALAI SELVI. J</li>
<li>SHALINI. M. R</li>
<li>SETURATHNAM. S</li>
</ol>
</td>
</tr>
<tr>
<td>ARUNA. N
</td>
</tr>
<tr>
<td>AGALYA. P,<br> PRIYADHARSHINI. M
</td>
</tr>
<tr>
<td rowspan="3">3rd Year</td>
<td rowspan="3">Odd Sem</td>    
<td>AARTHI. L
</td>
<td rowspan="3">Even Sem</td>    
<td rowspan="3" style="width:30.02%;  text-align:left;">
<ol>
<li>KAREESHINI. S</li>
<li>KEERTHANA. P</li>
<li>VAISHNAVI. M</li>
<li>SAFRIN FATHIMA. R</li>

</ol>
</td>
</tr>
<tr>
<td>RITHI AFRA. J
</td>
</tr>
<tr>
<td>SARASWATHI. B
</td>
</tr>
<tr>
<td rowspan="3">2nd Year</td>
<td rowspan="3">Odd Sem</td>    
<td>KAREESHINI. S
</td>
<td rowspan="3">Even Sem</td>    
<td rowspan="3" style="width:30.02%;  text-align:left;">
  <ol>
    <li>AARTHIKHA. R</li>
    <li>RAJAMURUGAN. M</li>
    <li>SINDHUJA. J</li>
    
</ol>
</td>
</tr>
<tr>
<td>SHERIN. R
</td>
</tr>
<tr>
<td>KEERTHANA. P
</td>
</tr>
</tbody></table>

</div>

</div></section>


<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top" style="position: relative;">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
          <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
            Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
            greatest ever Principal of National College. It is a self financing college approved by AICTE and
            affiliated to Anna University, Chennai.</p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>quick Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Saranathan College of Engineering
            Venkateswara Nagar,
            Trichy-Madurai Main Road (NH 45 B),
            Edamalaipatti Pudhur(Post), Panjappur,
            Thiruchirappalli - 620012<br>
            <strong>Phone:</strong> +91 8489915204<br>
            <strong>Email:</strong> sce@gmail.com<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
    <div class="container">
      <div class="copyright">
        © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
      </div>
    </div>
  </div>
</footer><!-- End  Footer -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>



</body></html>