<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SCE|IT-FAC </title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../../assets/css/stylefac.css">

    <!-- Template Main CSS File -->
    <link href="../../../assets/css/style.css" rel="stylesheet">
    <link href="../../../assets/css/facultymech.css" rel="stylesheet">
    <link href="style123.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
    <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
        <div class="container-fluid container-xxl d-flex align-items-center">

            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

            <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">

                <div class="parallelogram">
                    <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
    
">WINNERS BEGIN WITH SARANATHAN</h2>
                </div>
                <ul style="
    position: relative;
">
                    <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
                        <ul>
                            <li><a href="speaker-details.html">About the Instution</a></li>
                            <li><a href="FP.html">Founder President</a></li>
                            <li><a href="FS.html">Founder Secretary</a></li>
                            <li><a href="GC.html">Governing Council</a></li>
                            <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                            <li><a href="CC.html">College Committees</a></li>
                            <li><a href="infra.html">Infrastructure</a></li>
                            <li><a href="quality.html">Quality Policy</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
                        <ul>
                            <li><a href="#">Courses Offered</a></li>
                            <li><a href="#">Addmission Norms</a></li>
                            <li><a href="#">Admission Policy</a></li>
                            <li><a href="#">Code of Conduct</a></li>
                            <li><a href="#">Scholorship</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto active" href="center.html">Center</a>
                        <ul>
                            <li><a href="#">Center For Research</a></li>
                            <li><a href="#">Institute Industry Partnership Cell</a></li>
                            <li><a href="#">Quality Improvement Cell</a></li>
                            <li><a href="#">Entrepreneurship Development Cell</a></li>
                            <li><a href="#">Campus Connect - Infosys</a></li>
                            <li><a href="#">Women Empowerment Cell</a></li>
                            <li><a href="#">E - Yantra</a></li>
                            <li><a href="#">Smart India Hackathan</a></li>

                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
                        <ul>
                            <li><a href="#">Civil Engineering</a></li>
                            <li><a href="#">Computer Science Engg</a></li>
                            <li><a href="#">Electronics &amp; Comm Engg</a></li>
                            <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                            <li><a href="#">Instrumentation &amp; Control</a></li>
                            <li><a href="#">Mechanical Engineering</a></li>
                            <li><a href="#">Management Studies (MBA)</a></li>
                            <li><a href="#">Science and Humanity</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
                        <ul>
                            <li><a href="#">Placement cell</a></li>
                            <li><a href="#">Student Placement Details</a></li>
                            <li><a href="#">Training Activities</a></li>
                            <li><a href="#">Our Recruiters</a></li>
                            <li><a href="#">Rank Holders</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#">NAAC</a></li>

                    <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
            <!-- .navbar -->
            <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

        </div>
    </header>
    





  <ul class="snbul">
    <li class="snbli"><a href="About.html">Department of IT</a></li>
    <li class="snbli"><a class="active" href="Faculty_IT.html">Faculty</a></li>
    <li class="snbli"><a href="laboratory_it.html">Lab Facilities</a></li>
    <li class="snbli"><a href="seminarhall_it.html">Seminar Hall</a></li>
    <li class="snbli"><a href="listofdoc_it.html">Research Cell</a></li>
    <li class="snbli"><a href="ongoing_researchwork_it.html">On-Going Research</a></li>
    <li class="snbli"><a href="funded projects_it.html">Funded Activities</a></li>
    <li class="snbli"><a href="AU Dept. IT Performance.html">AU Dept Performance</a></li>
    <li class="snbli"><a href="Placement_Details_IT.html">Placement Details</a></li>
    <li class="snbli"><a href="contact us.html">Contact US</a></li>
  
  </ul>
        <section style="margin-top: 11rem;">
            <div>
                <h2 style="color: rgb(0, 0, 100); text-align: center; font-family: 'Montserrat'; margin-left:6rem; font-size: 2.1rem; margin-bottom: 2.2rem;">
                    Faculty Details
                </h2>

                <h6 style="color: rgb(0, 0, 100); font-family: 'Montserrat'; margin-left:58rem;font-size: 2.1rem; margin-bottom: 2.2rem;">
                    Cadre Ratio
                </h6>
                <table class="striped" style=" width: 70%; border: 2px solid rgba(54, 34, 34, 0.486);margin-left: 35rem;margin-right: auto; text-align: center; font-size: 1.5rem;">
                    <thead>
                        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                            <th style="border: white;border-style: solid;border-width: 1px;">Professor</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Associate Professor
                            </th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Assistant Professor
                            </th>

                    </tr></thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>8</td>
                        </tr>

                    </tbody>
                </table>
                <br><br><br>

                <h6 style="color: rgb(0, 0, 100);margin-left:46rem;font-size: 2.1rem;margin-bottom: 2.2rem;">
                    Faculty Qualification (as on June 2021 )
                </h6>
                <table class="striped" style="width: 70%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 35rem;margin-right: auto; text-align: center; font-size: 1.5rem;">
                    <thead>
                        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                            <th style="border: white;border-style: solid;border-width: 1px;">Faculty with Ph.D</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Faculty Pursuing Ph.Ds
                            </th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Faculty with M.E /
                                M.Tech</th>

                    </tr></thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>1</td>
                            <td>6</td>
                            <td>3</td>
                        </tr>

                    </tbody>
                </table>
                <br><br><br>

                <h6 style="color: rgb(0, 0, 100);margin-left:57rem;font-size: 2.1rem;margin-bottom: 2.5rem;">
                    Ph.D - Completed
                </h6>
                <table class="striped" style=" width: 70%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 35rem;margin-right: auto; text-align: center;font-size: 1.5rem;">
                    <thead>
                        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                            <th style="border: white;border-style: solid;border-width: 1px;">S.no</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Name of the Faculty
                            </th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Designation</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Year of Completion</th>


                    </tr></thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>1</td>
                            <td>Dr.V Punitha</td>
                            <td>Professor</td>
                            <td>2020</td>
                        </tr>
                    
                    </tbody>
                </table>
                <br><br><br>

                <h6 style="color: rgb(0, 0, 100);margin-left:58.5rem;font-size: 2.1rem;margin-bottom: 2.5rem;">
                    Ph.D - Persuing
                </h6>
                <table class="cus" style="width: 70%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 35rem;margin-right: auto; text-align: center;font-size: 1.5rem;">
                    <thead>
                        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                            <th style="border: white;border-style: solid;border-width: 1px;">S.no</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Name of the Faculty
                            </th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Designation</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Year of Registration
                            </th>


                    </tr></thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>1</td>
                            <td>Ms.N.Bhavani</td>
                            <td>Associate Professor</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Ms.J.Sangeethapriya</td>
                            <td>Assistant Professor</td>
                            <td>2017</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mr.V.Senthil Balaji</td>
                            <td>Assistant Professor</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Mr.P.Anand</td>
                            <td>Assistant Professor</td>
                            <td>2019</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Mr.R.Rengaraj alias Muralidharan</td>
                            <td>Assistant Professor</td>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Ms.M.Padma Priya</td>
                            <td>Assistant Professor</td>
                            <td>2018</td>
                        </tr>
            
                    </tbody>
                </table>
                <br><br><br>

                <h6 style="color: rgb(0, 0, 100);margin-left:60.5rem;font-size: 2.1rem;margin-bottom: 2.5rem;">
                    M.E/M.Tech
                </h6>
                <table class="cus" style=" width: 70%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 35rem;margin-right: auto; text-align: center;font-size: 1.5rem;">
                    <thead>
                        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                            <th style="border: white;border-style: solid;border-width: 1px;">S.no</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Name of the Faculty
                            </th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Designation</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Year of Completion</th>


                    </tr></thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>1</td>
                            <td>Ms.A.Sheelavathi</td>
                            <td>Assistant Professor</td>
                            <td>2012</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Mr.V.Manoj Kumar</td>
                            <td>Assistant Professor</td>
                            <td>2013</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Ms.K.Muthukarupaee</td>
                            <td>Assistant Professor</td>
                            <td>2016</td>
                        </tr>


                    </tbody>
                </table>
                <br><br><br>
            </section>
<div style="position: relative;margin-top: 110vh;margin-bottom: 35vh;">

                <h6 style="color: rgb(0, 0, 100);margin-left:59.2rem;font-size: 2.1rem;margin-bottom: 3.5rem;">
                    Faculty Profiles
                </h6>

                <p style="color: rgb(0, 0, 100);font-size: 2.1rem;margin-bottom: 8rem;margin-left: 35rem;">
                    Professors
                </p>
                <div class="profile-container" style="margin-left: 40rem; margin-top: -12rem;">

                    <div class="profile-card">
                        <img src="http://www.saranathan.ac.in/images/punitha-it.jpg" alt="image1" class="profile-icon">
                        <div class="profile-name">Dr. V Punitha, M.E., Ph.D</div>
                        <div class="profile-position">Professor &amp; Head</div>
                        <div class="profile-email">punitha-it@saranathan.ac.in</div>
                
                      </div>
                 </div>
                 <p style="color: rgb(0, 0, 100);font-size: 2.1rem;margin-left: 35rem;margin-top: -23rem;">Associate Professors</p>
                 <br>
                 <div class="profile-container" style="margin-left: 40rem;align-items: left;justify-content: left;">
                  
                   <div class="profile-card" style="margin-top: -50rem;">
                     <img src="http://www.saranathan.ac.in/images/bhavani-it.jpg" alt="image2" class="profile-icon">
                     <div class="profile-name">Ms. N Bhavani, M.E.,</div>
                     <div class="profile-position">Associate Professor</div>
                     <div class="profile-email">bhavani-it@saranathan.ac.in</div>
                     </div>  
                 </div>

                <p style="color: rgb(0, 0, 100);margin-left: 180px;font-size: 2.1rem;margin-top:-50rem;margin-left: 35rem;">
                    Assistant Professors</p>
                <div class="profile-container" style="margin-left: 40rem;margin-top: -3rem; ">
                    <div class="profile-card" style="height: 20rem;">
                        <img src="http://www.saranathan.ac.in/images/jspriya-it.jpg" alt="image3" class="profile-icon">
                        <div class="profile-name">Ms. J Sangeethapriya, M.Tech.,</div>
                        <div class="profile-position">Assistant Professor<br>jspriya-it@saranathan.ac.in</div>
                
                      </div>
                      <div class="profile-card">
                        <img src="http://www.saranathan.ac.in/images/senthilbalaji-it.jpg" alt="image3" class="profile-icon">
                        <div class="profile-name"> Mr. V Senthil Balaji, M.E.,</div>
                        <div class="profile-position">Assistant Professor<br>senthilbalaji-it@saranathan.ac.in</div>
                
                      </div>
                      <div class="profile-card">
                        <img src="http://www.saranathan.ac.in/images/anand-it.jpg" alt="image3" class="profile-icon">
                        <div class="profile-name">Mr. P Anand, M.E.,</div>
                        <div class="profile-position">Assistant Professor<br>
                          anand-it@saranathan.ac.in</div>
                
                      </div>
                      
                </div>
                <div class="profile-container" style="margin-left: 40rem;margin-top: -30rem;">
                    
                        <div class="profile-card">
                          <img src="http://www.saranathan.ac.in/images/sheelavathi-it.jpg" alt="image3" class="profile-icon">
                          <div class="profile-name">Ms. A Sheelavathi, M.E.,</div>
                          <div class="profile-position">Assistant Professor<br>
                            sheelavathi-it@saranathan.ac.in</div>
                  
                        </div>
                        <div class="profile-card">
                          <img src="http://www.saranathan.ac.in/images/padmapriya-it.jpg" alt="image3" class="profile-icon">
                          <div class="profile-name">Ms. M Padmapriya, M.E.,</div>
                          <div class="profile-position">Assistant Professor<br>
                            padmapriya-it@saranathan.ac.in</div>
                  
                        </div>
                        <div class="profile-card" style="height: 22rem;">
                          <img src="http://www.saranathan.ac.in/images/manojkumar-it.jpg" alt="image3" class="profile-icon">
                          <div class="profile-name">Mr. V Manoj Kumar, M.E.,</div>
                          <div class="profile-position">Assistant Professor<br>
                            manojkumar-it@saranathan.ac.in</div> 
                        </div>
                </div>
                <div class="profile-container" style="margin-left: 47rem;margin-top: -30rem;">
                <div class="profile-card" style="height: 22rem;">
                    <img src="http://www.saranathan.ac.in/images/rengaraj-it.jpg" alt="image3" class="profile-icon">
                    <div class="profile-name">Mr. R Rengaraj alias Muralidharan, M.E</div>
                    <div class="profile-position">Assistant Professor<br>rengaraj-it@saranathan.ac.in</div>
            
                  </div>
                <div class="profile-card">
                  <img src="http://www.saranathan.ac.in/images/muthukarupaee-it.jpg" alt="image3" class="profile-icon">
                  <div class="profile-name">Ms. K Muthukarupaee, M.E.,</div>
                  <div class="profile-position">Assistant Professor<br>
                    muthukarupaee-it@saranathan.ac.in</div> 
                </div>
                </div>
            </div>


        </div>

            <br>
            <br>
            <!-- ======= Footer ======= -->
            <footer id="footer" style="margin-top: 10rem;">
                <div class="footer-top" style="position: relative;">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-3 col-md-6 footer-info">
                                <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE
                                </h3>
                                <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva
                                    Mani”
                                    Auditor Sri. K.
                                    Santhanam in the year 1998. It was so named in respectful memory of his Guru
                                    Principal
                                    Saranathan, the
                                    greatest ever Principal of National College. It is a self financing college
                                    approved by
                                    AICTE and
                                    affiliated to Anna University, Chennai.</p>
                            </div>

                            <div class="col-lg-3 col-md-6 footer-links">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-md-6 footer-links">
                                <h4>quick Links</h4>
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement
                                            Details</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-md-6 footer-contact">
                                <h4>Contact Us</h4>
                                <p>
                                    Saranathan College of Engineering
                                    Venkateswara Nagar,
                                    Trichy-Madurai Main Road (NH 45 B),
                                    Edamalaipatti Pudhur(Post), Panjappur,
                                    Thiruchirappalli - 620012<br>
                                    <strong>Phone:</strong> +91 8489915204<br>
                                    <strong>Email:</strong> sce@gmail.com<br>
                                </p>

                                <div class="social-links">
                                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                    <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="container">
                        <div class="copyright">
                            © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
                        </div>
                    </div>
                </div>
            </footer><!-- End  Footer -->
            <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>



</body></html>