<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TheEvent Bootstrap Template - Speaker Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../..assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->

  <main id="main" class="main-page">
    <ul class="snbul" style="    top: 11rem;
    width: 257px;
    margin-left: 2rem;">
      <li class="snbli"><a href="speaker-details.html">About the Instution</a></li>
      <li class="snbli"><a  class="active"  href="FP.html">Founder President</a></li>
      <li class="snbli"><a href="FS.html">Founder Secretary</a></li>
      <li class="snbli"><a href="GC.html">Governing Council</a></li>
      <li class="snbli"><a href="KPI.html">Key Persons of Instituion</a></li>
      <li class="snbli"><a href="CC.html">College Commities</a></li>
      <li class="snbli"><a href="infra.html">Infrastructure</a></li>
      <li class="snbli"><a href="quality.html">Quality Policy</a></li>
    </ul>

    <div style="margin-left:25%;padding:1px 16px;height:100%;">
      <div id="icontent2" style="
      position: absolute;
      top: 17.5%;
      left: 12%;
      width: 87%;
      text-align: justify;
      ">
                        

<table style="margin-left: 80px;"> <tbody><tr><td><img height="260px" src="https://www.saranathan.ac.in/img/mgt/venkatweswara.jpg"></td></tr>
<tr><td><font color="blue"><b>Sri Y.Venkateswara Dikshidar</b></font></td><tr style="text-align: center;"><td><font color="blue"> Founder President</font></td></tr></tr>
<tr align="center"></tr>
</tbody></table>




<div class="row" style="position: absolute;width: 100%;">
        
      
	  
	   


<!-- Navigation Part End -->






<section class="py-5 bg-grey navbar-expand-lg">
<div class="container" style="position: relative;left: 3.5%;">
 
 <div class="row" style="position: relative;width: 127%;left: -13%;">
 <div class="col-lg-12">
  <p class="mb-2">
    Sri Y.Venkateswara Dikshidar, YVD as he was affectionately called, by his contemporaries and as Dhikshidhar by his admirers, was one of the most popular persons of Thriuvanai Kovil, nay Tamil Nadu. He was a public figure who had occupied with distinction many posts such Chairman of the Srirangam Municipality, Member of the Legislative Assembly of Tamil Nadu, Member of the Legislative Council, Chairman of the Agriculturists' Association, President of the National College Council for three decades, etc. He was also the Founder President of the Saranathan College of Engineering as well as of Shrimati Indira Gandhi College and Sri Jayendra Matriculation Higher Secondary School. He was also a Philanthropist and a lover of mankind. He had made his mark in Politics, Religion and Social life.  
  </p><p class="mb-3">
  <!-- new addition -->
  <span class="panel-body style6"><br>
  <!-- new addition end -->
  As a member of the Legislative Assembly he was a force to reckon with. He had cultivated the friendship of several Ministers and fellow MLAs by virtue of his participation in the Assembly Proceedings, championing sociological problems on their merits. Thanks to his close association with the then Education Minister the National College Council secured affiliation / recognition for all classes from the Sixth standard to the Twelfth in Sri Jayendra Matriculation Higher Secondary School, at one stretch. It was something unprecedented in the history of Matriculation Schools.
  <br>
  
  
   </span></p><p class="mb-2">
    He was the President of several organizations, one of them being the Agriculturists' Association. In that capacity, he had led many agitations with success. In fact there was no agitation in which he did not participate for the sake of public good.
  
    He was a gifted speaker with a sense of humour. He required no time or preparation for his speech. In fact he was an expert at making impromptu speeches on any subject and on any occasion. His speeches always kept the audience in good humour. They were always eager to listen and never felt bored.
    
    He was President of the National College Council for three decades. His tenure as President was coeval with the tenure of K.Santhanam as Secretary. The Duo constituted an excellent pair who always worked in unison for the cause of education and the founding of Shrimati Indira Gandhi College for Women, Sri Jayendra Matriculation Higher Secondary School for Girls and the Saranathan College of Engineering for both Men and Women.
  
    He was also the Head of several religious bodies and did commendable service to Temples. He was also a staunch disciple of the Kanchi Mutt and played a significant role in the Renovation and Kumbabishekam of Sri Akilandeshwari Jambukeswarer Temple at Tiruvanaikovil.
  </p><br>
  
    <p class="mb-5">
    He combined religion with secularism, had a genial temperament and a cosmopolitan outlook. He lived a life of extreme simplicity, never indulged in luxury and never distinguished between the high and the low in attending functions like marriages. Just an invitation or even a word of mouth would be enough to ensure his presence on the dot at the function. That was the secret of his popularity.
  
  He was the godfather of many poor boys and had helped a good many in getting admissions and scholarships and even appointments in our institutions and elsewhere.
  
  </p>
  <p style="line-height:25px;">He was the godfather of many poor boys and had helped a good many in getting admissions and scholarships and even appointments in our institutions and elsewhere.</p>

  <p style="line-height:25px;">Above all our Founder Secretary K. Santhanam had the greatest regard for him as his guide and mentor and never embarked upon any project without prior consultation
    with and advice from him. It was as a token of his love and regard for him that Santhanam named the Shopping Complex in Shrimati Indira Gandhi College Campus as Y.Venkateswara Dikshidar Shopping Complex and
    the A/C Seminar Hall in the Pethachi Chettiar Block as Y. Venkateswara Dikshidar A/C Seminar Hall and the campus of the Saranathan College of Engineering as Venkateswara Nagar.  </p>

    <p style="line-height:25px;">By far his greatest virtue was his universal popularity. He lived to a ripe old age of ninety. His mission in life having been fulfilled he was called to eternal rest on 29th July 2006.
			He will ever be remembered by his Friends, Associates and Beneficiaries! </p>
 </div>
 </div>
 </div>
 </section>      
 


</div>
<br>
           
        <!--              
                 <img src="images/blank5.png"/>       
           --> 
          
            </div>
    </div>
    
    <!-- ======= Speaker Details Sectionn ======= -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="position: relative;top: 640px;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->



  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/aos/aos.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../assets/js/main.js"></script>








</body></html>