<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TheEvent Bootstrap Template - Speaker Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->

  <main id="main" class="main-page">
    <ul class="snbul" style="    top: 11rem;
    width: 257px;
    margin-left: 2rem;">
      <li class="snbli"><a  href="speaker-details.html">About the Instution</a></li>
      <li class="snbli"><a href="FP.html">Founder President</a></li>
      <li class="snbli"><a href="FS.html">Founder Secretary</a></li>
      <li class="snbli"><a href="GC.html">Governing Council</a></li>
      <li class="snbli"><a href="KPI.html">Key Persons of Instituion</a></li>
      <li class="snbli"><a href="CC.html">College Commities</a></li>
      <li class="snbli"><a class="active"href="infra.html">Infrastructure</a></li>
      <li class="snbli"><a href="quality.html">Quality Policy</a></li>
    </ul>

    <div style="margin-left:25%;padding:1px 16px;height:100%;">
      <div id="icontent2" style="
      position: absolute;
      top: 17.5%;
      left: 12%;
      width: 87%;
      text-align: justify;
      ">
<div class="row" style="position: absolute;width: 100%;">
        
      
	  
	   


<!-- Navigation Part End -->






<section class="py-5 bg-grey navbar-expand-lg">
<div class="container" style="position: relative;left: 3.5%;">
 
 <div class="row" style="position: relative;width: 127%;left: -13%;">
 <div class="col-lg-12">
  <h3 align="center">Infrastructure</h3><br>
		
  <h4>Secretary K.Santhanam Block</h4>
           <ul>
               <li>The imposing Main Block named `SECRETARY K.SANTHANAM BLOCK  has three floors covering an area of 77,000 sq. ft</li>
                <li>It accommodates class rooms, tutorial rooms, seminar halls, laboratories for the Electrical Department, Electronics and Communication Department and Instrumentation and Control Engineering Department. </li>
           </ul>
<br>
         <h4>RV Block &amp; Kamaraj Block</h4>
           <ul>
<li> The RV Block covering an area of 76,500 sq. ft </li> 
               <li>It accommodates class rooms, tutorial rooms, seminar halls, and Common laboratories for the Computer Science and Engineering Department, Information Technology Department, First Year common courses and it also accommodates  administrative offices. </li>

       </ul>
<br>
           <h4>Jagadguru Sri Jayendra Saraswathi Block</h4>
           <ul>
<li> The Jagadguru Sri Jayendra Saraswathi block covering an area of 25,300 sq. ft </li> 
               <li>It houses the Civil Department and its Laboratories, Library and Conference Hall.</li>
           </ul>
           <h4>Poojyasri Rajaji Block</h4>
           <ul>
<br>
<li> The Poojyasri Rajaji block covering an area of 25,300 sq. ft </li> 
               <li>It houses the Department of Management Studies, General Library, Digital Library &amp; Conference Hall.</li>
           </ul>
<br>
         <h4>Mechanical Workshop</h4>
           <ul>
<li> The Mechanical workshop covering an area of 21,600 sq. ft </li> 
               <li>It accommodates class rooms, tutorial rooms, seminar halls, and  laboratories for the Mechanical Department. </li>

       </ul>
<br>
         <h4>Annadurai Iyer Mechanical Labs</h4>
           <ul>
<li> The Annadurai Iyer Mechanical Labs covering an area of 10,400 sq. ft </li> 
               <li>It accommodates Laboratories for the Mechanical Department. </li>
       </ul>
<br>
         <h4>Common Workshop</h4>
           <ul>
<li> The Workshop is covering an area of 10,100 sq. ft </li> 
               <li>It accommodates First Year Common Course Laboratories and Mechanical Department Laboratories. </li>
       </ul>
<br>
         <h4>Boys Hostel</h4>
           <ul>
<li> The Boys Hostel covering an area of 40,400 sq. ft </li> 
<li>It is equipped with Play Ground, Computer Center, and Wi-Fi Facility. </li>
<li>It consists of 40KVA Power Generator Facility. </li>
<li><a target="_blank" href="attachments/Boys_hostel_rules.pdf">Boys hostel rules and regulation</a></li>
</ul>
<br>
         <h4>Girls Hostel</h4>
           <ul>
<li> Mini computer center with 10 Mbps internet connectivity and Wi-Fi connectivity </li> 
<li>24-Hour all round security service to ensure safety of inmates.</li>
<li>Pure drinking water from RO plant. </li>
<li>It consists of 125KVA Power Generator Facility.</li>
<li><a target="_blank" href="attachments/Girls_Hostel_Rules_2014-15.pdf">Girls Hostel rules and regulation</a></li>
       </ul>
<br>
         <h4>Generator Room</h4>
           <ul>
<li> The Generator Room covering an area of 3,300 sq. ft </li> 
               <li>It consists of 625KVA and 140KVA Power Generator Facility. </li>
       </ul>
<br>
         <h4>Canteen</h4>
           <ul>
<li> The Canteen covering an area of 8,350 sq. ft </li> 
               <li>It consist of separate dinning halls for both boys and girls. </li>
       </ul>
<br>
         <h4>Shed</h4>
           <ul>
<li> The Shed covering an area of 17,100 sq. ft </li> 
               <li>Combination of Three Parking shed, exclusively meant both Students and Staff. </li>
       </ul>
<br>
         <h4>Security Room</h4>
           <ul>
<li> The Security Room covering an area of 300 sq. ft </li> 
       </ul>

 </div>
 </div>
 </div>
 </section>      
 


</div>
<br>
           
        <!--              
                 <img src="images/blank5.png"/>       
           --> 
          
            </div>
    </div>
    
    <!-- ======= Speaker Details Sectionn ======= -->


  </main><br><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="position: relative;top: 640px;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->



  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/aos/aos.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../assets/js/main.js"></script>









</body></html>