<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TheEvent Bootstrap Template - Speaker Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->

  <main id="main" class="main-page">
    <ul class="snbul" style="    top: 11rem;
    width: 257px;
    margin-left: 2rem;">
      <li class="snbli"><a  href="speaker-details.html">About the Instution</a></li>
      <li class="snbli"><a href="FP.html">Founder President</a></li>
      <li class="snbli"><a href="FS.html">Founder Secretary</a></li>
      <li class="snbli"><a href="GC.html">Governing Council</a></li>
      <li class="snbli"><a href="KPI.html">Key Persons of Instituion</a></li>
      <li class="snbli"><a href="CC.html">College Commities</a></li>
      <li class="snbli"><a href="infra.html">Infrastructure</a></li>
      <li class="snbli"><a class="active" href="quality.html">Quality Policy</a></li>
    </ul>

    <div style="margin-left:25%;padding:1px 16px;height:100%;">
      <div id="icontent2" style="
      position: absolute;
      top: 17.5%;
      left: 12%;
      width: 87%;
      text-align: justify;
      ">
<div class="row" style="position: absolute;width: 100%;">
        
      
	  
	   


<!-- Navigation Part End -->






<section class="py-5 bg-grey navbar-expand-lg">
<div class="container" style="position: relative;left: 3.5%;">
 
 <div class="row" style="position: relative;width: 127%;left: -13%;">
 <div class="col-lg-12">
  <h3 align="center">Quality Policy</h3><br>
		
    <h4>National Policy on Education</h4>
    
    <br><table align="center">
                              <tbody><tr>
                                <td><br>
                                  
                                  <img id="qp" src="https://www.saranathan.ac.in/img/icon/na.gif" alt="" width="130px" height="150px"></td>
                                
                            
                        
                        
                            
    
    <td><p style="line-height:25px;">Educational policy and progress have been reviewed in the light of the goal of national development and priorities set from time to time.
    In its Resolution on the National Policy on Education in 1968, quality improvement and a planned and more equitable expansion of educational
    facilities and the need to focus on the education of girls were stressed.</p>

    <p style="line-height:25px;">About a decade and a half later, the National Policy on Education (NPE-1986) was formulated, which was further updated in 1992.
    The NPE 1986 provides for a comprehensive policy framework for the development of education upto the end of the century and
    a Plan of Action (POA) 1992, entrusting specific responsibilities for organizing, implementing and financing its proposals.</p></td>
    
    </tr>
    
    </tbody></table>
                            <br><br><br>
    
    <h4>Anna University Quality Policy</h4>
    
    
    
    
    <table align="center" style="margin-left: 0%;">
                              <tbody><tr>
                                <td><br>
                                  
                                  <img id="qp" src="https://www.saranathan.ac.in/img/icon/anna2.png" alt="" width="150px" height="150px"></td>
                                
                              
                            
    <td>
    <p style="line-height:25px;">Raising the quality of education and maintaining the University as an effective human resource development institution under all changing conditions.</p>

    <p style="line-height:25px;">Contributing to the growth of technical education and upholding the highest ethical and professional standards.</p>
    
    <p style="line-height:25px;">Serving society to lead to its enrichment and advancement</p>
    
    <p style="line-height:25px;">Discharging duties and obligations to the students and staff efficiently.</p>
    
    <p style="line-height:25px;">Improving the effectiveness of the Quality Management System continually.</p></td>
    
    </tr>
    
    </tbody></table>
                            <br><br><br>
    
    
    <h4>Vision</h4>
                        
                            <br><table align="center">
                              <tbody><tr>
                                <td><br>
                                  
                                  <img id="qp" src="https://www.saranathan.ac.in/img/vm/v.jpg" alt="" width="150px" height="150px"></td>
                                
                              
                            
                        
                        
                            
                            <td><p style="line-height:25px;">
                                <!-- To mould the College into a Top Class National / International Centre of Advanced Learning, Technology and Research and enhance National
    human resource and its Power.-->
    Impart an inclusive engineering education that beyond being a facilitator for a career and rudimentary skills, equips the students to offer ethically &amp; environmentally conscious solutions to societal issues.
    </p></td>
                                        
                        </tr>
                            </tbody></table>
                            <br><br><br>
                                        
                                                
<h4>Mission</h4>
                        
                        <br><table align="center">
                              <tbody><tr>
                                <td><br>
                                  
                                  <img id="qp" src="https://www.saranathan.ac.in/img/vm/m.jpg" alt="" width="150px" height="150px"></td>
                                
                            
                        
                        
                            
                            <td><p style="line-height:25px;">
Develop the Institution into a Model Self Financing College of Engineering and Technology.Deliver Professional Training to our students with state-of-the art Laboratories and convert them into Technocrats of international repute.
</p><ol>
<li>Create a nurturing, holistic environment of engineering education to facilitate every student realize their full potential.</li>
<li>Strive to make the students strong in basic concepts armed with appropriate skills to enhance one’s ability to apply the knowledge and provide solutions to real time issues.</li>
<li>Maintain an ambience that facilitates the students to strengthen their ethical value systems.</li>
<li>Actively promote R&amp;D and institute-industry interaction.</li>
</ol>								    <!--
                                Develop the Institution into a Model Self Financing College of Engineering and Technology. Professional Training to our students with State of the art Laboratories and converting them into Technocrats of international repute.
                                --> 
                                <p></p></td>
    
  </tr>
                            </tbody></table>

 </div>
 </div>
 </div>
 </section>      
 


</div>
<br>
           
        <!--              
                 <img src="images/blank5.png"/>       
           --> 
          
            </div>
    </div>
    
    <!-- ======= Speaker Details Sectionn ======= -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="position: relative;top: 640px;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->



  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/aos/aos.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../assets/js/main.js"></script>









</body></html>