<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SCE | CSE Lab</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../../../assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../../../assets/css/smoothproducts.css">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">


    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center" style="
  background-color: white;
  height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;
  ">
        <div class="container-fluid container-xxl d-flex align-items-center">

            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

            <nav id="navbar" style="position: relative;left: 3%;" class="navbar order-last order-lg-0">

                <div class="parallelogram">
                    <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
                </div>

                <ul style="
    position: relative;
">
                    <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
                        <ul>
                            <li><a href="speaker-details.html">About the Instution</a></li>
                            <li><a href="FP.html">Founder President</a></li>
                            <li><a href="FS.html">Founder Secretary</a></li>
                            <li><a href="GC.html">Governing Council</a></li>
                            <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                            <li><a href="CC.html">College Committees</a></li>
                            <li><a href="infra.html">Infrastructure</a></li>
                            <li><a href="quality.html">Quality Policy</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
                        <ul>
                            <li><a href="#">Courses Offered</a></li>
                            <li><a href="#">Addmission Norms</a></li>
                            <li><a href="#">Admission Policy</a></li>
                            <li><a href="#">Code of Conduct</a></li>
                            <li><a href="#">Scholorship</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
                        <ul>
                            <li><a href="#">Center For Research</a></li>
                            <li><a href="#">Institute Industry Partnership Cell</a></li>
                            <li><a href="#">Quality Improvement Cell</a></li>
                            <li><a href="#">Entrepreneurship Development Cell</a></li>
                            <li><a href="#">Campus Connect - Infosys</a></li>
                            <li><a href="#">Women Empowerment Cell</a></li>
                            <li><a href="#">E - Yantra</a></li>
                            <li><a href="#">Smart India Hackathan</a></li>

                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
                        <ul>
                            <li><a href="#">Civil Engineering</a></li>
                            <li><a href="#">Computer Science Engg</a></li>
                            <li><a href="#">Electronics &amp; Comm Engg</a></li>
                            <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                            <li><a href="#">Instrumentation &amp; Control</a></li>
                            <li><a href="#">Mechanical Engineering</a></li>
                            <li><a href="#">Management Studies (MBA)</a></li>
                            <li><a href="#">Science and Humanity</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
                        <ul>
                            <li><a href="#">Placement cell</a></li>
                            <li><a href="#">Student Placement Details</a></li>
                            <li><a href="#">Training Activities</a></li>
                            <li><a href="#">Our Recruiters</a></li>
                            <li><a href="#">Rank Holders</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#">NAAC</a></li>

                    <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
            <!-- .navbar -->
            <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

        </div>
    </header>
    <!-- End Header -->

    <!--Sidebar starts-->
    <ul class="sn" style="
    top: 10.5rem;
">
        <li class="snbli"><a href="about.html">Department of CSE</a></li>

        <li class="snbli"><a href="faculty.html">Faculty</a></li>
        <li class="snbli"><a href="facilities.html" class="active">Facilities</a></li>
        <li class="snbli"><a href="research-cell.html">Research Cell</a></li>
        <li class="snbli"><a href="dept-performance.html">AU Dept. Details</a></li>
        <li class="snbli"><a href="placements.html">Placement Details</a></li>
        <li class="snbli"><a href="contact.html">Contact US</a></li>
    </ul>
    <!--Sidebar ends-->

    <!--Content Starts-->
    <div id="icontent5" style="position: absolute;top: 150px; left: 360px;width: 70%;">
        <div>
            <h3>
                <center style="
    position: relative;
    top: 2rem;
">CSE Laboratory</center>
            </h3>
        </div>
        <div>
            <p style="margin-top: 5%; margin-bottom: 5%; font-size:20p">
                CSE Department Computer Lab consists of 154 computer systems which are connected through LAN with layer 2 switches (hybrid topology) and has a 1 Gbps fiber optic backbone.
            </p>
        </div>
        <table style="font-family:'Poppins';top: -5vh;left: -50vh;width: 111%;" id="cus">
            <thead>
                <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                    <th style="border: white;border-style: solid;border-width: 1px;">Lab Name</th>
                    <th style="border: white;border-style: solid;border-width: 1px;">Lab Space/<br>Lab Area</th>
                    <th style="border: white;border-style: solid;border-width: 1px;">No. of Computers</th>
                    <th style="border: white;border-style: solid;border-width: 1px;">Specification</th>
            </tr></thead>

            <tbody><tr>
                <td>
                    <center> LAB 1 </center>
                </td>
                <td>
                    <center> 80 Sq.m </center>
                </td>
                <td>
                    <center><b>39</b></center>
                </td>
                <td>Intel Core i5-5250U CPU @ 1.60GHz <br> Intel NUC5i5RYB Motherboard,<br> 8 GB DDR-3 RAM – 1600 MHz,<br> 500 GB SATA Hard Drive,<br> 19” LG LED Monitor,<br> Logitech Keyboard, Optical mouse,<br> 1000 Mbps Ethernet Card,<br> Integrated WiFi
                    and Bluetooth<br>
                </td>
            </tr>
            <tr>
                <td>
                    <center> LAB 2 </center>
                </td>
                <td>
                    <center> 80 Sq.m </center>
                </td>
                <td>
                    <center> <b>36 </b></center>
                </td>
                <td><b><center>ACER VERITON M200</center></b> Intel Corei5-6400@2.70 GHz, 2MB Cache <br> Intel 945G Express chipset Motherboard<br> 8GB DDR3 RAM<br> 1TB SATA Hard Disk <br> 18.5" LED Color Monitor <br> Multimedia Keyboard, Optical Mouse <br>                    Windows 7 64-bit / UBUNTU 16.04 LTS 64 bit<br>
                </td>
            </tr>
            <tr>
                <td>
                    <center> LAB 3 </center>
                </td>
                <td>
                    <center> 80 Sq.m </center>
                </td>
                <td>
                    <center> <b>36 </b></center>
                </td>
                <td><b><center>ACER VERITON M200</center></b> Intel Corei5-6400@2.70 GHz, 3MB Cache <br> 8GB DDR3 RAM<br> 1TB SATA Hard Disk <br> 18.5" LED Color Monitor <br> Multimedia Keyboard, Optical Mouse <br> Windows 7 64-bit / UBUNTU 16.04 LTS 64 bit<br>
                </td>
            </tr>
            <tr>
                <td>
                    <center> LAB 4 </center>
                </td>
                <td>
                    <center> 80 Sq.m </center>
                </td>
                <td>
                    <center> <b>39 </b></center>
                </td>
                <td><b><center>ACER POWER SERIES</center></b> Intel Core2Duo@2.20 GHz, 3MB Cache <br> 2GB DDR3 RAM<br> 80GB SATA Hard Disk <br> 15" CRT Color Monitor <br> Multimedia Keyboard, Optical Mouse <br> Windows XP SP3<br>
                </td>
            </tr>

            <tr>
                <td rowspan="3">
                    <center> Research Lab </center>
                </td>
                <td rowspan="3">
                    <center> 80 Sq.feet </center>
                </td>
                <td>
                    <center> <b>2</b> </center>
                </td>
                <td>
                    <center><b>Intel NUCKIT</b></center>
                    Intel Corei5-5250U@1.60 GHz <br> Ram : 8 GB<br> Hard Disk Capacity : 500 GB<br> Monitor : 18.5'' LED<br> Operating System : Windows 7 64-bit / UBUNTU 16.04 LTS 64 bit
                </td>
            </tr>
            <tr>
                <td>
                    <center> <b>2</b> </center>
                </td>
                <td>
                    <center><b>ACER VERITON M200</b></center>
                    Processor Speed : Intel Corei5-6400@2.70 GHz<br> Ram : 8 GB<br> Hard Disk Capacity : 1 TB<br> Monitor : 18.5'' LED<br> Operating System : Windows 7 64-bit / UBUNTU 16.04 LTS 64 bit<br>
                </td>
            </tr>
            <tr>
                <td>
                    <center> <b>3</b> </center>
                </td>
                <td>
                    <center><b>ACER VERITON M200</b></center>
                    Processor Speed : Intel Corei5-6400@2.70 GHz<br> Ram : 8 GB<br> Hard Disk Capacity : 1 TB<br> Monitor : 18.5'' LED<br> Operating System : Windows 7 64-bit / UBUNTU 16.04 LTS 64 bit
                </td>
            </tr>
            </tbody>
        </table>

        <div style="margin-top: 5% ;margin-bottom: 5%;">
            <h4>
                <center style="
    margin-top: -9%;
">Common Facilities</center>
            </h4>
        </div>
        <table style="font-family:'Poppins';left: -50vh;top: -5vh;width: 111%;" id="cus">
            <tbody>
                </tbody><thead>
                    <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                        <th style="border: white;border-style: solid;border-width: 1px;">Lab Name</th>
                        <th style="border: white;border-style: solid;border-width: 1px;">Lab Space/<br>Lab Area</th>
                        <th style="border: white;border-style: solid;border-width: 1px;">No. of Computers</th>
                        <th style="border: white;border-style: solid;border-width: 1px;">Specification</th>
                    </tr>
                </thead>
                <tbody><tr>
                    <td rowspan="3">
                        <center> Common Computing Lab </center>
                    </td>
                    <td rowspan="3">
                        <center> 400 Sq.feet </center>
                    </td>
                    <td>
                        <center> <b>1</b> </center>
                    </td>
                    <td><b></b>
                        <center><b>ACER VERITON</b></center>
                        Intel Corei3@3.30 GHz<br> Intel 915 Express Chipset Motherboard<br> 2GB DDR2 RAM <br> 500GB SATA Hard Disk <br> 18.5" LED Color Monitor <br> HP Keyboard, Optical Scroll Mouse <br> Intel GMA 900, Integrated Audio, 10/100/1000Mbps
                        LAN Operating System : Windows 7 32 bit
                    </td>
                </tr>
                <tr>
                    <td>
                        <center> <b>29</b> </center>
                    </td>
                    <td><b></b>
                        <center><b>ACER POWER SERIES</b></center>
                        Intel Pentium 4 @ 3.0 GHz<br> Intel 915 Express Chipset Motherboard<br> 512 MB RAM <br> 80GB SATA Hard Disk <br> 15" CRT Color Monitor <br> Multimedia Keyboard, Optical Scroll Mouse <br> Intel GMA 900, Integrated Audio, 10/100/1000Mbps
                        LAN Operating System : UBUNTU 12.04 LTS 32 bit
                    </td>
                </tr>
                <tr>
                    <td>
                        <center> <b>38</b> </center>
                    </td>
                    <td><b></b>
                        <center><b>HP COMPAQ</b></center>
                        Intel Pentium 4 @ 3.0 GHz<br> Intel 915 Express Chipset Motherboard<br> 512 MB RAM <br> 40GB SATA Hard Disk <br> 15" CRT Color Monitor <br> Multimedia Keyboard, Optical Scroll Mouse <br> Intel GMA 900, Integrated Audio, 10/100/1000Mbps
                        LAN Operating System : UBUNTU 12.04 LTS 32 bit
                    </td>
                </tr>
                <tr>
                    <td>
                        <center> English Communication Lab </center>
                    </td>
                    <td>
                        <center> 400 Sq.feet </center>
                    </td>
                    <td>
                        <center> <b>70</b> </center>
                    </td>
                    <td><b></b>
                        <center><b>DELL VOSTRO 230S</b></center>
                        Intel Core2Duo@2.93 GHz<br> Intel 915 Express Chipset Motherboard<br> 2GB DDR2 RAM <br> 320GB SATA Hard Disk <br> 18.5" CRT Color Monitor <br> DELL Keyboard, Optical Scroll Mouse <br> Intel GMA 900, Integrated Audio, 10/100/1000Mbps
                        LAN
                        <br> Operating System : Windows XP SP3
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="vac-content" style="
    margin-top: -36%;
    margin-left: -13vh;
    margin-bottom: -164vh;
">
        <div style="position: relative; left: 50%; width: fit-content;">
            <h1 style="font-size: 30px;width: fit-content;">Value Added Courses</h1>
        </div><br><br>
        <p style="font-size: 20px; position: relative; left: 23%; width:fit-content;">The following certificate course(s) are offered by Department of Computer Science &amp; Engineering to all B.E/B.Tech students.</p>
        <br>
        <br>
        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(/assets/img/aws.png);">
            </div>
            <div class="col col-text">
                <div class="Aligner-item">
                    <p><b>Amazon Web Service (AWS) Certification</b><br><br> AWS Certification demonstrates technical expertise, helps you advance your career, and helps employers find skilled cloud professionals in order to,
                    </p>
                    <ul>
                        <li>Demonstrate you have expertise to design, deploy, and operate highly available, cost-effective, and secure applications on AWS </li>
                        <li>Gain recognition and visibility for your proven skills and proficiency with AWS </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(/assets/img/bec.jpg);">
                &nbsp;
            </div>
            <div class="col col-text col-left">
                <div class="Aligner-item">
                    <p><b>Business English Certificate (BEC) Course</b><br><br> Cambridge English Qualifications are in-depth exams that make learning English enjoyable, effective and rewarding. This course is designed to help professionals develop the English
                        language skills to communicate confidently in an international workplace, our business qualifications prove to employers that you have the English language skills to succeed.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(/assets/img/bigdata.jpeg);">
                &nbsp;
            </div>
            <div class="col col-text">
                <div class="Aligner-item">
                    <p><b>Certification on BigData</b><br><br></p>
                </div>
            </div>
        </div>

        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(/assets/img/campusconnect.jpg);">
                &nbsp;
            </div>
            <div class="col col-text col-left">
                <div class="Aligner-item">
                    <p><b>Infosys Campus Connect Program</b><br><br> Campus connect is an industry-academia partnership initiative launched by infosys. The campus Connect initiative aims to enhance the education level of engineering students, nationwide
                        and thus increase the employability of these engineers. As a part of this initiative infosys shares with partner colleges its proven courseware, methodology and education experiences. Campus Connect thus helps partner colleges
                        groom industry Ready engineers.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(/assets/img/campusconnect.jpg);">
                &nbsp;
            </div>
            <div class="col col-text">
                <div class="Aligner-item">
                    <p><b>Infosys Soft Skill Training Program</b><br><br></p>
                </div>
            </div>
        </div>
        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(/assets/img/mcp.png);">
            </div>
            <div class="col col-text col-left">
                <div class="Aligner-item">
                    <p><b>Microsoft MCP Certification</b><br><br> Microsoft Certified Professional (MCP) certification validates IT professional and developer technical expertise through rigorous, industry-proven and industry-recognised exams. MCP exams
                        cover a wide range of Microsoft products, technologies, and solutions. CSE department is an recognized training center for Microsoft MCP Certification and provides training to the interested students in C# Programming.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(/assets/img/mta.jpg);">
                &nbsp;
            </div>
            <div class="col col-text ">
                <div class="Aligner-item">
                    <p><b>Microsoft Technology Associate(MTA) Certification</b><br><br> CSE department is an authorized Testing Center and provides practice test and access to testing facility to anyone interested in Microsoft Technology Associate Certification
                        exam to certify their technology knowledge to build a career in Microsoft Technology. Microsoft Technology Associate (MTA) is a recommended entry point into IT certification and job preparation. Pass just one exam and you will
                        earn a certification, taking your first step toward a career in technology
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(/assets/img/nptel.jpg);">
                &nbsp;
            </div>
            <div class="col col-text col-left">
                <div class="Aligner-item">
                    <p><b>NPTEL Certification Courses</b><br><br> NPTEL (National Programme on Technology Enhanced Learning) is a joint initiative of the IITs and IISc. Through this initiative, Online courses and certification in various topics are offered
                        to the students and scholars to enrich their knowledge in variuos domains.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(/assets/img/oracle.jpg);">
                &nbsp;
            </div>
            <div class="col col-text ">
                <div class="Aligner-item">
                    <p><b> Oracle Academy Courses</b><br><br> CSE department is an recognized training center for Oracle Academy courses and conducts training to anyone interested in Oracle Certification in JAVA Fundamentals, JAVA Programming and Database
                        Fundamentals. Oracle Academy courses are designed to provide students with basic knowledge and skills in areas of computer science that are universally in high demand across computing jobs and are recommended for use in secondary
                        schools, technical and vocational schools and colleges, and 2- and 4-year colleges and universities
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(/assets/img/spoken.png);">
                &nbsp;
            </div>
            <div class="col col-text col-left">
                <div class="Aligner-item">
                    <p><b>QIC - Spoken Tutorial Course</b><br><br> SCE, has registered with IIT, Bombay Spoken tutorial team, and several departments have conducted various phases of training in Spoken tutorial, and the process is ON, and we have certified
                        individuals in a few courses. The management has been magnanimous in sanctioning funds to increase the number of non-technical books, to inculcate the habit of reading, among students as the per directions of the Commissioner,
                        for Technical Education.
                    </p>
                </div>
            </div>
        </div>
        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(/assets/img/vmware.png);">
                &nbsp;
            </div>
            <div class="col col-text">
                <div class="Aligner-item">
                    <p><b>VmWare Certification on Virtualization Fundamentals</b><br><br> This course on Data Center Virtualization will provide you with a fundamental understanding of VMware's Data Center Virtualization products. The course also takes you
                        through the components and features of vSphere 6.0, and shows how the vSphere 6.0 product line helps resolve business and IT challenges commonly faced by organizations. The course will start by providing an overview of Data Center
                        Virtualization with VMware vSphere, its components, capabilities, and benefits.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Content Ends-->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top" style="
position: relative;
width: 100%;
top: 500vh;
">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
                        <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K. Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the greatest ever Principal
                            of National College. It is a self financing college approved by AICTE and affiliated to Anna University, Chennai.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links" style="
    text-align: left;
    ">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links" style="
    text-align: left;
    ">
                        <h4>quick Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p style="
    text-align: left;
    ">
                            Saranathan College of Engineering Venkateswara Nagar, Trichy-Madurai Main Road (NH 45 B), Edamalaipatti Pudhur(Post), Panjappur, Thiruchirappalli - 620012<br>
                            <strong>Phone:</strong> +91 8489915204<br>
                            <strong>Email:</strong> sce@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
    <!-- End  Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>


    <!-- Vendor JS Files -->
    <script src="../../../assets/vendor/aos/aos.js"></script>
    <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../../assets/vendor/php-email-form/validate.js"></script>
    <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../../../assets/js/main.js"></script>





</body></html>