<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SCE | CSE Lab</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../../../assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../../../assets/css/smoothproducts.css">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

    <!--Sidebar starts-->
    <ul style="height: 100vh;" class="sn">
        <li class="snbli"><a class="active" href="about.html">Department of CSE</a></li>

        <li class="snbli"><a href="faculty.html">Faculty</a></li>
        <li class="snbli"><a href="facilities.html">Facilities</a></li>
        <li class="snbli"><a href="research-cell.html">Research Cell</a></li>
        <li class="snbli"><a href="dept-performance.html">AU Dept. Details</a></li>
        <li class="snbli"><a href="placements.html">Placement Details</a></li>
        <li class="snbli"><a href="contact.html">Contact US</a></li>
    </ul>
    <!--Sidebar ends-->

    <!--Content Starts-->
    <div id="icontent5" style="position: absolute;top: 100px; left: 300px;width: 70%;">
        <div>
            <h3>
                <center>CSE Laboratory</center>
            </h3>
        </div>
        <div>
            <p style="margin-top: 5%; margin-bottom: 5%; font-size:20p">
                CSE Department Computer Lab consists of 154 computer systems which are connected through LAN with layer 2 switches (hybrid topology) and has a 1 Gbps fiber optic backbone.
            </p>
        </div>
        <table class="tbl" style="font-family:'Poppins'">
            <thead>
                <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                    <th style="border: white;border-style: solid;border-width: 1px;">Lab Name</th>
                    <th style="border: white;border-style: solid;border-width: 1px;">Lab Space/<br>Lab Area</th>
                    <th style="border: white;border-style: solid;border-width: 1px;">No. of Computers</th>
                    <th style="border: white;border-style: solid;border-width: 1px;">Specification</th>
            </thead>

            <tr>
                <td>
                    <center> LAB 1 </center>
                </td>
                <td>
                    <center> 80 Sq.m </center>
                </td>
                <td>
                    <center><b>39</b></center>
                </td>
                <td>Intel Core i5-5250U CPU @ 1.60GHz <br> Intel NUC5i5RYB Motherboard,<br> 8 GB DDR-3 RAM – 1600 MHz,<br> 500 GB SATA Hard Drive,<br> 19” LG LED Monitor,<br> Logitech Keyboard, Optical mouse,<br> 1000 Mbps Ethernet Card,<br> Integrated WiFi
                    and Bluetooth<br>
                </td>
            </tr>
            <tr>
                <td>
                    <center> LAB 2 </center>
                </td>
                <td>
                    <center> 80 Sq.m </center>
                </td>
                <td>
                    <center> <b>36 </b></center>
                </td>
                <td><b><center>ACER VERITON M200</center></b> Intel Corei5-6400@2.70 GHz, 2MB Cache <br> Intel 945G Express chipset Motherboard<br> 8GB DDR3 RAM<br> 1TB SATA Hard Disk <br> 18.5" LED Color Monitor <br> Multimedia Keyboard, Optical Mouse <br>                    Windows 7 64-bit / UBUNTU 16.04 LTS 64 bit<br>
                </td>
            </tr>
            <tr>
                <td>
                    <center> LAB 3 </center>
                </td>
                <td>
                    <center> 80 Sq.m </center>
                </td>
                <td>
                    <center> <b>36 </b></center>
                </td>
                <td><b><center>ACER VERITON M200</center></b> Intel Corei5-6400@2.70 GHz, 3MB Cache <br> 8GB DDR3 RAM<br> 1TB SATA Hard Disk <br> 18.5" LED Color Monitor <br> Multimedia Keyboard, Optical Mouse <br> Windows 7 64-bit / UBUNTU 16.04 LTS 64 bit<br>
                </td>
            </tr>
            <tr>
                <td>
                    <center> LAB 4 </center>
                </td>
                <td>
                    <center> 80 Sq.m </center>
                </td>
                <td>
                    <center> <b>39 </b></center>
                </td>
                <td><b><center>ACER POWER SERIES</center></b> Intel Core2Duo@2.20 GHz, 3MB Cache <br> 2GB DDR3 RAM<br> 80GB SATA Hard Disk <br> 15" CRT Color Monitor <br> Multimedia Keyboard, Optical Mouse <br> Windows XP SP3<br>
                </td>
            </tr>

            <tr>
                <td rowspan="3">
                    <center> Research Lab </center>
                </td>
                <td rowspan="3">
                    <center> 80 Sq.feet </center>
                </td>
                <td>
                    <center> <b>2</b> </center>
                </td>
                <td>
                    <center><b>Intel NUCKIT</b></center>
                    Intel Corei5-5250U@1.60 GHz <br> Ram : 8 GB<br> Hard Disk Capacity : 500 GB<br> Monitor : 18.5'' LED<br> Operating System : Windows 7 64-bit / UBUNTU 16.04 LTS 64 bit
                </td>
            </tr>
            <tr>
                <td>
                    <center> <b>2</b> </center>
                </td>
                <td>
                    <center><b>ACER VERITON M200</b></center>
                    Processor Speed : Intel Corei5-6400@2.70 GHz<br> Ram : 8 GB<br> Hard Disk Capacity : 1 TB<br> Monitor : 18.5'' LED<br> Operating System : Windows 7 64-bit / UBUNTU 16.04 LTS 64 bit<br>
                </td>
            </tr>
            <tr>
                <td>
                    <center> <b>3</b> </center>
                </td>
                <td>
                    <center><b>ACER VERITON M200</b></center>
                    Processor Speed : Intel Corei5-6400@2.70 GHz<br> Ram : 8 GB<br> Hard Disk Capacity : 1 TB<br> Monitor : 18.5'' LED<br> Operating System : Windows 7 64-bit / UBUNTU 16.04 LTS 64 bit
                </td>
            </tr>
            </tbody>
        </table>

        <div style="margin-top: 5% ;margin-bottom: 5%;">
            <h4>
                <center>Common Facilities</center>
            </h4>
        </div>
        <table class="tbl" style="font-family:'Poppins'">
            <tbody>
                <thead>
                    <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                        <th style="border: white;border-style: solid;border-width: 1px;">Lab Name</th>
                        <th style="border: white;border-style: solid;border-width: 1px;">Lab Space/<br>Lab Area</th>
                        <th style="border: white;border-style: solid;border-width: 1px;">No. of Computers</th>
                        <th style="border: white;border-style: solid;border-width: 1px;">Specification</th>
                    </tr>
                </thead>
                <tr>
                    <td rowspan="3">
                        <center> Common Computing Lab </center>
                    </td>
                    <td rowspan="3">
                        <center> 400 Sq.feet </center>
                    </td>
                    <td>
                        <center> <b>1</b> </center>
                    </td>
                    <td><b></b>
                        <center><b>ACER VERITON</b></center>
                        Intel Corei3@3.30 GHz<br> Intel 915 Express Chipset Motherboard<br> 2GB DDR2 RAM <br> 500GB SATA Hard Disk <br> 18.5" LED Color Monitor <br> HP Keyboard, Optical Scroll Mouse <br> Intel GMA 900, Integrated Audio, 10/100/1000Mbps
                        LAN Operating System : Windows 7 32 bit
                    </td>
                </tr>
                <tr>
                    <td>
                        <center> <b>29</b> </center>
                    </td>
                    <td><b></b>
                        <center><b>ACER POWER SERIES</b></center>
                        Intel Pentium 4 @ 3.0 GHz<br> Intel 915 Express Chipset Motherboard<br> 512 MB RAM <br> 80GB SATA Hard Disk <br> 15" CRT Color Monitor <br> Multimedia Keyboard, Optical Scroll Mouse <br> Intel GMA 900, Integrated Audio, 10/100/1000Mbps
                        LAN Operating System : UBUNTU 12.04 LTS 32 bit
                    </td>
                </tr>
                <tr>
                    <td>
                        <center> <b>38</b> </center>
                    </td>
                    <td><b></b>
                        <center><b>HP COMPAQ</b></center>
                        Intel Pentium 4 @ 3.0 GHz<br> Intel 915 Express Chipset Motherboard<br> 512 MB RAM <br> 40GB SATA Hard Disk <br> 15" CRT Color Monitor <br> Multimedia Keyboard, Optical Scroll Mouse <br> Intel GMA 900, Integrated Audio, 10/100/1000Mbps
                        LAN Operating System : UBUNTU 12.04 LTS 32 bit
                    </td>
                </tr>
                <tr>
                    <td>
                        <center> English Communication Lab </center>
                    </td>
                    <td>
                        <center> 400 Sq.feet </center>
                    </td>
                    <td>
                        <center> <b>70</b> </center>
                    </td>
                    <td><b></b>
                        <center><b>DELL VOSTRO 230S</b></center>
                        Intel Core2Duo@2.93 GHz<br> Intel 915 Express Chipset Motherboard<br> 2GB DDR2 RAM <br> 320GB SATA Hard Disk <br> 18.5" CRT Color Monitor <br> DELL Keyboard, Optical Scroll Mouse <br> Intel GMA 900, Integrated Audio, 10/100/1000Mbps
                        LAN<br> Operating System : Windows XP SP3
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--Content Ends-->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../../assets/vendor/aos/aos.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../assets/vendor/php-email-form/validate.js"></script>
    <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../../assets/js/main.js"></script>



</body>

</html>