<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCE | VAC
    </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/assets/css/style.css">
      
    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 125px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 45%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->
    <!--Sidebar starts-->
  <ul style="height: 80vh; font-weight: 400;" class="sn">
    <li class="snbli"><a href="">About Us</a></li>
    <li class="snbli"><a href="">Academic Programmes</a></li>
    <li class="snbli"><a href="">Faculty Details</a></li>
    <li class="snbli"><a href=""class="active">Facilities</a></li>
    <li class="snbli"><a href="">Research Cell</a></li>
    <li class="snbli"><a href="">AU Dept. Details</a></li>
    <li class="snbli"><a href="">Placement Details</a></li>
    <li class="snbli"><a href="">Contact US</a></li>
</ul>
  <!--Sidebar ends-->

    <section id="vac-content">
      <div style="position: relative; left: 50%; width: fit-content;">
        <h1 style="font-size: 30px; width: fit-content;">Value Added Courses</h1>
      </div><br><br>
      <p style="font-size: 20px; position: relative; left: 23%; width:fit-content;">The following certificate course(s) are offered by Department of Computer Science & Engineering to all B.E/B.Tech students.</p>
      <br>
      <br>
        <div class="grid-flex">
          <div class="col col-image" style="background-image: url(./images/aws.png);">
          </div>
          <div class="col col-text">
            <div class="Aligner-item">
              <p><b>Amazon Web Service (AWS) Certification</b><br><br>
                AWS Certification demonstrates technical expertise, helps you advance your career, and helps employers find skilled cloud professionals in order to,
              </p>
              <ul>
                <li>Demonstrate you have expertise to design, deploy, and operate highly available, cost-effective, and secure applications on AWS </li>
                <li>Gain recognition and visibility for your proven skills and proficiency with AWS </li>
            </ul>
            </div>
          </div>
        </div>
        
        <div class="grid-flex">
          <div class="col col-image" style="background-image: url(./images/bec.jpg);">
            &nbsp;
          </div>
          <div class="col col-text col-left">
            <div class="Aligner-item">
              <p><b>Business English Certificate (BEC) Course</b><br><br>
              Cambridge English Qualifications are in-depth exams that make learning English enjoyable, effective and rewarding. This course is designed to help professionals develop the English language skills to communicate confidently in an international workplace, our business qualifications prove to employers that you have the English language skills to succeed.
              </p>
            </div>
          </div>
        </div>
      
        <div class="grid-flex">
          <div class="col col-image" style="background-image: url(./images/bigdata.jpeg);">
            &nbsp;
          </div>
          <div class="col col-text">
            <div class="Aligner-item">
              <p><b>Certification on BigData</b><br><br></p>            
            </div>
          </div>
        </div>
      
        <div class="grid-flex">
          <div class="col col-image" style="background-image: url(./images/campusconnect.jpg);">
            &nbsp;
          </div>
          <div class="col col-text col-left">
            <div class="Aligner-item">
              <p><b>Infosys Campus Connect Program</b><br><br>
                Campus connect is an industry-academia partnership initiative launched by infosys. The campus Connect initiative aims to enhance the education level of engineering students, nationwide and thus increase the employability of these engineers. As a part of this initiative infosys shares with partner colleges its proven courseware, methodology and education experiences. Campus Connect thus helps partner colleges groom industry Ready engineers.
                </p>
            </div>
          </div>
        </div>
      
        <div class="grid-flex">
          <div class="col col-image" style="background-image: url(./images/campusconnect.jpg);">
            &nbsp;
          </div>
          <div class="col col-text">
            <div class="Aligner-item">
              <p><b>Infosys Soft Skill Training Program</b><br><br></p>
            </div>
          </div>
        </div>  
        <div class="grid-flex">
          <div class="col col-image" style="background-image: url(./images/mcp.png);">
          </div>
          <div class="col col-text col-left">
            <div class="Aligner-item">
              <p><b>Microsoft MCP Certification</b><br><br>
                Microsoft Certified Professional (MCP) certification validates IT professional and developer technical expertise through rigorous, industry-proven and industry-recognised exams. MCP exams cover a wide range of Microsoft products, technologies, and solutions.
                CSE department is an recognized training center for Microsoft MCP Certification and provides training to the interested students in C# Programming.
              </p>
            </div>
          </div>
        </div>
        
        <div class="grid-flex">
          <div class="col col-image" style="background-image: url(./images/mta.jpg);">
            &nbsp;
          </div>
          <div class="col col-text ">
            <div class="Aligner-item">
              <p><b>Microsoft Technology Associate(MTA) Certification</b><br><br>
                CSE department is an authorized Testing Center and provides practice test and access to testing facility to anyone interested in Microsoft Technology Associate Certification exam to certify their technology knowledge to build a career in Microsoft Technology.
                Microsoft Technology Associate (MTA) is a recommended entry point into IT certification and job preparation. Pass just one exam and you will earn a certification, taking your first step toward a career in technology
                </p>
            </div>
          </div>
        </div>
      
        <div class="grid-flex">
          <div class="col col-image" style="background-image: url(./images/nptel.jpg);">
            &nbsp;
          </div>
          <div class="col col-text col-left">
            <div class="Aligner-item">
              <p><b>NPTEL Certification Courses</b><br><br>
                NPTEL (National Programme on Technology Enhanced Learning) is a joint initiative of the IITs and IISc. Through this initiative, Online courses and certification in various topics are offered to the students and scholars to enrich their knowledge in variuos domains.
              </p>
            </div>
          </div>
        </div>
      
        <div class="grid-flex">
          <div class="col col-image" style="background-image: url(./images/oracle.jpg);">
            &nbsp;
          </div>
          <div class="col col-text ">
            <div class="Aligner-item">
              <p><b> Oracle Academy Courses</b><br><br>
                CSE department is an recognized training center for Oracle Academy courses and conducts training to anyone interested in Oracle Certification in JAVA Fundamentals, JAVA Programming and Database Fundamentals.

Oracle Academy courses are designed to provide students with basic knowledge and skills in areas of computer science that are universally in high demand across computing jobs and are recommended for use in secondary schools, technical and vocational schools and colleges, and 2- and 4-year colleges and universities
                </p>
            </div>
          </div>
        </div>
      
        <div class="grid-flex">
          <div class="col col-image" style="background-image: url(./images/spoken.png);">
            &nbsp;
          </div>
          <div class="col col-text col-left">
            <div class="Aligner-item">
              <p><b>QIC - Spoken Tutorial Course</b><br><br>
                SCE, has registered with IIT, Bombay Spoken tutorial team, and several departments have conducted various phases of training in Spoken tutorial, and the process is ON, and we have certified individuals in a few courses. The management has been magnanimous in sanctioning funds to increase the number of non-technical books, to inculcate the habit of reading, among students as the per directions of the Commissioner, for Technical Education.
                </p>
            </div>
          </div>
        </div>
        <div class="grid-flex">
            <div class="col col-image" style="background-image: url(./images/vmware.png);">
              &nbsp;
            </div>
            <div class="col col-text">
              <div class="Aligner-item">
                <p><b>VmWare Certification on Virtualization Fundamentals</b><br><br>
                  This course on Data Center Virtualization will provide you with a fundamental understanding of VMware's Data Center Virtualization products. The course also takes you through the components and features of vSphere 6.0, and shows how the vSphere 6.0 product line helps resolve business and IT challenges commonly faced by organizations. The course will start by providing an overview of Data Center Virtualization with VMware vSphere, its components, capabilities, and benefits.
                  </p>
              </div>
            </div>
          </div>
    </section>
</body>
</html>
