<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">


  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/css/facultymech.css" rel="stylesheet">
  <link href="../../../assets/style.scss" rel="stylesheet">
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center header-scrolled" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->

  <ul class="sn">
    <li class="snbli"><a href="mechabt.html">Department of MECH</a></li>
    <li class="snbli"><a class="active" href="fmech.html">Faculty</a></li>
    <li class="snbli"><a href="lab.html">Facilities</a></li>
    <li class="snbli"><a href="rcell.html">Research Cell</a></li>
    <li class="snbli"><a href="pp.html">Project Proposal / Seminar Grant</a></li>
    <li class="snbli"><a href="inno.html">Innovative Projects</a></li>
    <li class="snbli"><a href="placemech.html">Placement Details</a></li>
    <li class="snbli"><a href="mcontact.html">Contact US</a></li>

  </ul>
  <!-- ======= Hero Section ======= -->
<section class="lod" style="
    margin-top: -100vh;
">
      <h4 style="position: relative;top: 22vh;font-size: xx-large;font-weight: 700;text-align: center;pointer-events: none;">FACULTY DETAILS</h4>
      <section class="rc">
      </section><table id="cus" border="1" style="
  height: 17vh;
  margin-bottom: 8vh;
">
          <tbody><tr><th><center>Professor</center></th><th><center>Associate Professor</center></th><th><center>Assistant Professor</center></th></tr>
  
              <tr align="center">
                  <td><b>3</b></td><td><b>5</b></td><td><b>14</b></td></tr></tbody>
              
              </table>
              <h5 style="position: relative;top: 20vh;font-size: xx-large;font-weight: 500;text-align: center;">Faculty Qualification (as on June 2021 )</h5>

              <table id="cus" border="1" style="
  height: 17vh;
  margin-bottom: -4vh;
">
                  <thead>
                      <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                          <th style="border: white;border-style: solid;border-width: 1px;text-align: center;">Faculty with Ph.D</th>
                          <th style="border: white;border-style: solid;border-width: 1px;text-align: center;">Faculty Pursuing Ph.Ds</th>
                          <th style="border: white;border-style: solid;border-width: 1px;text-align: center;">Faculty with M.E / M.Tech</th>
                         
                    </tr></thead>
                    <tbody style="text-align: center;">
                      <tr>
                        <td>8</td>
                        <td>5</td>
                        <td>9</td>  
                      </tr>
                     
                    </tbody></table>



                  <h4 style="position: relative;top: 33vh;font-size: xx-large;font-weight: 500;text-align: center;">Ph.D - Completed</h4><table id="cus" border="1" style="position: relative;top: 32vh;width: 77%;margin-left: 50vh;height: 30vh;text-align: center;">
                      <thead>
                          <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                              <th style="border: white;border-style: solid;border-width: 1px;text-align: center;">S.no</th>
                              <th style="border: white;border-style: solid;border-width: 1px;text-align: center;">Name of the Faculty</th>
                              <th style="border: white;border-style: solid;border-width: 1px;text-align: center;">Designation</th>
                              <th style="border: white;border-style: solid;border-width: 1px;text-align: center;">Year of Completion</th>
            
                             
                        </tr></thead>
                        <tbody style="text-align: center;">
                          <tr>
                            <td>1</td>
                            <td>Dr. D Valavan</td>
                            <td>Professor</td>  
                            <td>2007</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Dr. G Jayaprakash</td>
                            <td>Professor</td>
                            <td>2013</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Dr. N Baskar</td>
                            <td>Professor</td>
                            <td>2006</td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>Dr. R Rekha</td>
                            <td>Associate Professor	</td>
                            <td>2017</td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>Dr. M R Anantha Padmanaban</td>
                            <td>Associate Professor	</td>
                            <td>2017</td></tr>
                          <tr>
                            <td>6</td>
                            <td>Dr. G Mahesh</td>
                            <td>Associate Professor	</td>
                            <td>2018</td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td>Dr. A Mercy Vasan</td>
                            <td>Associate Professor	</td>
                            <td>2018</td>
                          </tr>
                          <tr>
                            <td>8</td>
                            <td>Dr. M Ganesan</td>
                            <td>Associate Professor	</td>
                            <td>2016</td>
                          </tr>
                          </tbody></table>
              </section>

              <section class="phdcs">
                  <center>
                      <h4 style="
  position: relative;
  font-size: xx-large;
  font-weight: 500;
  top: 22vh;
">Ph.D - Persuing</h4>
                      <div>
                      <table id="cus" border="1" style="height: 17vh;margin-left: 43vh;text-align: center;margin-bottom: -17vh;">
                          <tbody><tr>    
                              <th><center>S.No</center></th>
                              <th><center>Name of the Faculty</center></th>
                              <th><center>Designation </center></th>
                              <th><center>Year of Completion</center></th>

                              <!-- <th><Center>Examiners</center></th>  -->
                              </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>Mr. R Sureshbabu</td>
                                    <td>Assistant Professor</td>  
                                    <td>2018</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>Mr. S Sathyanarayanan</td>
                                    <td>Assistant Professor</td>
                                    <td>2016</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Mr. S Karthikeyan</td>
                                    <td>Assistant Professor</td>
                                    <td>2017</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>Mr. A Ranjith Raj</td>
                                    <td>Assistant Professor</td>
                                    <td>2017</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>Mr. M Sriram Prasanth</td>
                                    <td>Assistant Professor</td>
                                    <td>2018</td></tr>
                                  
                                  
                                 
                                </tbody>
                  </table>
                      </div>
              </center></section>
<section class="ongoing" style="
  position: relative;
  top: 17vh;
">
  <h4 style="position: relative;top: 26vh;font-size: xx-large;font-weight: 700;text-align: center;">M.E/M.Tech</h4>

  <table id="cus" border="1" style="position: relative;top: 28vh;width: 77%;margin-left: 50vh;height: 30vh;text-align: center;">
      <tbody><tr>    
          <th><center>S.No</center></th>
          <th><center>Name of the Faculty</center></th>
          <th><center>Designation </center></th>
          <th><center>Year of Completion</center></th>
          </tr>
          
              <tr>
                <td>1</td>
                <td>Mr. R Kumar</td>
                <td>Assistant Professor</td>  
                <td>2012</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Mr. P Jothi Palavesam</td>
                <td>Assistant Professor</td>
                <td>2012</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Mr. J Sivasubramanian</td>
                <td>Assistant Professor</td>
                <td>2014</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Mr. P V Rajesh</td>
                <td>Assistant Professor</td>
                <td>2016</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Ms. R.S Shiva Ranjani</td>
                <td>Assistant Professor</td>
                <td>2016</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Mr. S Vinoth Kumar</td>
                <td>Assistant Professor</td>
                <td>2016</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Mr. P Vigneshwar</td>
                <td>Assistant Professor	</td>
                <td>2017</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Mr. S Paramaguru</td>
                <td>Assistant Professor</td>
                <td>2018</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Mr. K Amarnath</td>
                <td>Assistant Professor</td> 
                <td>2018</td>
              </tr>
             
            </tbody></table>


</section>

<div class="pro" style="
  position: relative;
  top: 35vh;
  text-align: center;
  font-size: x-large;
  left: 68vh;
  width: 143vh;
">
   

      <p style="margin-left: 180px;">Professors</p> 
      <div class="profile-container">
       
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/jayaprakash-mech.jpg" alt="image1" class="profile-icon">
          <div class="profile-name"> Dr. G Jayaprakash, M.E., Ph.D</div>
          <div class="profile-position"> Professor &amp; Head<br>  
            jayaprakash-@saranathan.ac.in</div>
          
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/principal.jpg" alt="image2" class="profile-icon">
          <div class="profile-name">Dr. D Valavan, M.Tech., Ph.D</div>
          <div class="profile-position">Professor<br>  
            principal@saranathan.ac.in</div>
          
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/baskar-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name"> Dr. N Baskar, M.E., Ph.D</div>
          <div class="profile-position">Professor<br>  
            baskar-mech@saranathan.ac.in</div>
      
        </div>
      </div>

      <p style="margin-left: 180px;">Associate Professors</p>
      <div class="profile-container" style="margin-left: 100px;">
       
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/rekha-mech.jpg" alt="image1" class="profile-icon">
          <div class="profile-name">  Dr. R Rekha, M.Tech., Ph.D</div>
          <div class="profile-position"> Associate Professor<br> 
            rekha-<br>mech@saranathan.ac.in</div>
          
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/mrpadmanaban-mech.jpg" alt="image2" class="profile-icon">
          <div class="profile-name" > Dr. M R Anantha Padmanaban, M.E., Ph.D</div>
          <div class="profile-position">Associate Professor<br>   
            mrpadmanaban-mech@saranathan.ac.in</div>
          
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/mahesh-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name"> Dr. G Mahesh, M.Tech., Ph.D</div>
          <div class="profile-position">Associate Professor  <br> 
            mahesh-mech@saranathan.ac.in</div>
      
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/mercyvasan-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name"> Dr. A Mercy Vasan, M.E., Ph.D</div>
          <div class="profile-position">Associate Professor  <br> 
            mercyvasan-mech@saranathan.ac.in</div>
      
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/ganesan-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name">  Dr. M Ganesan, M.E., Ph.D</div>
          <div class="profile-position">Associate Professor <br> 
            ganesan-mech@saranathan.ac.in</div>
      
        </div>
      </div>
      <p style="margin-left: 180px;">Assistant Professors</p>
      <div class="profile-container" style="margin-left: 100px;">
       
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/sureshbabu-mech.jpg" alt="image1" class="profile-icon">
          <div class="profile-name">   Mr. R Sureshbabu, M.Tech.,</div>
          <div class="profile-position"> Asssistant Professor<br> 
            sureshbabu-mech@saranathan.ac.in</div>
          
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/sathyanarayanan-mech.jpg" alt="image2" class="profile-icon">
          <div class="profile-name" >  Mr. S Sathyanarayanan, M.E.,</div>
          <div class="profile-position">Asssistant Professor<br>   
            sathyanarayanan-mech@saranathan.ac.in</div>
           
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/karthikeyan-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name"> Mr. S Karthikeyan, M.E.,</div>
          <div class="profile-position">Asssistant Professor  <br> 
            karthikeyan-mech@saranathan.ac.in</div>
      
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/kumarr-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name"> Mr. R Kumar, M.E.,</div>
          <div class="profile-position">Asssistant Professor  <br> 
            kumarr-<br>mech@saranathan.ac.in</div>
      
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/jothi-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name">  Mr. P Jothi Palavesam, M.E.,</div>
          <div class="profile-position">Asssistant Professor <br> 
            jothi-<br>mech@saranathan.ac.in</div>
      
        </div>
      </div>
      <div class="profile-container" style="margin-left: 100px;">
       
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/ranjith-mech.jpg" alt="image1" class="profile-icon">
          <div class="profile-name">   Mr. A Ranjith Raj, M.E.,</div>
          <div class="profile-position">Asssistant Professor<br> 
            ranjith-<br>mech@saranathan.ac.in</div>
          
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/sriram-mech.jpg" alt="image2" class="profile-icon">
          <div class="profile-name" >  Mr. M Sriram Prasanth, M.E., B.E</div>
          <div class="profile-position">Asssistant Professor<br>   
            sriram-<br>mech@saranathan.ac.in</div>
          
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/sivasubramanian-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name">  Mr. J Sivasubramanian, M.Tech.,</div>
          <div class="profile-position">Asssistant Professor  <br> 
            sivasubramanian-mech@saranathan.ac.in</div>
      
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/rajesh-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name"> Mr. P V Rajesh, M.E.,</div>
          <div class="profile-position">Asssistant Professor  <br> 
            rajesh-<br>mech@saranathan.ac.in</div>
      
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/shivaranjani-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name">  Ms. R.S Shiva Ranjani, M.E</div>
          <div class="profile-position">Asssistant Professor <br> 
            shivaranjani-mech@saranathan.ac.in</div>
      
        </div>
      </div>
      <div class="profile-container" style="margin-left: 100px;">
       
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/vinothkumar-mech.jpg" alt="image1" class="profile-icon">
          <div class="profile-name">  Mr. S Vinoth Kumar, M.Tech.,</div>
          <div class="profile-position">Asssistant Professor<br> 
            vinothkumar-mech@saranathan.ac.in</div>
          
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/vigneshwar-mech.jpg" alt="image2" class="profile-icon">
          <div class="profile-name"> Mr. P Vigneshwar, M.E</div>
          <div class="profile-position">Asssistant Professor<br>   
            vigneshwar-mech@saranathan.ac.in</div>
          
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/paramaguru-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name"> Mr. S Paramaguru, M.E</div>
          <div class="profile-position">Asssistant Professor  <br> 
            paramaguru-mech@saranathan.ac.in</div>
      
        </div>
        <div class="profile-card">
          <img src="http://www.saranathan.ac.in/images/amar-mech.jpg" alt="image3" class="profile-icon">
          <div class="profile-name"> Mr. K Amarnath, M.E</div>
          <div class="profile-position">Asssistant Professor  <br> 
            amar-<br>mech@saranathan.ac.in</div>
      
        </div>
        
      </div>
   
    


</div>

  <!-- ======= Footer ======= -->
  <footer id="footer">
      <div class="footer-top" style="
  position: relative;
  width: 100%;
  top: 60vh;
">
        <div class="container">
          <div class="row">
      
            <div class="col-lg-3 col-md-6 footer-info">
              <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
              <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
                Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
                greatest ever Principal of National College. It is a self financing college approved by AICTE and
                affiliated to Anna University, Chennai.</p>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
      ">
              <h4>Quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
              </ul>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
      ">
              <h4>quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
              </ul>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p style="
      text-align: left;
      ">
                Saranathan College of Engineering
                Venkateswara Nagar,
                Trichy-Madurai Main Road (NH 45 B),
                Edamalaipatti Pudhur(Post), Panjappur,
                Thiruchirappalli - 620012<br>
                <strong>Phone:</strong> +91 8489915204<br>
                <strong>Email:</strong> sce@gmail.com<br>
              </p>
      
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
      
            </div>
      
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
          </div>
        </div>
      </div>
      </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../../assets/vendor/aos/aos.js"></script>
  <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../../assets/js/main.js"></script>

<script src="st.js"></script>

</body></html>