<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>SCE</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  
  
    <!-- Favicons -->
    <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="styles.css" rel="stylesheet">
    <link href="../../../assets/style.scss" rel="stylesheet">
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="../../../assets/css/style.css" rel="stylesheet">
    <link href="../../../assets/css/lab.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
  
  <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="text-align: center;font-family: poppins-extralight,poppins,sans-serif;">

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
    border-style: outset;
    border-color: blue;
    border-top: white;
    border-left: white;
    border-right: blue;">
      <div class="container-fluid container-xxl d-flex align-items-center">
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
          <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
      width: 40%;
      position: absolute;
      left: 1%;
      top: 0px;
      " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
  
        <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
          
        <div class="parallelogram">
          <h2 style="
      color: white;
      transform: skew(215deg, 360deg);
      margin-top: 5px;font-weight: 500;
      font-family: system-ui;
  ">WINNERS BEGIN WITH SARANATHAN</h2>
          </div>
        
          <ul style="
      position: relative;
  ">
            <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
             <ul>
                <li><a href="speaker-details.html">About the Instution</a></li>
                <li><a href="FP.html">Founder President</a></li>
                <li><a href="FS.html">Founder Secretary</a></li>
                <li><a href="GC.html">Governing Council</a></li>
                <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                <li><a href="CC.html">College Committees</a></li>
                <li><a href="infra.html">Infrastructure</a></li>
                <li><a href="quality.html">Quality Policy</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
              <ul>
                <li><a href="#">Courses Offered</a></li>
                <li><a href="#">Addmission Norms</a></li>
                <li><a href="#">Admission Policy</a></li>
                <li><a href="#">Code of Conduct</a></li>
                <li><a href="#">Scholorship</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
              <ul>
                <li><a href="#">Center For Research</a></li>
                <li><a href="#">Institute Industry Partnership Cell</a></li>
                <li><a href="#">Quality Improvement Cell</a></li>
                <li><a href="#">Entrepreneurship Development Cell</a></li>
                <li><a href="#">Campus Connect - Infosys</a></li>
                <li><a href="#">Women Empowerment Cell</a></li>
                <li><a href="#">E - Yantra</a></li>
                <li><a href="#">Smart India Hackathan</a></li>
  
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto active" href="dept.html">Departments</a>
              <ul>
                <li><a href="#">Civil Engineering</a></li>
                <li><a href="#">Computer Science Engg</a></li>
                <li><a href="#">Electronics &amp; Comm Engg</a></li>
                <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                <li><a href="#">Instrumentation &amp; Control</a></li>
                <li><a href="#">Mechanical Engineering</a></li>
                <li><a href="#">Management Studies (MBA)</a></li>
                <li><a href="#">Science and Humanity</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
              <ul>
                <li><a href="#">Placement cell</a></li>
                <li><a href="#">Student Placement Details</a></li>
                <li><a href="#">Training Activities</a></li>
                <li><a href="#">Our Recruiters</a></li>
                <li><a href="#">Rank Holders</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#">NAAC</a></li>
  
            <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
  <!-- .navbar -->
       <!-- <a class="buy-tickets scrollto" style="position: relative;
        left: 200px;
        top: 25px;" href="#">Login</a>-->
  
      </div>
    </header><!-- End Header -->
    <ul style="height: 100vh;" class="sn">
  <li class="snbli"><a href="mechabt.html">Department of MECH</a></li>
  <li class="snbli"><a href="fmech.html">Faculty</a></li>
  <li class="snbli"><a class="active" href="lab.html">Facilities</a></li>
  <li class="snbli"><a href="rcell.html">Research Cell</a></li>
  <li class="snbli"><a href="pp.html">Project Proposal / Seminar Grant</a></li>
  <li class="snbli"><a href="inno.html">Innovative Projects</a></li>
  <li class="snbli"><a href="placemech.html">Placement Details</a></li>
  <li class="snbli"><a href="mcontact.html">Contact US</a></li>
</ul>
    <!-- ======= Hero Section ======= -->

        <section style="
    margin-bottom: -117vh;
">
        <h3 id="de"><strong>Mechanical Laboratory</strong></h3>
       
        <br><br><p></p>
        
        <div class="c">
            <div class="card horizontal" style="margin-bottom: 50px;">
              <div>
                <img src="http://www.saranathan.ac.in/images/lab/mech/metlab2.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
              </div>
              <div class="card-stacked">
                <div style="margin-top: -100px; margin-left:15px;"> 
                  <p style="width:450px; text-align: justify;"></p><h6>METROLOGY LAB:</h6>
                  <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                      <li>Vernier Height/Depth Gauge</li>
                      <li>Slip Gauges</li>
                      <li> Gear Tooth Vernier</li>
                      <li>Sine Bar</li>
                      <li>Floating Carriage Micrometer</li>
                      <li>Displacement</li>
                      <li>Temperature</li>
                      <li>Force</li>
                      <li>Torque &amp; Vibration Measuring Setup</li>
                      <li>Surface Plates</li>
                      <li>Electronic &amp;Mechanical Comparators</li>
                      <li>Tooth Span Micrometer</li>
                      <li>Profile Projector</li>
                  </ul>
                  <br><br>
                </div>
              </div>
            </div>
        </div>
      
        <div class="c">
            <div class="card horizontal" style="margin-bottom: 50px;">
              <div>
                <img src="http://www.saranathan.ac.in/images/lab/mech/pgtherlab2.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
              </div>
              <div class="card-stacked">
                <div style="margin-top: -100px; margin-left:15px;"> 
                  <p style="width:450px; text-align: justify;"></p><h6>PG-THERMAL LAB I:</h6>
                  <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li>Smoke Meter</li>
                    <li>Gas Analyser</li>
                    <li>Refrigeration Cum Heat Pump Test Rig</li>
                    <li>Junkers Gas Calorimeter</li>
                    <li>Bomb Calorimeter</li>
                    <li>Solar Flat Plate Water Heater Test Rig</li>
                    <li>Cooling Tower Test Rig</li>
                </ul>
                <br> <br><br>
                </div>
              </div>
            </div>
        </div>
      
        <div class="c">
            <div class="card horizontal" style="margin-bottom: 50px;">
              <div>
                <img src="http://www.saranathan.ac.in/images/lab/mech/stlab2.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
              </div>
              <div class="card-stacked">
                <div style="margin-top: -100px; margin-left:15px;"> 
                  <p style="width:450px; text-align: justify;"></p><h6>STRENGTH OF MATERIALS LAB:</h6>
                  <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li>Spring Testing Machine</li>
                    <li>Rockwell</li>
                    <li>Brinell Hardness Testing Machines</li>
                    <li>Torsion Testing Machine</li>
                    <li> Impact Tesing Machine</li>
                    <li>Jominy End Quench Apparatus</li>
                    <li> Deflection Test Apparatus</li>
                    <li>Rosette Strain Gauge Setup</li>
                </ul>
                <br><br><br><br>
                </div>
                <!-- <div class="card-action" style="margin-top: -50px;">
                  <a href="#">Investment till Date : Rs 8,17,997.00</a>
                </div> -->
              </div>
            </div>
        </div>
      
        <div class="c" style="margin-left: 18rem;">
            <div class="card horizontal" style="margin-bottom: 50px;">
              <div>
                <img src="http://www.saranathan.ac.in/images/lab/mech/fllab1.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
              </div>
              <div class="card-stacked">
                <div style="margin-top: -100px; margin-left:15px;"> 
                  <p style="width:450px; text-align: justify;"></p><h6>FLUID MECHANICS &amp; MACHINERY LAB:</h6>
                  <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li>The Poojyasri Rajaji block covering an <br> area of 25,300 sq. ft</li>
                    <li>It houses the Department of Management Studies</li>
                    <li>General Library</li>
                    <li> Digital Library &amp; Conference Hall</li>
                </ul>
                <br><br><br>
                </div>
                <!-- <div class="card-action" style="margin-top: -50px;">
                  <a href="#">Investment till Date : Rs 8,19,574.00</a>
                </div> -->
              </div>
            </div>
        </div>
      
        <div class="c">
            <div class="card horizontal" style="margin-bottom: 50px;">
              <div>
                <img src="https://www.saranathan.ac.in/images/lab/mech/heatlab1.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
              </div>
              <div class="card-stacked">
                <div style="margin-top: -100px; margin-left:15px;"> 
                  <p style="width:450px; text-align: justify;"></p><h6>THERMAL ENGINEERING LAB II <br> (HEAT TRANSFER LAB):</h6>
                  <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li>Air Conditioning &amp; Refrigeration</li>
                    <li> Natural Convection</li>
                    <li>Forced Convection</li>
                    <li> Forced and Natural Convection</li>
                    <li>Guarded Plate</li>
                    <li>Lagged Pipe</li>
                    <li> Pin-Fin</li>
                    <li>Stefan- Boltzman Emissivity Measurement</li>             
                    <li>Parallel-Counter Flow Heat Exchanger</li>
                </ul>
                   <br><br>
                </div>
                <!-- <div class="card-action" style="margin-top: -80px;">
                  <a href="#">Investment till Date : Rs 3,40,925.00</a>
                </div> -->
              </div>
            </div>
        </div>
      
        <div class="c">
            <div class="card horizontal" style="margin-bottom: 50px;">
              <div>
                <img src="https://www.saranathan.ac.in/images/lab/mech/fllab2.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
              </div>
              <div class="card-stacked">
                <div style="margin-top: -100px; margin-left:15px;"> 
                  <p style="width:450px; text-align: justify;"></p><h6>PG-THERMAL LAB II:</h6>
                  <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li>Variable Compression Ratio Petrol Engine</li>
                    <li> 4 stroke Petrol Engine &amp; 4-Stroke Diesel Engine</li>
                    <li>Hydraulic Loading</li>
                </ul>
                  <br><br>
                </div>
                <!-- <div class="card-action" style="margin-top: -90px;">
                  <a href="#">Investment till Date : Rs 8,19,574.00</a>
                </div> -->
              </div>
            </div>
        </div>
      
        <div class="c" style="
    margin-left: 18rem;
">
            <div class="card horizontal" style="margin-bottom: 50px;">
              <div>
                <img src="https://www.saranathan.ac.in/images/lab/mech/fllab1.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
              </div>
              <div class="card-stacked">
                <div style="margin-top: -100px; margin-left:15px;"> 
                  <p style="width:450px; text-align: justify;"></p><h6>THERMAL ENGINEERING LAB ICD/DVDS:</h6>
                  <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li>4-Stroke Petrol &amp; Diesel Engine with Electrical Loading &amp; with Eddy Current Dynamometer</li>
                    <li>4-Stroke Single Cylinder Diesel Engine with Rope Brake Dynamometer</li>
                    <li> Single Cylinder Diesel Engine</li>
                    <li> Forced and Natural Convection</li>
                    <li>Stroke Single Cylinder Diesel Engine - Morse Test</li>
                    <li> Hydraulic Loading Single Cylinder</li>
                    <li>Single Stage Air Compressor</li>
                    <li> Boiler(HSD fired)</li>             
                    <li>Steam Turbine(1KW) &amp; Data Acquisition System</li>
                </ul>
                  

                </div>
                <!-- <div class="card-action" style="margin-top: -50px;">
                  <a href="#">Investment till Date : Rs 14,26,672.00</a>
                </div> -->
              </div>
            </div>
        </div>
      
        <div class="c">
          <div class="card horizontal" style="margin-bottom: 50px;">
            <div>
              <img src="https://www.saranathan.ac.in/images/lab/mech/dynlab1.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
            </div>
            <div class="card-stacked">
              <div style="margin-top: -100px; margin-left:15px;"> 
                <p style="width:450px; text-align: justify;"></p><h6>DYNAMICS LAB:</h6>
                <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li> CAM Analyser</li>
                    <li>Gyroscope</li>
                    <li>Universal Governor</li>
                    <li> Forced and Natural Convection</li>
                    <li>Whirling of Shaft</li>
                    <li>Static and Dynamic Balancing MachineVibrating Table</li>
                    <li>Dynamic Balancing Machine</li>
                    <li>Balancing of Reciprocating Masses</li>             
                    <li> Compound Pendulum</li>
                </ul>
                <br><br>
              </div>
              <!-- <div class="card-action" style="margin-top: -50px;">
                <a href="#">Investment till Date : Rs 4,11,367.00</a>
              </div> -->
            </div>
          </div>
      </div>
      
      <div class="c">
          <div class="card horizontal" style="margin-bottom: 50px;">
            <div>
              <img src="https://www.saranathan.ac.in/images/lab/mech/cadlab1.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
            </div>
            <div class="card-stacked">
              <div style="margin-top: -100px; margin-left:15px;"> 
                <p style="width:450px; text-align: justify;"></p><h6>CAD LAB:</h6>
                <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li>ACER Power Service PCs</li>
                    <li> ACER Veriton PCs</li>
                    <li>Dell Vostro PCs</li>
                    <li> HP Laser Jet A3 Size Printer</li>
                    <li> HP AKIN A4 Size Printer</li>
                    <li>Scanner &amp; Copier</li>
                    <li> AUTO CAD-3D Modeling</li>
                    <li>Ansys</li>             
                    <li> Pro/E &amp; Solid Works software</li>
                </ul>
      
                  <br><br>
              </div>
              <!-- <div class="card-action" style="margin-top: -50px;">
                <a href="#">Investment till Date : Rs 29,89,864.00</a>
              </div> -->
            </div>
          </div>
      </div>
      
      <div class="c" style="
    margin-left: 18rem;
">
          <div class="card horizontal" style="margin-bottom: 50px;">
            <div>
              <img src="https://www.saranathan.ac.in/images/lab/mech/pgreclab2.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
            </div>
            <div class="card-stacked">
              <div style="margin-top: -100px; margin-left:15px;"> 
                <p style="width:450px; text-align: justify;"></p><h6>PG-RESEARCH LAB:</h6>
                <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li>Desktop PCs</li>
                </ul>
                <br><br><br><br><br>
              </div>
              <!-- <div class="card-action" style="margin-top: -50px;">
                <a href="#">Investment till Date : Rs 5,84,000.00</a>
              </div> -->
            </div>
          </div>
      </div>
      
      <div class="c">
          <div class="card horizontal" style="margin-bottom: 50px;">
            <div>
              <img src="https://www.saranathan.ac.in/images/lab/mech/meclab1.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
            </div>
            <div class="card-stacked">
              <div style="margin-top: -100px; margin-left:15px;"> 
                <p style="width:450px; text-align: justify;"></p><h6>MECHATRONICS LAB:</h6>
                <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li> Pneumatic &amp; Electro Pneumatic Trainers PLCs</li>
                    <li>Stepper Motor Controllerss</li>
                    <li>Switch Mode Power Supplies</li>
                    <li>  Servo Controller &amp; PID Controller Interfacing</li>
                    <li> Air Compressor</li>
                    <li> ACER Veriton PCs</li>
                    <li> Automation Studio Software</li>
                </ul>
      
                  <br><br><br><br>
              </div>
              <!-- <div class="card-action" style="margin-top: -50px;">
                <a href="#">Investment till Date : Rs 9,76,983.00</a>
              </div> -->
            </div>
          </div>
      </div>
      
      <div class="c">
          <div class="card horizontal" style="margin-bottom: 50px;">
            <div>
              <img src="https://www.saranathan.ac.in/images/lab/mech/camlab3.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
            </div>
            <div class="card-stacked">
              <div style="margin-top: -100px; margin-left:15px;"> 
                <p style="width:450px; text-align: justify;"></p><h6>CNC/CAM LAB:</h6>
                <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li>CNC Lathe with SINUMERIK 802D Control System</li>
                    <li> CNC Slant Bed Lathe Machine with FANUC Software</li>
                    <li>CNC Bench Milling Machine with FANUC Software</li>
                </ul>

                  <br><br><br><br><br>
                <p></p>
              </div>
              <!-- <div class="card-action" style="margin-top: -80px;">
                <a href="#">Investment till Date : Rs 25,40,491.00</a>
              </div> -->
            </div>
          </div>
      </div>
      
      <div class="c" style="
    margin-left: 18rem;
">
          <div class="card horizontal" style="margin-bottom: 50px;">
            <div>
              <img src="https://www.saranathan.ac.in/images/lab/mech/meclab2.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
            </div>
            <div class="card-stacked">
              <div style="margin-top: -100px; margin-left:15px;"> 
                <p style="width:450px; text-align: justify;"></p><h6>MANUFACTURING TECHNOLOGY LAB I:</h6>
                <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li> Lathes</li>
                    <li> Power Hacksaw Machine</li>
                    <li> Bench Drilling Machine</li>
                    <li>  Bench Grinder</li>
                    <li> Power Drilling Machine</li>
                    <li>  Circular Saw Machine Hand Operated Angle Shear</li>
                    <li> Injection Moulding Machine</li>
                </ul>
      
                <br><br><br><br><br>
              </div>
              <!-- <div class="card-action" style="margin-top: -90px;">
                <a href="#">Investment till Date : Rs 98,82,447.00
                </a>
              </div> -->
            </div>
          </div>
      </div>
      
      <div class="c">
        <div class="card horizontal" style="margin-bottom: 50px;">
          <div>
            <img src="https://www.saranathan.ac.in/images/lab/mech/meclab1.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
          </div>
          <div class="card-stacked">
            <div style="margin-top: -100px; margin-left:15px;"> 
              <p style="width:450px; text-align: justify;"></p><h6>MANUFACTURING TECHNOLOGY LAB II:</h6>
              <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                <li> Capstan Lathe</li>
                <li>Upright Drilling</li>
                <li> Vertical Milling</li>
                <li> Horizontal &amp; Universal Milling</li>
                <li> Gear Hobbing</li>
                <li> Surface Grinding</li>
                <li> Shaping</li>
                <li> Slotting</li>
                <li> Radial Drilling Machines</li>
                <li> Dynamometers</li>
                <li> Tool Makers Microscope</li>
            </ul>
              <br><br><br><br><br>
            </div>
            <!-- <div class="card-action" style="margin-top: -90px;">
              <a href="#">Investment till Date : Rs 15,53,498.00</a>
            </div> -->
          </div>
        </div>
      </div>
      
      <div class="c">
          <div class="card horizontal" style="margin-bottom: 50px;">
            <div>
              <img src="https://www.saranathan.ac.in/images/lab/mech/cenws5.jpg" style="height: 260px; width:400px; padding: 0.6cm; border-radius: 0px;">
            </div>
            <div class="card-stacked">
              <div style="margin-top: -100px; margin-left:15px;"> 
                <p style="width:450px; text-align: justify;"></p><h6>Common Mechanical Lab</h6>
                
                <ul style="text-align: left;margin-top: 2rem;font-size: large;">
                    <li>Lathes</li>
                    <li>Bench Grinder</li>
                    <li>Angle Grinder</li>
                    <li>Power Tools</li>
                    <li> Air Compressor</li>
                    <li>  Welding Transormers</li>
                    <li> TIG Welding Machine</li>
                    <li> Gas Welding Set</li>           
                    <li> Hand Operated Blow Moulding Machine</li>
                </ul>
                  <br><br><br><br>
              </div>
            </div>
          </div>
      </div>
      
    
      <br><br><br>
      
      
      
      
      </section>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top" style="
    position: relative;
    width: 100%;
    top: 61vh;
">
          <div class="container">
            <div class="row">
        
              <div class="col-lg-3 col-md-6 footer-info">
                <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
                <p style="
    padding: 0;
">Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
                  Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
                  greatest ever Principal of National College. It is a self financing college approved by AICTE and
                  affiliated to Anna University, Chennai.</p>
              </div>
        
              <div class="col-lg-3 col-md-6 footer-links" style="
        text-align: left;
        ">
                <h4>Quick Links</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
                </ul>
              </div>
        
              <div class="col-lg-3 col-md-6 footer-links" style="
        text-align: left;
        ">
                <h4>quick Links</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
                </ul>
              </div>
        
              <div class="col-lg-3 col-md-6 footer-contact">
                <h4>Contact Us</h4>
                <p style="
        text-align: left;
        padding: 0;
        ">
                  Saranathan College of Engineering
                  Venkateswara Nagar,
                  Trichy-Madurai Main Road (NH 45 B),
                  Edamalaipatti Pudhur(Post), Panjappur,
                  Thiruchirappalli - 620012<br>
                  <strong>Phone:</strong> +91 8489915204<br>
                  <strong>Email:</strong> sce@gmail.com<br>
                </p>
        
                <div class="social-links">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
        
              </div>
        
            </div>
          </div>
          <div class="container">
            <div class="copyright">
              © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
            </div>
          </div>
        </div>
        </footer><!-- End  Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="../../../assets/vendor/aos/aos.js"></script>
    <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../../assets/vendor/php-email-form/validate.js"></script>
    <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>
  
    <!-- Template Main JS File -->
    <script src="../../../assets/js/main.js"></script>
  
  <script src="st.js"></script>
 
  </body></html>