<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="styles.css" rel="stylesheet">
  <link href="../../../assets/style.scss" rel="stylesheet">
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="text-align: center;font-family: poppins-extralight,poppins,sans-serif;">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="../../AboutUS/speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="../../Center/center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto  active" href="../dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>



    
   <ul class="sn">
      <li class="snbli"><a class="active" href="mechabt.html">Department of MECH</a></li>
      <li class="snbli"><a href="fmech.html">Faculty</a></li>
      <li class="snbli"><a href="lab.html">Facilities</a></li>
      <li class="snbli"><a href="rcell.html">Research Cell</a></li>
      <li class="snbli"><a href="pp.html">Project Proposal / Seminar Grant</a></li>
      <li class="snbli"><a href="inno.html">Innovative Projects</a></li>
      <li class="snbli"><a href="placemech.html">Placement Details</a></li>
      <li class="snbli"><a href="">Contact US</a></li>
  </ul>
<div style="position: relative;pointer-events: none;width: 63%;margin-left: 16rem;top: -37rem;color: black;">

  <h2 style="font-weight: 600;margin-left: 65vh;margin-bottom: 7vh;">DEPARTMENT OF MECHANICAL ENGINEERING</h2>

  <h3 style="font-weight: 500;text-align: left;margin-left: 7rem;margin-bottom: 2rem;color: rgb(0, 0, 100);">Vision</h3>
  <ul style="
    text-align: left;
    margin-left: 6rem;
    font-size: 1.5em;
    width: 125%;
    margin-bottom: 3rem;
"> 
      <li>To become a Department of Academic Excellence in the frontier areas of Mechanical Engineering</li>
      <li> To become a renown institute for Higher Learning and Research in Mechanical Engineering leading to the evolution of knowledge society</li>

    </ul>
    <p></p>
    
      <h3 style="font-weight: 500;text-align: left;margin-left: 7rem;margin-bottom: 2rem;color: rgb(0, 0, 100);">Mission</h3>
        <ul style="
        text-align: left;
        margin-left: 6rem;
        font-size: 1.5em;
        width: 100%;
    "> 
          <li>To train future leaders with skills and abilities</li>
          <li>To pursue research in frontier areas and enhance knowledge base</li>
          <li>To inculcate values leading to holistic learning</li>

    
        </ul>

       

</div>
<div class="contentarea" style="position: relative;margin-bottom: -24rem;pointer-events: none;">

<br><br><br>
<div style="
  text-align: left;
  font-size: large;
  margin-top: -40rem;
  margin-left: 12rem;
">
<h6 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;font-size: xx-large;margin-bottom: 2rem;">
  About the Department
</h6>
<p style="margin: 0px 180px;">
2005 - Year of start of UG Program with intake as on date 120<br>
2012 - Year of start of PG Program with intake as on date 18<br>
2015 - Year of Regonization for Ph.D Program with number of scholars as on date 11<br>
UG program is permanently affiliated to Anna University, Chennai<br><br><br>
</p>

<h6 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;font-size: xx-large;margin-bottom: 2rem;">
Academic Programs
</h6>
<p style="margin: 0px 180px;">
<b>UG</b> B.E.  - Mechanical Engineering<br>
<b>PG</b> M.E. - Thermal Engineering
<br><br><br>
</p>



<h6 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;font-size: xx-large;margin-bottom: 2rem;">
Program Specific Outcomes-PSO
</h6>
<p style="margin: 0px 180px;">
Graduates of Mechanical Engineering will be able to<br>
PSO1 : Apply Engineering knowledge to develop machines, equipment, process and systems for benefit of society and self.<br>
PSO2 : Develop job ready, billable, employable professionals familiar with best practices of industries.<br>
PSO3 : Apply their acquired knowledge in domain of applied mechanics, thermal and fluid sciences to solve engineering problems utilizing latest tools.<br><br><br>
</p>

<h6 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;font-size: xx-large;margin-bottom: 2rem;">
Program Educational Objectives
</h6>
<p style="margin: 0px 180px;">
PEO I : To develop fundamental knowledge in engineering in order to enable them to formulate analyze and solve the application problems.<br>
PEO II : To provide hands on training on various cutting edge technologies in order to inculcate an innovative approach towards Design, Manufacture and Maintain new products/systems.<br>
PEO III : To provide opportunities to the students to participate/organize workshops/seminars on recent trends/research in the field of mechanical engineering.<br>
PEO IV : To provide opportunity to students to involve themselves in various social activities.<br><br><br>
</p>

  <h4 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:180px;font-size: xx-large;margin-bottom: 2rem;">National Board of Accreditation (NBA) Status </h4>
  <table border="2" id="cus" style="    position: relative;
  top: 0;
  left: -26vh;text-align:center;">
      <tbody><tr>
      <th>&nbsp;</th>
      <th style="
    text-align: center;
">Accreditation Status</th>
      <th><center>Validity</center></th>
      </tr>
      <tr>
          <td>1st Accreditation</td>
          <td>Accredited</td>
          <td>2 YEARS W.E.F. 06-08-2014</td>
      </tr>
      <tr>
          <td>2nd Accreditation</td>
          <td>Accredited</td>
          <td>Academic Years 2018-2019 to 2020-2021 <br>i.e upto 30-06-2021</td>
      </tr>
  
  </tbody></table>

</div>
</div>









<footer id="footer">
<div class="footer-top" style="
    position: relative;
    top: 60vh;
">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 footer-info">
        <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
        <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
          Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
          greatest ever Principal of National College. It is a self financing college approved by AICTE and
          affiliated to Anna University, Chennai.</p>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>Quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Us</h4>
        <p style="
text-align: left;
">
          Saranathan College of Engineering
          Venkateswara Nagar,
          Trichy-Madurai Main Road (NH 45 B),
          Edamalaipatti Pudhur(Post), Panjappur,
          Thiruchirappalli - 620012<br>
          <strong>Phone:</strong> +91 8489915204<br>
          <strong>Email:</strong> sce@gmail.com<br>
        </p>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>

    </div>
  </div>
  <div class="container">
    <div class="copyright">
      © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
    </div>
  </div>
</div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

<script src="../../../assets/vendor/aos/aos.js"></script>
<script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../../assets/vendor/php-email-form/validate.js"></script>
<script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../../../assets/js/main.js"></script>
</body></html>