<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">


  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="styles.css" rel="stylesheet">
  <link href="../../../assets/style.scss" rel="stylesheet">
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="text-align: center;font-family: poppins-extralight,poppins,sans-serif;">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->

  <ul class="sn">
    <li class="snbli"><a href="mechabt.html">Department of MECH</a></li>
    <li class="snbli"><a href="fmech.html">Faculty</a></li>
    <li class="snbli"><a href="lab.html">Facilities</a></li>
    <li class="snbli"><a  class="active" href="rcell.html">Research Cell</a></li>
    <li class="snbli"><a href="pp.html">Project Proposal / Seminar Grant</a></li>
    <li class="snbli"><a href="inno.html">Innovative Projects</a></li>
    <li class="snbli"><a href="placemech.html">Placement Details</a></li>
    <li class="snbli"><a href="mcontact.html">Contact US</a></li>

  </ul>
  <!-- ======= Hero Section ======= -->
<section class="lod" style="
    margin-top: -100vh;
">
      <h4 style="position: relative;top: 22vh;font-size: xx-large;font-weight: 700;pointer-events: none;">LIST OF DOCTORATES</h4>
      <section class="rc">
      </section><table id="cus" border="1" style="
  position: relative;
  top: 20vh;
  width: 77%;
  margin-left: 50vh;
  height: 30vh;
">
<tbody><tr>
  <th><center>S.No</center></th>
  <th style="
  padding: 22px;
"><center>Name of the Faculty Member</center></th>
  <th><center>Supervisor Recognition No.</center></th>
  <th><center>Area of Specialization</center></th>
  <th><center>Title of the Thesis</center></th>
  </tr>
  
  
  
  <tr>
  <td>1.</td>
  <td>Dr.D.Valavan</td>
  <td><center>-</center></td>
  <td><center>Thermal Engineering</center></td>
  <td>
  Investigation on the Performance and Emission of a Direct Injection C.I Engine   Fuelled with Diesel Vegetable Oil Blends
  </td>
  </tr>
  
  
  <tr>
  <td>2.</td>
  <td>Dr. N.BASKAR</td>
  <td><center>18.279.01 / 1820047 (Old / New Ref. No.)</center></td>
  <td><center>Manufacturing Engineering</center></td>
  <td>
  Optimization of Machining Variables using Non-Traditional Techniques
  </td>
  </tr>
  
  <tr>
  <td>3.</td>
  <td>Dr. G.JAYAPRAKASH</td>
  <td><center>21.02.58/ 2120132 (Old / New Ref. no.)</center></td>
  <td><center>CAD / FEA</center></td>
  <td>
  Optimal Tolerance Design of Mechanical   Assemblies Using Finite Element  Simulation and Intelligent Techniques
  </td>
  </tr>
  
  <tr>
  <td>4.</td>
  <td>Dr. M.R.ANANTHA PADMANABAN</td>
  <td><center>-</center></td>
  <td><center>Manufacturing Engineering</center></td>
  <td>
  Modeling Investigation and Optimization of Hot Wire Gas    Tungsten Arc Welding of Austenitic Stainless Steel used    in Power Boiler Applications</td>
  </tr>
  
  <tr>
  <td>5.</td>
  <td>Dr. R.REKHA</td>
  <td><center>-</center></td>
  <td><center>Manufacturing Engineering</center></td>
  <td>
  Experimental Investigations and Analysis   on Cylindrical Grinding of Steel Work   pieces under Dry and Wet Conditions</td></tr>
  
  
  <tr>
  <td>6.</td>
  <td>Dr. M. GANESAN</td>
  <td><center>-</center></td>
  <td><center>Manufacturing Engineering</center></td>
  <td>
  Evaluation of Properties for Friction Welding of Similar Materials</td></tr>
  
  <tr>
  <td>7.</td>
  <td>DR.A.MERCYVASAN</td>
  <td><center>-</center></td>
  <td><center>Mechanical Engineering</center></td>
  <td>
  Three Dimensional Modeling and Investigation of the Transient, Multiphase Cold Flow Characteristics of a Full Loop, Laboratory Scale CFB Boiler using CFD Techniques.</td></tr>
  
  
  <tr>
  <td>8.</td>
  <td>DR.G.MAHESH</td>
  <td><center>-</center></td>
  <td><center>Mechanical Engineering</center></td>
  <td>
  Experimental Investigations and Analysis on Sand Casting Process by Varying the Mould Attributes using Optimized Riser Design.</td></tr>
  </tbody></table>
              <h4 style="position: relative;top: 24vh;font-size: xx-large;font-weight: 700;margin-left: 42vh;">Details of Research Supervisor and Scholars presently registered with Anna University - Chennai</h4>
              <h5 style="position: relative;top: 29vh;font-size: x-large;font-weight: 500;">Details of Research Scholars of Research Supervisor - Dr.G.Jayaprakash (Supervisor No. : 2140287)</h5>

              <table id="cus" border="1" style="position: relative;top: 28vh;width: 77%;margin-left: 50vh;height: 30vh;text-align: center;">
                  <tbody><tr>    
                  <th><center>S.No</center></th>
                  <th><center>Regno</center></th>
                  <th><center>Name</center></th>
                  <th><center>FT/PT</center></th>
                  <th><center>Degree</center></th>
                  <th><center>Reg Year</center></th>
                  <th><center>Reg Session</center></th>
                  </tr>
                  
                  <tr>
                      <td>1.</td>
                      <td>1614259166</td>
                      <td>Senthilkumar N</td>
                      <td><center>PT</center></td>
                      <td>Ph.D</td>
                      <td>2016</td>
                      <td>JAN</td>
                      </tr>
                  
                      <tr>
                          <td>2.</td>
                          <td>16142597304</td>
                          <td>Sriram D</td>
                          <td><center>PT</center></td>
                          <td>Ph.D</td>
                          <td>2016</td>
                          <td>JUL</td>
                          </tr>
                  
                          <tr>
                              <td>3.</td>
                              <td>20132591169</td>
                              <td>Nagadeepan A</td>
                              <td><center>PT</center></td>
                              <td>Ph.D</td>
                              <td>2020</td>
                              <td>JAN</td>
                              </tr>
                  </tbody></table>



                  <h4 style="position: relative;top: 33vh;font-size: x-large;font-weight: 500;">Details of Research Scholars of Research Supervisor - Dr.N.Baskar (Supervisor No. : 1820047)</h4>

                  <table id="cus" border="1" style="position: relative;top: 32vh;width: 77%;margin-left: 50vh;height: 30vh;text-align: center;">
                      <tbody><tr>    
                          <th><center>S.No</center></th>
                          <th><center>Regno</center></th>
                          <th><center>Name</center></th>
                          <th><center>FT/PT</center></th>
                          <th><center>Degree</center></th>
                          <th><center>Reg Year</center></th>
                          <th><center>Reg Session</center></th>
                          </tr>
                          
                          <tr>
                          <td>1.</td>
                          <td>1513259259</td>
                          <td>Ramkumar K</td>
                          <td><center>PT</center></td>
                          <td>Ph.D</td>
                          <td>2015</td>
                          <td>JAN</td>
                          </tr>
                          
                          
                          <tr>
                          <td>2.</td>
                          <td>17132591273</td>
                          <td>Karthikeyan S</td>
                          <td><center>PT</center></td>
                          <td>Ph.D</td>
                          <td>2017</td>
                          <td>JAN</td>
                          </tr>
                          
                          <tr>
                          <td>3.</td>
                          <td>17142591284</td>
                          <td>Maria Jackson A</td>
                          <td><center>PT</center></td>
                          <td>Ph.D</td>
                          <td>2017</td>
                          <td>JAN</td>
                          </tr>
                          
                          <tr>
                          <td>4.</td>
                          <td>17132597267</td>
                          <td>SathishKumar.P</td>
                          <td><center>PT</center></td>
                          <td>Ph.D</td>
                          <td>2017</td>
                          <td>JUL</td>
                          </tr>
                          
                          
                          <tr>
                          <td>5.</td>
                          <td>18152597158</td>
                          <td>Ramakrishnan.H</td>
                          <td><center>PT</center></td>
                          <td>Ph.D</td>
                          <td>2018</td>
                          <td>JUL</td>
                          </tr>
                          
                          </tbody></table>
              </section>

              <section class="phdcs">
                  <center>
                      <h4 style="
  position: relative;
  top: 36vh;
  font-size: xx-large;
  font-weight: 700;
">List of Ph.D scholars who have completed the programme</h4>
                      <div>
                      <table id="cus" border="1" style="width: 77%;position: relative;top: 38vh;text-align: center;height: 100vh;margin-left: 43vh;">
                          <tbody><tr>    
                              <th><center>S.No</center></th>
                              <th><center>Candidate</center></th>
                              <th><center>Supervisor </center></th>
                              <th><center>Title of the Thesis</center></th>
                              <th><center>Name of the University</center></th>
                              <th><center>Date &amp; year Completion </center></th>
                              <!-- <th><Center>Examiners</center></th>  -->
                              </tr>
                              
                              
                              
                              <tr>
                              <td>1.</td>
                              <td>B.Sureshkumar<br>20092022038 </td>
                              <td>Dr. N.BASKAR, Professor, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>Comprehensive Analysis of Machining Parameters in Drilling Operations</td>
                              <td>Anna University , Chennai</td>
                              <td>May 15<sup>th</sup> 2015</td>
                              <!-- <td>1. Dr.P.Asokan, Professor, Dept. of Production Engg., NITT<br>
                              2.Dr.Rakesh Kumar Gautam, Associate Professor, Dept. of Mechanical Engg., IIT – Varanasi</td> -->
                              </tr>
                              
                              <tr>
                              <td>2.</td>
                              <td>R.Balasundaram <br>20092062006</td>
                              <td>Dr. N.BASKAR Professor, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>Discovering Dispatching Rules for Permutation Flow Shop Scheduling Using Data Driven Approach</td>
                              <td>Anna University , Chennai</td>
                              <td>July 13<sup>th</sup> 2015</td>
                              <!-- <td>1. Dr.Arul.B.Borade, Professor & Head, Dept. of Mechanical Engg., Jawaharlal Darda Institute of Technology, Yavatmal, Maharastra – 445001<br>
                              2.Dr.J.Jerald, Assistant Professor, Dept. of Production Engg., NITT</td> -->
                              </tr>
                              
                              <tr>
                              <td>3.</td>
                              <td>V.Balasubramanian  <br>20102042005</td>
                              <td>Dr. N.BASKAR Professor Dept. of Mechanical Engineering,Saranathan College of Engineering, Trichy - 12 </td>
                              <td>Optimization of Technological Parameters and their Effects on Process Performance During Edm of Aluminium Silicon Carbide Composite Materials</td>
                              <td>Anna University , Chennai</td>
                              <td>Jan 22<sup>nd</sup> 2016</td>
                              <!-- <td>1. Dr.N.Selvaraj, Professor, Dept. of Mechanical Engg., NITT<br>
                              2.Dr.T.Senthilkumar, Professor & Dean I/C, Dept. of Mechanical Engg., Anna University, Regional Office, Trichy.</td> -->
                              </tr>
                              
                              <tr>
                              <td>4.</td>
                              <td>R.Gayatri  <br>20105052014</td>
                              <td>Dr. N.BASKAR Professor, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12 </td>
                              <td>Comprehensive Performance Analysis Of   Non-Traditional Algorithmic Parameters                         For Various Mathematical Models Of Machining Processes</td>
                              <td>Anna University , Chennai</td>
                              <td>Feb 10<sup>th</sup> 2017</td>
                              <!-- <td>1. Dr.M.Kanthababu, Director – CIPR, Anna University, Chennai<br>
                              2. Dr.Ramesh Unnikrishnan, Deputy Director -  AICTE, South Western Regional office, PK Block, Palace road, Bengaluru – 560009</td> -->
                              </tr>
                              
                              <tr>
                              <td>5.</td>
                              <td>S.Kannan <br>20092012011</td>
                              <td>Dr. N.BASKAR Professor, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12 </td>
                              <td>An experimental investigation, analysis, modeling and optimization of face milling parameters for various work piece materials.</td>
                              <td>Anna University , Chennai</td>
                              <td>Feb 28<sup>th</sup> 2017</td>
                              <!-- <td>1. Dr.N.Selvaraj, Professor, Dept. of Mechanical Engg., NITT<br>
                              2. Dr.R.Vijayan, Professor & Head, Dept. of Mechanical Engg., Government College of Engg., Salem</td> -->
                              </tr>
                              
                              
                              <tr>
                              <td>6.</td>
                              <td>M.R.AnanthaPadmanaban <br>2010S2012001</td>
                              <td>Dr. N.BASKAR Professor, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>Modeling, Investigation and Optimization of Hot Wire Gas Tungsten Welding Process for Austenitic Stainless Steel Used in Power Boiler Applications</td>
                              <td>Anna University , Chennai</td>
                              <td>Aug 17<sup>th</sup> 2017</td>
                              <!-- <td>1. Dr.M.Kanthababu, Director – CIPR, Anna University, Chennai<br>
                              2. Dr.V.Udhayabanu ,    Assistant Professor, Metallurgical & Materials Engineering Department, Visvesvaraya National institute of Technology,(VNIT) 
                              Nagpur- 440010</td> -->
                              </tr>
                              
                              <tr>
                              <td>7.</td>
                              <td>R.Rekha<br>2010S2012014</td>
                              <td>Dr. N.BASKAR Professor, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>Experimental Investigations and Analysis on Cylindrical Grinding of Steel Work Pieces Under Dry and Wet Conditions</td>
                              <td>Anna University , Chennai</td>
                              <td>Sep 27<sup>th</sup> 2017</td>
                              <!-- <td>1. Dr.M.Kanthababu, Director – CIPR, Anna University, Chennai<br>
                              2. Dr.G.Karthikeyan, Assistant Professor, Department of Mechanical Engineering, BITS Pilani, K K Birala Goa Campus, Goa.</td> -->
                              </tr>
                              
                              
                              <tr>
                              <td>8.</td>
                              <td>Mr.V.Chockalingam <br>20102072007</td>
                              <td>Dr.G.JAYAPRAKASH, Professor &amp; Head, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>Experimental Analysis of Bio-Mass Blends Using Circulating Fluidized Bed Gasifier</td>
                              <td>Anna University , Chennai</td>
                              <td>Sep 8<sup>th</sup> 2017</td>
                              <!-- <td>1. Dr. N. Alagumurthi M.Tech., Ph.D, Professor, Department of Mechanical Engineering, PEC, Pondicherry.<br>
                              2. Dr.Lenin singaravel, Asst.Professor, Production Engineering Department, NIT-Trichy.</td> -->
                              </tr>
                              
                              <tr>
                              <td>9.</td>
                              <td>Mr.K.Ramesh  <br>20092032026</td>
                              <td>Dr. N.BASKAR Professor, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>OPTIMIZATION OF CUTTING LAYOUT FOR SHEET METAL BLANKS USING TRADITIONAL AND NON-TRADITIONAL TECHNIQUES</td>
                              <td>Anna University , Chennai</td>
                              <td>Oct 1<sup>st</sup> 2018</td>
                              <!-- <td>1. Dr.S.Aravindan, Professor, Mechanical Engineering, IIT Delhi.<br>
                              2. Dr.J.Jerald, Associate Professor, Production Engineering Department, NIT-Trichy.</td> -->
                              </tr>
                              
                              <tr>
                              <td>10.</td>
                              <td>Mr.M.Varatharajulu    <br>1414259130</td>
                              <td>Dr.G.JAYAPRAKASH, Professor &amp; Head, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>EXPERIMENTAL INVESTIGATION AND MODELING OF DRILLING CHARACTERISTICS OF DUPLEX STAINLESS STEELS AND MAGNESIUM ALLOY</td>
                              <td>Anna University , Chennai</td>
                              <td>Aug 21<sup>st</sup> 2018</td>
                              <!-- <td>1. Dr. N. Selvaraj, Professor, Department of Mechanical Engineering, National Institute of Technology, Warangal, 506004.<br>
                              2. Dr. P. Sathiya, Professor and Head, Department of Production Engineering, National Institute of Technology, Trichy 620015.</td> -->
                              </tr>
                              
                              <tr>
                              <td>11.</td>
                              <td>Mr.R.K.Vittel Rao <br>1414259790</td>
                              <td>Dr.G.JAYAPRAKASH, Professor &amp; Head, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>A STUDY ON THE ROLE OF PROCESSING PARAMETERS OF EQUAL CHANNEL ANGULAR PRESSING ON MICROSTRUCTURE , MECHANICAL AND TRIBOLOGICAL PROPERTIES OF RECYCLE AL ALLOYS</td>
                              <td>Anna University , Chennai</td>
                              <td>May 17<sup>th</sup> 2019</td>
                              </tr>
                              
                              <tr>
                              <td>12.</td>
                              <td>Mr.N. Sathiya Narayanan<br>1615259141</td>
                              <td>Dr. N.BASKAR Professor, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>Experimental Investigations and Analysis of Conventional and Surface Textured Cutting Inserts</td>
                              <td>Anna University , Chennai</td>
                              <td>Sep 11<sup>th</sup> 2020</td>
                              </tr>
                              
                              <tr>
                              <td>13.</td>
                              <td>Mr.V.Senthil kumar<br>
                              1614259148</td>
                              <td>Dr.G.JAYAPRAKASH, Professor &amp; Head, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>Experimental Investigation and Intelligent Optimization of Machining parameters in CO2 laser cutting on Ferrous &amp; Non ferrous alloys.</td>
                              <td>Anna University , Chennai</td>
                              <td>Jun 10<sup>th</sup> 2020</td>
                              </tr>
                              
                              
                              <tr>
                              <td>14.</td>
                              <td>Mr.Bovas Herbert Bejahxin<br>
                              1314259831</td>
                              <td>Dr.G.JAYAPRAKASH, Professor &amp; Head, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>Influence of Cutting Constraints and Coated Effects on Vibration Signals and Surface roughness in CNC milling.</td>
                              <td>Anna University , Chennai</td>
                              <td>Sep 11<sup>th</sup> 2020</td>
                              </tr>
                              
                              <tr>
                              <td>15.</td>
                              <td>M.Sridharan<br>
                              1614259132
                              </td>
                              <td>Dr.G.JAYAPRAKASH, Professor &amp; Head, Dept. of Mechanical Engineering, Saranathan College of Engineering, Trichy - 12</td>
                              <td>Experimental Investigation on Solar PV/T water collectors and its performance predictions using Cognitive models.</td>
                              <td>Anna University , Chennai</td>
                              <td>Oct 28<sup>th</sup> 2020</td>
                              </tr>
                              </tbody>
                  </table>
                      </div>
              </center></section>
<section class="ongoing" style="
  position: relative;
  top: 17vh;
">
  <h4 style="position: relative;top: 26vh;font-size: xx-large;font-weight: 700;">List of Ph.D Scholars of Ongoing Research Work</h4>

  <table id="cus" border="1" style="position: relative;top: 28vh;width: 77%;margin-left: 50vh;height: 30vh;text-align: center;">
      <tbody><tr>    
          <th><center>S.No</center></th>
          <th><center>Candidate Name &amp; Reg.No.</center></th>
          <th><center>Supervisor </center></th>
          <th><center>Title of the Thesis</center></th>
          <th><center>Name of the University</center></th>
          <th><center>Month &amp; year Registration </center></th>
          </tr>
          
          
          
          <tr>
          <td>1.</td>
          <td>Mr.S.Sathyanarayanan 411915052 </td>
          <td>Dr. S. Suresh </td>
          <td>Emission analysis in ic engine exhaust gas</td>
          <td>NIT, Trichy</td>
          <td>Feb 2016 </td>
          </tr>
          
          
          <tr>
          <td>2.</td>
          <td>Mr.S.Karthikeyan 
          17132591273
           </td>
          <td>Dr. N. Baskar  </td>
          <td>Experimental investigation and evaluation of mechanical properties for friction welding of similar and dissimilar materials </td>
          <td>Anna University, Chennai.</td>
          <td>January 2017  </td>
          </tr>
          
          
          <tr>
          
          <td>3.</td>
          <td>Mr.A.Ranjith Raj
          414917059                            
          
           </td>
          <td>Dr. S.Vinoth  </td>
          <td>Additive manufacturing</td>
          <td>NIT, Trichy</td>
          <td>December 2017   </td>
          </tr>
          
          <tr>
          
          <td>4.</td>
          <td>Mr.M.Sriram Prasanth
           </td>
          <td>Dr.V.Arul Mozhi Selvan  </td>
          <td>Alternate fuels</td>
          <td>NIT, Trichy</td>
          <td>June 2018   </td>
          </tr>
          
          <tr>
          
          <td>5.</td>
          <td>Mr.R.Suresh Babu
           </td>
          <td>Dr.P.Asokan  </td>
          <td>Experimental Investigation, Analysis And Optimization Of Wedm Process Parameters On Inconel Alloy </td>
          <td>NIT, Trichy</td>
          <td>Dec 2018   </td>
          </tr>
          
          </tbody></table>


</section>

  <!-- ======= Footer ======= -->
  <footer id="footer">
      <div class="footer-top" style="
  position: relative;
  width: 100%;
  top: 60vh;
">
        <div class="container">
          <div class="row">
      
            <div class="col-lg-3 col-md-6 footer-info">
              <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
              <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
                Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
                greatest ever Principal of National College. It is a self financing college approved by AICTE and
                affiliated to Anna University, Chennai.</p>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
      ">
              <h4>Quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
              </ul>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
      ">
              <h4>quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
              </ul>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p style="
      text-align: left;
      ">
                Saranathan College of Engineering
                Venkateswara Nagar,
                Trichy-Madurai Main Road (NH 45 B),
                Edamalaipatti Pudhur(Post), Panjappur,
                Thiruchirappalli - 620012<br>
                <strong>Phone:</strong> +91 8489915204<br>
                <strong>Email:</strong> sce@gmail.com<br>
              </p>
      
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
      
            </div>
      
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
          </div>
        </div>
      </div>
      </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../../assets/vendor/aos/aos.js"></script>
  <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../../assets/js/main.js"></script>

<script src="st.js"></script>

</body></html>