<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Consultancy</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="../../../assets/css/eeestyle.css" rel="stylesheet">
    <link href="../../../assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
  
  <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
  
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
    border-style: outset;
    border-color: blue;
    border-top: white;
    border-left: white;
    border-right: blue;">
      <div class="container-fluid container-xxl d-flex align-items-center">
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
          <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
      width: 40%;
      position: absolute;
      left: 1%;
      top: 0px;
      " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
  
        <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
          
        <div class="parallelogram">
          <h2 style="
      color: white;
      transform: skew(215deg, 360deg);
      margin-top: 5px;font-weight: 500;
      font-family: system-ui;
  ">WINNERS BEGIN WITH SARANATHAN</h2>
          </div>
        
          <ul style="
      position: relative;
  ">
            <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
             <ul>
                <li><a href="speaker-details.html">About the Instution</a></li>
                <li><a href="FP.html">Founder President</a></li>
                <li><a href="FS.html">Founder Secretary</a></li>
                <li><a href="GC.html">Governing Council</a></li>
                <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                <li><a href="CC.html">College Committees</a></li>
                <li><a href="infra.html">Infrastructure</a></li>
                <li><a href="quality.html">Quality Policy</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
              <ul>
                <li><a href="#">Courses Offered</a></li>
                <li><a href="#">Addmission Norms</a></li>
                <li><a href="#">Admission Policy</a></li>
                <li><a href="#">Code of Conduct</a></li>
                <li><a href="#">Scholorship</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
              <ul>
                <li><a href="#">Center For Research</a></li>
                <li><a href="#">Institute Industry Partnership Cell</a></li>
                <li><a href="#">Quality Improvement Cell</a></li>
                <li><a href="#">Entrepreneurship Development Cell</a></li>
                <li><a href="#">Campus Connect - Infosys</a></li>
                <li><a href="#">Women Empowerment Cell</a></li>
                <li><a href="#">E - Yantra</a></li>
                <li><a href="#">Smart India Hackathan</a></li>
  
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
              <ul>
                <li><a href="#">Civil Engineering</a></li>
                <li><a href="#">Computer Science Engg</a></li>
                <li><a href="#">Electronics &amp; Comm Engg</a></li>
                <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                <li><a href="#">Instrumentation &amp; Control</a></li>
                <li><a href="#">Mechanical Engineering</a></li>
                <li><a href="#">Management Studies (MBA)</a></li>
                <li><a href="#">Science and Humanity</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
              <ul>
                <li><a href="#">Placement cell</a></li>
                <li><a href="#">Student Placement Details</a></li>
                <li><a href="#">Training Activities</a></li>
                <li><a href="#">Our Recruiters</a></li>
                <li><a href="#">Rank Holders</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#">NAAC</a></li>
  
            <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
  <!-- .navbar -->
       <!-- <a class="buy-tickets scrollto" style="position: relative;
        left: 200px;
        top: 25px;" href="#">Login</a>-->
  
      </div>
    </header><!-- End Header -->
  
    <main id="main" class="main-page">
      <ul class="snbul" >
        <li class="snbli"><a href="EEE dept.html">Department of EEE</a></li>
        <li class="snbli"><a href="eeelabs.html">Facilities</a></li>
        <li class="snbli"><a href="eeefaculty.html">Faculty</a></li>
        <li class="snbli"><a href="eeeresearch2.html">Research Cell</a></li>
        <li class="snbli"><a href="audeptperf.html">AU Dept. Performance</a></li>
        <li class="snbli"><a class="active" href="consultancy (1).html">Consultancy</a></li>
        <li class="snbli"><a href="partnershipcell (1).html">Institute Industry Partnership Cell</a></li>
        <li class="snbli"><a href="placdetails.html">Placement Details</a></li>
        <li class="snbli"><a href="cont (2).html">Contact Us</a></li>
      </ul>
      <div style="margin-left:25%;padding:1px 16px;height:100%;">
        <div id="icontent2" style="
        position: absolute;
        top: 17.5%;
        left: 12%;
        width: 87%;
        text-align: justify;
        ">
                          
  

  
  
  
  
  <div class="row" style="position: absolute;width: 100%;">
          
        
        
         
  
  
  <!-- Navigation Part End -->
  
  
  
  
  
  
  <section class="py-5 bg-grey navbar-expand-lg">
  <div class="container" style="position: relative;left: 3.5%;">
   
   <div class="row" style="position: relative;width: 127%;left: -13%;">
   <div class="col-lg-12">
  <h1 style="color:rgb(28,49,145);text-align: center;margin-bottom: 3rem;font-weight: 500;font-family:Verdana, Geneva, Tahoma, sans-serif" class="down-line-left title">CONSULTANCY</b></h1>

  <p class="mb-5" style="font-size: x-large;margin-left: 10rem;margin-right: 10rem;">
    The department of EEE took an initiative on knowledge sharing by providing consultancy services to the industries by leveraging the expertise of the faculty and the existing laboratory facilities. As a result of continuous efforts of the department, the IIPC-EEE was formulated in October 2012 with an objective to reduce the gap between industry expectations (Practices) and academic offerings (Theory) by direct involvement of the industry to attain a symbiosis. The IIPC-EEE is lead by a Certified Energy Auditor.<br>
    <br>It is observed that the benefit of the modern technology has not reached most of the small scale industries and startup companies, where still age old engineering practices are being followed leading to power quality issues and energy loss. One among the main objective of the IIPC- EEE is to cater these sectors of the society, to derive the real benefit of technology and thereby contribute to energy conservation and power quality improvement in line with the nation's energy policy.
    <h4 style="color: rgb(28,49,145);font-size: 175%;margin-left: 10rem;margin-right: 10rem;" class="down-line-left title">What IIPC-EEE can offer to Industries?</h4>

  <!-- new addition -->
  <span class="panel-body style6"><br>
  <!-- new addition end -->
  <ul style="font-size: x-large;margin-left: 10rem;margin-right: 10rem;">
      <li>Evaluation of Compliance as per CEA 2012 (Central Electrical Authority)and the consequent TANGEDCO Regulations (April 2012) on Power Quality, in Industries and identification of possible solutions</li>
      <li>Acting as a consultant to implement those identified power quality solutions</li>
      <li>Cost Saving Analysis for the industry by maintaining good Power quality</li>
      <li>Performance Analysis of PV-Solar System</li>
  </ul>
  <br>
  <h2 style="color:rgb(28,49,145);text-align: center;margin-top: 4rem;margin-bottom: 3rem;margin-left: 10rem;margin-right: 10rem;" class="down-line-left title"><b>Projects Executed</b></h2>
  <br><h4 style="color: rgb(28,49,145);margin-bottom: 1rem;font-size: 175%;margin-left: 10rem;margin-right: 10rem;" class="down-line-left title">Consultancy Service offered to Industry</b></h4>
  <br>
   <p class="mb-3" style="font-size: x-large;margin-left: 10rem;margin-right: 10rem;">
    A power quality audit has been conducted on industry premises to evaluate the harmonic limit compliance by the customer to the CEA Regulations and TANGEDCO Norms on chargeable basis. A complete report of the audit on compliance has been submitted to industrial customers those who are drawing HT supply from the utility. Some of the industries where power quality audit has been conducted so far are listed below.
    </p>
    <h5 style="color: rgb(28,49,145);margin-top: 4rem;margin-bottom: 4rem;font-size: x-large;margin-left: 10rem;margin-right: 10rem;font-weight: 700;" class="down-line-left title">Energy Auditing at M/S.Cares Renewables Pvt.Ltd, Coimbatore on 25-10-17 and 26-10-17
        <br> <br>Power Quality Audit at Lakshmi Electricals, on 15-08-2016
        <br><br>Investigation of High Neutral - Ground voltage at Sri Vaithieswaran ortho clinic, on 18-01-2016
        <br><br>Dielectric strength of non-edible oil at Ghandhigram rural institute on 04-01-2015
        <br><br>Motor current Profile monitoring at Rane Brakes India(Ltd),Sethurapatti,Trichy on 10-04-2014
        <br><br>Power Quality Audit at Seva Gases Pvt Ltd, Pudukkudi (110 KV Utility Supply) on 21-02-2014
        <br><br>Power Quality Audit at Shanmuga Polymer Pvt Ltd, Pudukottai (33 KV Utility Supply)
</h5><br>
<center><table>
    <tr>
        <td style="border: white;"><img height="400px" width="500" src="http://saranathan.ac.in/images/eee/eeepe1.png"></td>
        <td style="border: white;"><img height="400px" width="500" src="http://saranathan.ac.in/images/eee/eeepe2.png"></td>
    </tr>
</table></center>
<br>
<h3 style="color: rgb(28,49,145);margin-top: 4rem;margin-bottom: 1rem;font-size: 175%;margin-left: 10rem;margin-right: 10rem;" class="down-line-left title"><b>Internal Consultancy Services offered by the Department
</b></h3><br>
<p class="mb-3" style="font-size: x-large;margin-left: 10rem;margin-right: 10rem;">
    Also the department is instrumental in offering its expertise to meet the needs of the institution as and when it is necessary. The parent institution has recently taken a major electrical work to convert the utility LT supply to an HT supply. All the preliminary work on design and modifications has been carried out by the department and the conversion work is under progress awaiting the HT supply from the TNEB.  
  </p> 
    <center><table style="margin-top: 5rem;margin-bottom: 3rem;">
        <tr>
            <td style="border: white;"><img height="400px" width="400" src="http://saranathan.ac.in/images/eee/eeepe3.png"></td>
            <td style="border: white;"><img height="400px" width="400" src="http://saranathan.ac.in/images/eee/eeepe4.png"></td>
            <td style="border: white;"><img height="400px" width="400" src="http://saranathan.ac.in/images/eee/eeepe5.png"></td>
        </tr>
    </table></center>   
   </div>
   </div>
   </div>
   </section>      
   </div>
   </div>
   </div>
</main><!-- End #main -->
  
    
  
  
  
    <!-- Vendor JS Files -->
    <script src="../../../assets/vendor/aos/aos.js"></script>
    <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../../assets/vendor/php-email-form/validate.js"></script>
    <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>
  
    <!-- Template Main JS File -->
    <script src="../../../assets/js/main.js"></script>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="position: relative;top: 140rem;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>



</body></html>