<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assests/css/eeedeptstyle.css" rel="stylesheet">
  <link href="../../../assets/style.scss" rel="stylesheet">
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/eeestyle.css" rel="stylesheet">
  <link href="../../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>

  <div class="section-heade" style="
  margin-top: 13rem;
  margin-bottom: -45rem;
  position: relative;
  ">
      <h2 style="font-weight: 600;margin-left: 35rem;margin-top: 10rem;">DEPARTMENT OF ELECTRICAL AND ELECTRONICS ENGINEERING</h2>
    </div>

    <ul class="snbul" id="sn">
      <li class="snbli"><a class="active" href="EEE dept.html">Department of EEE</a></li>
      <li class="snbli"><a href="eeelabs.html">Facilities</a></li>
      <li class="snbli"><a href="eeefaculty.html">Faculty</a></li>
      <li class="snbli"><a href="eeeresearch2.html">Research Cell</a></li>
      <li class="snbli"><a href="audeptperf.html">AU Dept. Performance</a></li>
      <li class="snbli"><a href="consultancy (1).html">Consultancy</a></li>
      <li class="snbli"><a href="partnershipcell (1).html">Institute Industry Partnership Cell</a></li>
      <li class="snbli"><a href="placdetails.html">Placement Details</a></li>
      <li class="snbli"><a href="cont (2).html">Contact Us</a></li>
    </ul>

<br>  <h2 style="font-weight: 600;color: #101774;text-align: left;margin-left: 29rem;margin-top: 97vh;">About The Department</h2><br><br>
  <h3 style="font-weight: 600;color: #101774;text-align: left;margin-left: 29rem;">History of the Department</h3><br>
  <ul style="text-align:left;margin-left: 28rem;font-size:x-large;">
    <li>1998 Year of start of UG Program with intake as on date 120</li>
    <li>2004 Year of start of PG Program with intake as on date 18</li>
    <li>2013 Year of Regonization for Ph.D Program with number of scholars as on date 9</li>
    <li>UG program is permanently affiliated to Anna University, Chennai</li>
  </ul>


  <h3 style="font-weight: 600;color: #101774;text-align: left;margin-left: 29rem;margin-top: 7vh;">Acadamic Programmes<br><br> UG</h3><br>
  <h4 style="font-size:x-large;color: black;text-align: left;margin-left: 29rem;margin-top: 15;">B.E.-Electricals and Electronics Engineering</h4><br>
  <h3 style="font-weight: 600;color: #101774;text-align: left;margin-left: 29rem;margin-top: 15;">PG</h3><br>
  <h4 style="font-size:x-large;color: black;text-align: left;margin-left: 29rem;;margin-top: 15;">M.E.-Power Electronics and Drives</h4>




    



<div class="contentarea" style="position: relative;top: -34rem;margin-bottom: -118vh;">
    <h3 style="
    margin-top: 38rem;
    color: rgb(24, 4, 136);
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 600;
    margin-left: 29rem;
    ">Vision and Mission</h3>
      <ul style="text-align: justify;font-size: x-large;margin-left: 28rem;margin-right: 13rem;">
        <li>Will strive continuously in pursuit of creativity, innovations and ethics in the field of Electrical and Electronics Engineering to blossom<br> into Centre of Excellence</li>
        <li>To impart total quality education through broader exposure, value additions and effective teaching learning process.</li>
        <li>To mould students to meet professional challenges and to become outstanding Engineers and Technocrats.</li>
        <li>To pursue research in the field of Electrical and Electronics Engineering to serve the needs of the industry, scientific community and society</li>
      </ul>  
    
    <h3 style="
    margin-top: 4rem;
    color: rgb(24, 4, 136);
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 600;
    margin-left: 29rem;
    ">Program Specific Outcomes-PSO</h3>
    <p style="text-align: justify;font-size: x-large;margin-left: 28rem;margin-right: 13rem;">Graduates of Electrical and Electronics Engineering will be able to</p>
    <ul style="text-align: justify;font-size: x-large;margin-left: 28rem;margin-right: 13rem;">
        <li>PSO1: Create awareness &amp; provide solution for Energy Security and Environmental Concern in the area of Renewable Energy to meet out the Country's Energy demand.</li>
        <li>PSO2: Apply the knowledge of academic learning's to solve real life Engineering problems and find solutions for contemporary issues faced by society at large.</li>
    </ul>
    <h3 style="
    margin-top: 4rem;
    color: rgb(24, 4, 136);
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 600;
    margin-left: 29rem;
    ">Programme Educational Objectives</h3>
    <p style="text-align: justify;font-size: x-large;margin-left: 28rem;margin-right: 13rem;">Graduates of Electrical and Electronics Engineering will</p>
    <ul style="text-align: justify;font-size: x-large;margin-left: 28rem;margin-right: 13rem;">
        <li>PEO1: Impart strong foundation in electrical engineering concepts and encourage application of academic learning to solve real time engineering problems.</li>
        <li>PEO2: Inculcate professional ethics &amp; effective communication skills and create an ability to address societal issues by leveraging one's engineering knowledge.</li>
        <li>PEO3: Develop technical skills through hands on experience and provide exposure to industrial practices.</li>
        <li>PEO4: Provide an academic environment to cultivate multidisciplinary approach, encourage continuous learning for effective leadership to flourish.</li>
    </ul>


    <h3 style="
    margin-top: 4rem;
    color: rgb(24, 4, 136);
    margin-bottom: -6rem;
    text-align: left;
    font-weight: 600;
    margin-left: 29rem;
    ">National Board of Accreditation (NBA) Status</h3>
<table id="cus" style="width: 66%;margin-left: 28rem;height: 8rem;text-align: center;">


  <tbody><tr style="
    background-color: #CDCDCD;
">
    
    <td></td>
    <td><b>Accreditation Status</b></td>
    <td><b>Validity</b></td>
    
    
  </tr>
  <!-- <tr>
    <td>Regional Officer, AICTE, Southern Region, Chennai	</td>
    <td>Member</td>
    <td>Ex-Officio</td>
    <td>SRO, AICTE, Chennai</td>
  </tr> -->
  <tr>
    <td>1st Accreditation</td>
    <td>Accredited</td>
    <td>3 YEARS W.E.F. 29-05-2009</td>
    
  </tr>
  <tr style="
  background-color: #f8f4f4;
">
    <td>2nd Accreditation</td>
    <td>Accredited</td>
    <td>2 YEARS W.E.F. 18-09-2013</td>
    
  </tr>
  <tr style="
  background-color: #f8f4f4;
">
    <td>3rd Accreditation</td>
    <td>Accredited</td>
    <td>Academic Years 2018-2019 to 2020-2021<br> i.e upto 30-06-2021</td>
    
  </tr>
  <!-- <tr>
    <td>ommissioner of Technical Education, Directorate of Technical Education, Chennai</td>
    <td>Member</td>
    <td>Ex-Officio</td>
    <td>Government of Tamilnadu</td>
  </tr>  -->
</tbody></table>
<h3 style="
margin-top: 4rem;
color: rgb(24, 4, 136);
margin-bottom: 2rem;
text-align: center;
font-weight: 600;
margin-left: 16rem;
">Faculty Profile Details as on Feb 2021</h3>
<table id="cus" style="width: 66%;margin-left: 28rem;height: 8rem;text-align: center;">



    <tbody><tr style="
      background-color: #CDCDCD;
  ">
      <td><b>Faculty with Ph.D</b></td>
      <td><b>Faculty Pursuing Ph.D's</b></td>
      <td><b>Faculty With M.E/M.Tech</b></td>
      
    </tr>
    <!-- <tr>
      <td>Regional Officer, AICTE, Southern Region, Chennai	</td>
      <td>Member</td>
      <td>Ex-Officio</td>
      <td>SRO, AICTE, Chennai</td>
    </tr> -->
    <tr>
      <td>6</td>
      <td>10</td>
      <td>3</td>
      
    </tr>

  </tbody></table>
</div> 









<footer id="footer">
<div class="footer-top" style="margin-top: -78vh;position: relative;top: 63vh;">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 footer-info">
        <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
        <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
          Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
          greatest ever Principal of National College. It is a self financing college approved by AICTE and
          affiliated to Anna University, Chennai.</p>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>Quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Us</h4>
        <p style="
text-align: left;
">
          Saranathan College of Engineering
          Venkateswara Nagar,
          Trichy-Madurai Main Road (NH 45 B),
          Edamalaipatti Pudhur(Post), Panjappur,
          Thiruchirappalli - 620012<br>
          <strong>Phone:</strong> +91 8489915204<br>
          <strong>Email:</strong> sce@gmail.com<br>
        </p>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>

    </div>
  </div>
  <div class="container">
    <div class="copyright">
      © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
    </div>
  </div>
</div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

<script src="../../../assets/vendor/aos/aos.js"></script>
<script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../../assets/vendor/php-email-form/validate.js"></script>
<script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../../../assets/js/main.js"></script>
</body></html>