<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Faculty details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/eeestyle.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets\js\fade.js">
  <link href="../../../assets/css/facultymech.css" rel="stylesheet">
  <link href="../../../assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->

  
  <ul class="snbul">
    <li class="snbli"><a  href="EEE dept.html">Department of EEE</a></li>
    <li class="snbli"><a href="eeelabs.html">Facilities</a></li>
    <li class="snbli"><a class="active" href="eeefaculty.html">Faculty</a></li>
    <li class="snbli"><a href="eeeresearch2.html">Research Cell</a></li>
    <li class="snbli"><a href="audeptperf.html">AU Dept. Performance</a></li>
    <li class="snbli"><a href="consultancy (1).html">Consultancy</a></li>
    <li class="snbli"><a href="partnershipcell (1).html">Institute Industry Partnership Cell</a></li>
    <li class="snbli"><a href="placdetails.html">Placement Details</a></li>
    <li class="snbli"><a href="cont (2).html">Contact Us</a></li>
  </ul>
    <section>

        <div>
            <h2 style="color: rgb(0, 0, 100); text-align: center; margin:70px;margin-left: 19rem;">
              <br>
              <br>
              <br>
              <br>
              
               <b>Faculty Details</b>
            </h2>
            
          <h6 style="color: rgb(0, 0, 100);font-family: 'Poppins', sans-serif;margin-left:63rem;font-size: x-large;">
           Cadre Ratio</b>
          </h6>  <br><br>
          <table class="striped" style=" width:65%;height:10%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 30rem;margin-right: auto; text-align: center;">
          

            
            <tbody style="text-align: center;">
              <tr style="background-color: rgb(28,49,145);color: whitesmoke;height:5px">
                <th style="border: white;border-style: solid;border-width: 1px;height: 5px;">Professor</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Associate Professor</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Assistant Professor</th>
             </tr>  
              <tr>
                <td>2</td>
                <td>5</td>
                <td>12</td>  
              </tr>
             
            </tbody>
          </table>
          <br><br><br>

          <h6 style="color: rgb(0, 0, 100);margin-left:54rem;font-size: x-large;">
          <b> Faculty Qualification (as on Fen 2021 )</b>
          </h6> <br><br> 
          <table class="striped" style="width:1200px;height:10%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 30rem;margin-right: auto; text-align: center;">
            <thead>

                 
            </thead>
            <tbody style="text-align: center;">
              <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                <th style="border: white;border-style: solid;border-width: 1px;">Faculty with Ph.D</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Faculty Pursuing Ph.Ds</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Faculty with M.E / M.Tech</th>
              </tr>
              <tr>
                <td>6</td>
                <td>10</td>
                <td>3</td>  
              </tr>
             
            </tbody>
          </table>
          <br><br><br>

          <h6 style="color: rgb(0, 0, 100);margin-left:63rem;font-size: x-large;">
          <b>Ph.D - Completed</b>
          </h6>  <br><br>
          <table class="striped" style=" width:1200px;height:50%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 30rem;margin-right: auto; text-align: center;">
            <thead>
             

                 
            </thead>
            <tbody style="text-align: center;">
              <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                <th style="border: white;border-style: solid;border-width: 1px;">S.no</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Name of the Faculty</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Designation</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Year of Completion</th>
              </tr>  
              <tr>
                <td>1</td>
                <td>Dr.C.Krishnakumar</td>
                <td>Professor</td>  
                <td>2014</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Dr.D.Kalyanakumar</td>
                <td>Professor</td>
                <td>2013</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Dr.S.Vijayalakshmi</td>
                <td>Associate Professor</td>
                <td>2015</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Dr.M.V.Suganyadevi</td>
                <td>Associate Professor	</td>
                <td>2015</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Dr.K.Rajkumar</td>
                <td>Associate Professor	</td>
                <td>2018</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Dr.P.K.Arunkumar</td>
                <td>Associate Professor	</td>
                <td>2020</td>
              </tr>

             
            </tbody>
          </table>
          <br><br><br>

          <h6 style="color: rgb(0, 0, 100);margin-left:63rem;font-size: x-large;">
          <b> Ph.D - Persuing</b>
          </h6><br><br> 
          <table class="striped" style=" width:1200px;height:100%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 30rem;margin-right: auto; text-align: center;">
            <thead>
              
                 
            </thead>
            <tbody style="text-align: center;">
              <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                <th style="border: white;border-style: solid;border-width: 1px;">S.no</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Name of the Faculty</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Designation</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Year of Registration</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Mr.B.Paranthagan</td>
                <td>Assistant Professor</td>  
                <td>2019</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Mr.M.Marimuthu</td>
                <td>Assistant Professor</td>
                <td>2014</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Ms.C.Pearline Kamalini</td>
                <td>Assistant Professor</td>
                <td>2017</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Mr.S.Ramprasath</td>
                <td>Assistant Professor</td>
                <td>2017</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Mr.P.Rameshbabu</td>
                <td>Assistant Professor</td>
                <td>2017</tr>
              </tr>
              <tr>
                <td>6</td>
                <td>Mr.R.Venugopal</td>
                <td>Assistant Professor</td>
                <td>2013</tr>
              </tr>
              <tr>
                <td>7</td>
                <td>Mr.R.Vijay</td>
                <td>Assistant Professor</td>
                <td>2016</tr>
              </tr>
              <tr>
                <td>8</td>
                <td>Ms.N.Gayathri</td>
                <td>Assistant Professor</td>
                <td>2016</tr>
              </tr>
              <tr>
                <td>9</td>
                <td>Mr.P.Ram Prakash</td>
                <td>Assistant Professor</td>
                <td>2015</tr>
              </tr>
              <tr>
                <td>10</td>
                <td>Mr.R.Sridhar</td>
                <td>Assistant Professor</td>
                <td>2016</tr>
              </tr>
              
             
            </tbody>
          </table>
          <br><br><br>

          <h6 style="color: rgb(0, 0, 100);margin-left:63rem;font-size: x-large;">
          <b>M.E/M.Tech</b>
          </h6>  <br><br>
          <table class="striped" style="width:1200px;height:30%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 30rem;margin-right: auto; text-align: center;">
            <thead>


                 
            </thead>
            <tbody style="text-align: center;">
              <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                <th style="border: white;border-style: solid;border-width: 1px;">S.no</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Name of the Faculty</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Designation</th>
                <th style="border: white;border-style: solid;border-width: 1px;">Year of Completion</th></tr>
              <tr>
                <td>1</td>
                <td>Mr.R.Balasubramanian</td>
                <td>Assistant Professor</td>  
                <td>2000</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Mr.R.Satheesh</td>
                <td>Assistant Professor</td>
                <td>2011</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Ms.A.R.Danila Shirly</td>
                <td>Assistant Professor</td>
                <td>2016</td>
              </tr>

             
            </tbody>
          </table>
          <br><br><br>

          
          <h6 style="color: rgb(0, 0, 100);margin-left:59rem;font-size: x-large;">
          <b> Faculty Profiles</b>
          </h6> <br><br>

            <p style="margin-left: 62rem;font-size: large;"><b>Professors</b></p> <br><br>
            <div class="profile-container" style="margin-left: 60rem;width: 200px;">
             
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/krishnakumar-eee.jpg" alt="image1" class="profile-icon" />
                <div class="profile-name">  Dr. C Krishnakumar, M.Tech.,<br> Ph.D</div>
                <div class="profile-position"> Professor & Head<br>  
                  krishnakumar-eee@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/kalyanakumar-eee.jpg" alt="image2" class="profile-icon" />
                <div class="profile-name">Dr. D Kalyana Kumar, M.Tech., Ph.D</div>
                <div class="profile-position">Professor<br>  
                  kalyanakumar-eee@saranathan.ac.in</div>
                
              </div>

            </div><br><br>

            <p style="margin-left: 60rem;font-size: large;"><b>Associate Professors</b></p><br><br>
            <div class="profile-container" style="margin-left: 100px;">
             
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/vijayalakshmi-eee.jpg" alt="image1" class="profile-icon" />
                <div class="profile-name">Dr.S<br> Vijayalakshmi, M.E., Ph.D</div>
                <div class="profile-position"> Associate Professor<br> 
                  vijayalakshmi-eee@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/suganyadevi-eee.jpg" alt="image2" class="profile-icon" />
                <div class="profile-name"> Dr. M.V Suganyadevi,M.E Ph.D</div>
                <div class="profile-position">Associate Professor<br>   
                  suganyadevi-eee@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/rajkumar-eee.jpg" alt="image3" class="profile-icon" />
                <div class="profile-name"> Dr.K<br> Rajkumar, M.Tech., Ph.D</div>
                <div class="profile-position">Associate Professor  <br> 
                  rajkumar-<br>eee@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/paranthagan-eee.jpg" alt="image3" class="profile-icon" />
                <div class="profile-name"> Mr.B<br> Paranthagan, <br>M.E.,</div>
                <div class="profile-position">Associate Professor  <br> 
                  paranthagan-eee@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/balasubramanian-eee.jpg" alt="image3" class="profile-icon" />
                <div class="profile-name"> Mr. R Balasubramanian, M.E.,</div>
                <div class="profile-position">Associate Professor <br> 
                  balasubramanian-eee@saranathan.ac.in</div>
            
              </div>
            </div><br><br>
            <p style="margin-left: 60rem;font-size: large;"><b>Assistant Professors</b></p><br><br>
            <div class="profile-container" style="margin-left: 100px;">
             
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/arunkumar-eee.jpg" alt="image1" class="profile-icon" />
                <div class="profile-name">Dr. P.K Arunkumar, M.E Ph.D</div>
                <div class="profile-position"> Asssistant Professor<br> 
                  arunkumar-eee@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/marimuthu-eee.jpg" alt="image2" class="profile-icon" />
                <div class="profile-name"> Mr. M Marimuthu,<br> M.E.,</div>
                <div class="profile-position">Asssistant Professor<br>   
                  marimuthu-eee@saranathan.ac.in</div>
                 
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/pearline-eee.jpg" alt="image3" class="profile-icon" />
                <div class="profile-name"> Ms. C Pearline Kamalini, M.E.,</div>
                <div class="profile-position">Asssistant Professor  <br> 
                  pearline-<br>eee@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/ramprasath-eee.jpg" alt="image3" class="profile-icon" />
                <div class="profile-name"> Mr. S Ramprasath, M.Tech.,</div>
                <div class="profile-position">Asssistant Professor  <br> 
                  ramprasath-eee@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/ramprakash-eee.jpg" alt="image3" class="profile-icon" />
                <div class="profile-name">Mr. P Ram Prakash, M.E</div>
                <div class="profile-position">Asssistant Professor <br> 
                  ramprakash-eee@saranathan.ac.in</div>
            
              </div>
            </div>
            <div class="profile-container" style="margin-left: 100px;">
             
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/rameshbabu-eee.jpg" alt="image1" class="profile-icon" />
                <div class="profile-name">  Mr. P Rameshbabu, M.E.,</div>
                <div class="profile-position">Asssistant Professor<br> 
                  rameshbabu-eee@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/sridhar-eee.jpg" alt="image2" class="profile-icon" />
                <div class="profile-name"> Mr. R Sridhar,<br> M.Tech.,</div>
                <div class="profile-position">Asssistant Professor<br>   
                  sridhar-<br>eee@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/venugopal-eee.jpg" alt="image3" class="profile-icon" />
                <div class="profile-name"> Mr. R Venugopal, M.E,</div>
                <div class="profile-position">Asssistant Professor  <br> 
                  venugopal-eee@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/satheesh-eee.jpg" alt="image3" class="profile-icon" />
                <div class="profile-name">  Mr. R Satheesh, M.E.,</div>
                <div class="profile-position">Asssistant Professor  <br> 
                  satheesh-<br>eee@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/vijay-eee.jpg" alt="image3" class="profile-icon" />
                <div class="profile-name"> Mr. R Vijay,<br> M.Tech.,</div>
                <div class="profile-position">Asssistant Professor <br> 
                  vijay-<br>eee@saranathan.ac.in</div>
            
              </div>
            </div>
            <div class="profile-container" style="margin-left: 100px;">
             
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/gayathri-eee.jpg" alt="image1" class="profile-icon" />
                <div class="profile-name">Ms. N Gayathri, M.E.,</div>
                <div class="profile-position">Asssistant Professor<br> 
                  gayathri-eee@saranathan.ac.in</div>
                
              </div>
              
              
            </div>
         
          




         


    </section>

    <footer id="footer">
      <div class="footer-top" style="margin-top: 20vh;">
        <div class="container">
          <div class="row">
      
            <div class="col-lg-3 col-md-6 footer-info">
              <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
              <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
                Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
                greatest ever Principal of National College. It is a self financing college approved by AICTE and
                affiliated to Anna University, Chennai.</p>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
      ">
              <h4>Quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
              </ul>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-links" style="
      text-align: left;
      ">
              <h4>quick Links</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
              </ul>
            </div>
      
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p style="
      text-align: left;
      ">
                Saranathan College of Engineering
                Venkateswara Nagar,
                Trichy-Madurai Main Road (NH 45 B),
                Edamalaipatti Pudhur(Post), Panjappur,
                Thiruchirappalli - 620012<br>
                <strong>Phone:</strong> +91 8489915204<br>
                <strong>Email:</strong> sce@gmail.com<br>
              </p>
      
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
      
            </div>
      
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
          </div>
        </div>
      </div>
      </footer>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

      <script src="../../../assets/vendor/aos/aos.js"></script>
      <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="../../../assets/vendor/php-email-form/validate.js"></script>
      <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>
      
      <!-- Template Main JS File -->
      <script src="../../../assets/js/main.js"></script>
      </body></html>


</body>
</html>