<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>SCE</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Favicons -->
    <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="../../../assets/css/eeeresearchstyle.css" rel="stylesheet">
    <link href="../../../assets/style.scss" rel="stylesheet">
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="../../../assets/css/eeestyle.css" rel="stylesheet">
    <link href="../../../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets\js\fade.js">
  
    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
  
  <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;">
  
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center header-scrolled" style="background-color: white;height: 155px;
    border-style: outset;
    border-color: blue;
    border-top: white;
    border-left: white;
    border-right: blue;">
      <div class="container-fluid container-xxl d-flex align-items-center">
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
          <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
      width: 40%;
      position: absolute;
      left: 1%;
      top: 0px;
      " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>
  
          <!-- Uncomment below if you prefer to use a text logo -->
          <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
  
        <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
          
        <div class="parallelogram">
          <h2 style="
      color: white;
      transform: skew(215deg, 360deg);
      margin-top: 5px;
      font-weight: 500;
      font-family: system-ui;
      text-align: center;
  ">WINNERS BEGIN WITH SARANATHAN</h2>
          </div>
        
          <ul style="
      position: relative;
  ">
            <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
             <ul>
                <li><a href="speaker-details.html">About the Instution</a></li>
                <li><a href="FP.html">Founder President</a></li>
                <li><a href="FS.html">Founder Secretary</a></li>
                <li><a href="GC.html">Governing Council</a></li>
                <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                <li><a href="CC.html">College Committees</a></li>
                <li><a href="infra.html">Infrastructure</a></li>
                <li><a href="quality.html">Quality Policy</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
              <ul>
                <li><a href="#">Courses Offered</a></li>
                <li><a href="#">Addmission Norms</a></li>
                <li><a href="#">Admission Policy</a></li>
                <li><a href="#">Code of Conduct</a></li>
                <li><a href="#">Scholorship</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto active" href="center.html">Center</a>
              <ul>
                <li><a href="#">Center For Research</a></li>
                <li><a href="#">Institute Industry Partnership Cell</a></li>
                <li><a href="#">Quality Improvement Cell</a></li>
                <li><a href="#">Entrepreneurship Development Cell</a></li>
                <li><a href="#">Campus Connect - Infosys</a></li>
                <li><a href="#">Women Empowerment Cell</a></li>
                <li><a href="#">E - Yantra</a></li>
                <li><a href="#">Smart India Hackathan</a></li>
  
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
              <ul>
                <li><a href="#">Civil Engineering</a></li>
                <li><a href="#">Computer Science Engg</a></li>
                <li><a href="#">Electronics &amp; Comm Engg</a></li>
                <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                <li><a href="#">Instrumentation &amp; Control</a></li>
                <li><a href="#">Mechanical Engineering</a></li>
                <li><a href="#">Management Studies (MBA)</a></li>
                <li><a href="#">Science and Humanity</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
              <ul>
                <li><a href="#">Placement cell</a></li>
                <li><a href="#">Student Placement Details</a></li>
                <li><a href="#">Training Activities</a></li>
                <li><a href="#">Our Recruiters</a></li>
                <li><a href="#">Rank Holders</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#">NAAC</a></li>
  
            <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
  <!-- .navbar -->
       <!-- <a class="buy-tickets scrollto" style="position: relative;
        left: 200px;
        top: 25px;" href="#">Login</a>-->
  
      </div>
    </header>


    
  
    <div class="section-heade" style="margin-top: 11rem;
    margin-bottom: 20px;
    position: relative;">
      <ul class="snbul" style="top: 0;">
        <li class="snbli"><a href="EEE dept.html">Department of EEE</a></li>
        <li class="snbli"><a href="eeelabs.html">Facilities</a></li>
        <li class="snbli"><a href="eeefaculty.html">Faculty</a></li>
        <li class="snbli"><a class="active" href="eeeresearch2.html">Research Cell</a></li>
        <li class="snbli"><a href="audeptperf.html">AU Dept. Performance</a></li>
        <li class="snbli"><a href="consultancy (1).html">Consultancy</a></li>
        <li class="snbli"><a href="partnershipcell (1).html">Institute Industry Partnership Cell</a></li>
        <li class="snbli"><a href="placdetails.html">Placement Details</a></li>
        <li class="snbli"><a href="cont (2).html">Contact Us</a></li>
      </ul>
          <br>    <h3 style="font-weight: 600;margin-left: 15rem;">Details of Research Scholars of Research Supervisor - Dr.C.Krishnakumar<br> (Supervisor No. : 2430097)</h3><br>
          <table class="striped" style="font-weight: 600; width:62%;height:70%; border: 4px solid rgba(170, 169, 169, 0.486);margin-left: 30rem;margin-right: auto; text-align: center;padding:1px">
          
             <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
              <td>S.no</td>
              <td>Candidate Name & Reg.No</td>
              <td >Supervisor</td>
              <td>Title of the Thesis</td>
              <td>Name of the University</td>
              <td>Month & year Registration</td>
             </tr>  
            <tbody>
            <tr>
        
              <td>1.</td>
              <td>Mr.B.Paranathagan<br> 19143591113</td>
              <td>Dr.<br>S.Thamizharasan</td>
              <td>PTInvestigations on reducing switch count in Multilevel<br> Inverters for Solving partial shading problem</td>
              <td>Anna<br> University ,<br> Chennai</td>
              <td>Jan 2019</td>
              
            </tr>
            <tr>
        
                <td>2.</td>
                <td>Mr.M.Marimuthu <br>1414359145</td>
                <td>Dr.<br>S.Vijayalakshmi</td>
                <td>Design and development of Multilevel cascaded Boost Converter for Multilevel Inverter</td>
                <td>Anna<br> University ,<br> Chennai</td>
                <td>Jan 2014</td>
                
              </tr>
              <tr>
        
                <td>3.</td>
                <td>Ms.C.Pearline Kamalini<br> 18243591139</td>
                <td>Dr.<br>M.V.Suganyadevi</td>
                <td>Improvement of Power Quality and Voltage Stability with Distributed Energy Resources.</td>
                <td>Anna<br> University ,<br> Chennai</td>
                <td>Jan 2018</td>
                
              </tr>
              <tr>
        
                <td>4.</td>
                <td>Mr.S.Ramprasath<br> 18143591168</td>
                <td>Dr.<br>C.Krishnakumar</td>
                <td>Power quality improvement in ac to dc converter</td>
                <td>Anna<br> University ,<br> Chennai</td>
                <td>Jan 2018</td>
                
              </tr>
              <tr>
        
                <td>5.</td>
                <td>Mr.P.Ramesh Babu <br>18143591114</td>
                <td>Dr.<br>C.Krishnakumar</td>
                <td>A digital PFC based High Powered battery charger using boost topology for plug-in-Electrical device</td>
                <td>Anna<br> University ,<br> Chennai</td>
                <td>Jan 2018</td>
                
              </tr>
              <tr>
        
                <td>6.</td>
                <td>Mr.R.Venugopal<br> 13phd1137</td>
                <td>Dr.<br>M.Prabakar</td>
                <td>Study of DC-DC Converters for Automotive Applications</td>
                <td>VIT<br> University</td>
                <td>July 2013</td>
                
              </tr>
              <tr>
        
                <td>7.</td>
                <td>Mr.R.Vijay<br> 16153597177</td>
                <td>Dr.<br>C.Vennila</td>
                <td>Security Enabled NFC devices for Embedded Applications</td>
                <td>Anna<br> University ,<br> Chennai</td>
                <td>July 2016</td>
                
              </tr>
              <tr>
        
                <td>8.</td>
                <td>Ms.N.Gayathri<br> 17243691152</td>
                <td>Dr.<br>L.Ashok Kumar</td>
                <td>Smart city</td>
                <td>Anna<br> University ,<br> Chennai</td>
                <td>Jan 2017</td>
                
              </tr>
              <tr>
        
                <td>9.</td>
                <td>Mr.P.Ram Prakash<br> 1514359182</td>
                <td>Dr.<br>S.Titus</td>
                <td>Hybrid System Integration with the grid using Matrix Converter</td>
                <td>Anna<br> University ,<br> Chennai</td>
                <td>Jan 2015</td>
                
              </tr>
              <tr>
        
                <td>10.</td>
                <td>Mr.R.Sridhar<br> 18143597145</td>
                <td>Dr.<br>V.Mohan</td>
                <td>Power quality enhancement of Multilevel Inverter</td>
                <td>Anna<br> University ,<br> Chennai</td>
                <td>July 2018</td>
                
              </tr>
        
                  
        
          </tbody></table><br><br>
        
        <h3 style="font-weight: 600;margin-left: 18rem;">Details of Research Supervisor and Scholars presently registered with Anna University - Chennai</h3>
      </div>
     <!--<div class="clr" style="
      background-color: rgb(39 56 120);
      width: 100%;
      height: 32rem;
      position: relative;
    "></div>
     <ul class="snbul">
      <li class="snbli"><a class="active" href="">Center for Research</a></li>
      <li class="snbli"><a href="QIC.html">Quality Improvement Cell</a></li>
      <li class="snbli"><a href="">Entrepreneurship Development Cell</a></li>
      <li class="snbli"><a href="">Campus Connect - Infosys</a></li>
      <li class="snbli"><a href="">Women Empowerment Cell</a></li>
      <li class="snbli"><a href="">Sexual Harassment and Redressal Committee</a></li>
      <li class="snbli"><a href="">E-Yantra</a></li>
      <li class="snbli"><a href="">Smart India Hackathan</a></li>
    </ul>
  <div style="position: relative;top: -28rem;pointer-events: none;width: 63%;margin-left: 31rem;color: white;">
    <h3 style="font-weight: 600;color: white;text-align: left;margin-left: 7rem;">FORMATION OF RESEARCH CELLS</h3>
    <p style="text-align: justify;width: 92%;margin-left: 7rem;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">The research cell in EEE was formed in July 2013 with an objective to enhance,to an appreciable level, the depth in understanding of engineering concepts,enabling the students and faculty to easily apply their academic learning to solve real time engineering problems and consequently develop solutions to cater to the needs of the society from an engineering perspective. As a result of continuous effort of the department, the Research Cell was officially recognized in August 2013 by Anna University Chennai and has been operating as one of its Centers for Research .
        The Research cell is headed by the HOD of the department..</p>-->
      
      <!--<h3 style="
      margin-top: 4rem;
      color: white;
      margin-bottom: 2rem;
      text-align: left;
      font-weight: 600;
      margin-left: 7rem;
      ">Research Cell (Department wise)</h3>-->
  <br>    <h3 style="font-weight: 600;margin-left: 25rem;">Details of Research Scholars of Research Supervisor - Dr.C.Krishnakumar<br> (Supervisor No. : 2430097)</h3><br>
  <table class="striped" style="font-weight: 600; width:65%;height:40%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 30rem;margin-right: auto; text-align: center;">
  
     <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
      <td>S.no</td>
      <td>Regno</td>
      <td>Name</td>
      <td>FT/PT</td>
      <td>Degree</td>
      <td>Reg Year</td>
      <td>Reg Session</td>
    </tr> 
    <tbody><tr>

      <td>1.</td>
      <td>17143597132</td>
      <td>Rajeshkumar S</td>
      <td>PT</td>
      <td>Ph.D</td>
      <td>2017</td>
      <td>July</td>
    </tr>
    <tr>
    <td>2.</td>
    <td>17143597164</td>
    <td>Vivekanandan S</td>
    <td>PT</td>
    <td>Ph.D</td>
    <td>2017</td>
    <td>July</td>
    </tr>
    <tr>
        <td>3.</td>
        <td>17143597206</td>
        <td>Gopi J</td>
        <td>PT</td>
        <td>Ph.D</td>
        <td>2017</td>
        <td>July</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>18143591114</td>
            <td>Ramesh Babu P</td>
            <td>PT</td>
            <td>Ph.D</td>
            <td>2018</td>
            <td>Jan</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>18143591168</td>
                <td>Ram Prasath S</td>
                <td>PT</td>
                <td>Ph.D</td>
                <td>2018</td>
                <td>Jan</td>
                </tr>        
                <td>6.</td>
                <td>18233591285</td>
                <td>Karthika N</td>
                <td>PT</td>
                <td>Ph.D</td>
                <td>2018</td>
                <td>Jan</td>
                </tr>   
                <td>7.</td>
                <td>19243597122</td>
                <td>Radhika S</td>
                <td>PT</td>
                <td>Ph.D</td>
                <td>2019</td>
                <td>Jan</td>
                </tr>       

  </tbody></table>

  <br><br>    <h3 style="font-weight: 600;margin-left: 25rem;">Details of Research Scholars of Research Supervisor - Dr.S.Vijayalakshmi<br> (Supervisor No. : 2630028)</h3><br>
  <table class="striped" style="font-weight: 600; width: 65% ;height:19%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 30rem;margin-right: auto; text-align: center;">
  
     <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
      <td>S.no</td>
      <td>Regno</td>
      <td>Name</td>
      <td>FT/PT</td>
      <td>Degree</td>
      <td>Reg Year</td>
      <td>Reg Session</td>
    </tr> 
    <tbody><tr>

      <td>1.</td>
      <td>1414359145</td>
      <td>M.Marimuthu</td>
      <td>PT</td>
      <td>Ph.D</td>
      <td>2014</td>
      <td>Jan</td>
    </tr>
    <tr>
    <td>2.</td>
    <td>19223591135</td>
    <td>K.Jayasudha</td>
    <td>PT</td>
    <td>Ph.D</td>
    <td>2019</td>
    <td>Jan</td>
    </tr>
    
    

  </tbody></table>

  <br> <br>   <h3 style="font-weight: 600;margin-left: 25rem;">Details of Research Scholars of Research Supervisor - Dr.M.V.Suganyadevi<br> (Supervisor No. : 2830064)</h3><br>
  <table class="striped" style="font-weight: 600; width: 65% ;height:40%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 30rem;margin-right: auto; text-align: center;">
  
     <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
      <td>S.no</td>
      <td>Regno</td>
      <td>Name</td>
      <td>FT/PT</td>
      <td>Degree</td>
      <td>Reg Year</td>
      <td>Reg Session</td>
    </tr> 
    <tbody><tr>

      <td>1.</td>
      <td>1323399209</td>
      <td>Gomathi S</td>
      <td>PT</td>
      <td>Ph.D</td>
      <td>2013</td>
      <td>Jan</td>
    </tr>
    <tr>
    <td>2.</td>
    <td>18133591225</td>
    <td>Murugesan S</td>
    <td>PT</td>
    <td>Ph.D</td>
    <td>2018</td>
    <td>Jan</td>
    </tr>
    
        <tr>
            <td>3.</td>
            <td>18222591135</td>
            <td>Hema Priya C K</td>
            <td>PT</td>
            <td>Ph.D</td>
            <td>2018</td>
            <td>Jan</td>
            </tr>
            
                <tr>
                    <td>4.</td>
                    <td>18243591139</td>
                    <td>Pearline Kamalini C</td>
                    <td>PT</td>
                    <td>Ph.D</td>
                    <td>2018</td>
                    <td>Jan</tr>
                    </tr>
                    
                        <tr>
                            <td>5.</td>
                            <td>16133997161</td>
                            <td>Kishore Kumar R</td>
                            <td>PT</td>
                            <td>Ph.D</td>
                            <td>2016</td>
                            <td>July</td>
                            </tr>
                            
                                <tr>
                                    <td>6.</td>
                                    <td>1614399138</td>
                                    <td>Ananthan N</td>
                                    <td>PT</td>
                                    <td>Ph.D</td>
                                    <td>2016</td>
                                    <td>Jan</td>
                                    </tr>
                                    
    

  </tbody></table>

  <br> <br>   <h3 style="font-weight: 600;margin-left: 21rem;">LIST OF DOCTORATES</h3><br>
  <table class="striped" style="font-weight: 600; width: 65% ;height:40%; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 30rem;margin-right: auto; text-align: center;">
  
     <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
      <td>S.no</td>
      <td>Name of the Faculty<br> Memeber</td>
      <td>Supervisor<br> Recognition No.</td>
      <td>Area of Specialization</td>
      <td>Title of the Thesis</td>

    </tr> 
    <tbody>
    <tr>

      <td>1.</td>
      <td>Dr.C.Krishnakumar</td>
      <td>2430097</td>
      <td>High Voltage Engineering</td>
      <td>Mitigation of conducted Electromagnetic <br>Interference on DC-DC converter Topologies</td>

    </tr>
    <tr>

        <td>2.</td>
        <td>Dr.D.Kalyanakumar</td>
        <td>-</td>
        <td>Energy Engineering</td>
        <td>-</td>
  
      </tr>
      <tr>

        <td>3.</td>
        <td>Dr.S.Vijayalakshmi</td>
        <td>2630028</td>
        <td>Power Electronics and Drives</td>
        <td>Discrete PID Controller for DC-DC converter using bilinear Transformation Technique</td>
  
      </tr>
      <tr>

        <td>4.</td>
        <td>Dr.M.V.Suganyadevi</td>
        <td>2830064</td>
        <td>Power Systems Engineering</td>
        <td>Estimation of loadability margin in restructured power Market</td>
  
      </tr>
      <tr>

        <td>5.</td>
        <td>Dr.K.Rajkumar</td>
        <td>-</td>
        <td>High Voltage Engineering</td>
        <td>Analysis of Electromagnetic interferences and Novel Mitigation<br> Techniques in Single Phase Grid <br>interfacing Photovoltaic System</td>
  
      </tr>
    

  </tbody></table><br><br><br>

  <h3 style="font-weight: 600;color:#0E1B4D;text-align: left;margin-left: 55rem;">FORMATION OF RESEARCH CELLS</h3>
    <p style="text-align: justify;color: black;margin-left: 30rem;margin-top: 2rem;margin-top: 2rem;margin-right:11rem;font-size: x-large;">The research cell in EEE was formed in July 2013 with an objective to enhance,to an appreciable level, the depth in understanding of engineering concepts,enabling the students and faculty to easily apply their academic learning to solve real time engineering problems and consequently develop solutions to cater to the needs of the society from an engineering perspective. As a result of continuous effort of the department, the Research Cell was officially recognized in August 2013 by Anna University Chennai and has been operating as one of its Centers for Research .
        The Research cell is headed by the HOD of the department..</p><br><br>
        <h3 style="font-weight: 600;margin-left: 17rem;">Self Supporting Projects</h3>
        <br>
        <h4 style="text-align: left;margin-left: 29rem;font-size: x-large;margin-top: 2rem;margin-right:9rem;font-weight: 500;">Apart from the projects funded by the external funded agencies, the department has taken up various research projects with the support of institution, in the area of power quality and renewable energy to cater the societal 
          needs and further strengthen the consultancy services offered by the department.</h4><br><br>
          <h3 style="font-weight: 600;margin-left: 16rem;">Other Ongoing Research Work Funded by Instituion</h3>  
          <ul style="text-align: left;margin-left: 28rem;font-size: x-large;margin-top: 2rem;">
            
            
            <li>Performance Evaluation of 10 KW on grid and 1 KW off grid PV system</li>
            <br>
            
            <li>Economic Energy Management through Auditing</li><br>
            
            <li>Power Quality Solution for Small Scale Industries</li><br>
            
            <li>Power Quality Analysis for Renewable Systems</li><br>
            
            <li>Value Engineering Analysis on Solar Water Heater</li><br>
            
            <li>Energy Conservation in Waste Water Treatment through Green Energy Technology</li><br>
          
          </ul>




          <br>    <h3 style="font-weight: 600;margin-left: 14rem;">Funded Projects</h3><br>

        </div>
  
        <h3 style="font-weight: 600;margin-left: 14rem;">2019-2020</h3><br> 
    
    <table class="striped" style="font-weight: 600; width:60%;height:100%; border: 4px solid rgba(170, 169, 169, 0.486);margin-left: 28rem;margin-right: auto; text-align: center;padding:1px">
    
       <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
        <td>Project Title</td>
        <td>Funding Agency</td>
        <td >Amount</td>
        <td>Duration </td>
        <td>Year</td>
        
       </tr>  
      <tbody>
          <tr>
  
              <td>Novel Design & Control Strategies and<br> Innovative Technical Practices in LV/HV Modern Switch Gear</td>
              <td>All India Council forTechinical Education</td>
              <td>500000</td>
              <td>6 days</td>
              <td>2019-2020</td>
              
              
            </tr>
      <tr>
  
        <td>Design and Fabrication of Power ElectronicInterface for Fixing and<br> Removal of Bearing and Cupling in Mechanical System using Induction Heating.</td>
        <td>The Institution of Engineers</td>
        <td>300000</td>
        <td>9 months</td>
        <td>2019-2020</td>
        
        
      </tr>
      <tr>
  
          <td>FDP on Protection and<br> Switchgear</td>
          <td>Anna University</td>
          <td>300000</td>
          <td>6 days</td>
          <td>2019-2020</td>
          
          
        </tr>
        <tr>
  
          <td>Cutting Edge Technology on Electrical Communication Embedded System and<br> Soft Computing Techniques.</td>
          <td>All India Council forTechinical Education</td>
          <td>500000</td>
          <td>6 days</td>
          <td>2019-2020</td>
          
          
        </tr>
        <tr>
  
          <td>A Low Cost Converter Based PV Emulator for Academic Purpose Using MSP430 Microcontroller</td>
          <td rowspan="9">Texas Instruments Innovation Challenge<br> India Design Contest  2019</td>
          <td rowspan="9">1800*76=1,36,800/-</td>
          <td rowspan="9">1 year</td>
          <td rowspan="9">2019-2020</td>
          
          
        </tr>
        <tr>
  
          <td>IOT based Water<br> Quality Monitoring System</td>
          
  
          
          
        </tr>
        <tr>
  
          <td>LIDAR based navigation of Automated Guided Vehicle (AGV) for<br> production industry.</td>
          
    
          
          
        </tr>
        <tr>
  
          <td>Delfino Processor Based Low Cost<br> Wireless Pc Digital Storage Oscilloscope</td>
          
  
          
          
        </tr>
        <tr>
  
          <td>Design And Implementation Of Digital Power Factor Correction Control Of High Power Led<br> Focus Light Driver Using C2000 Tms320f28027.</td>
          
  
          
          
        </tr>
        <tr>
  
          <td>Smart Embedded Controller Based Wind Emulator for<br> R&D and Academic Laboratories</td>
          
  
          
          
        </tr>
        <tr>
  
          <td>IOT Based Wireless Energy Meter<br> Using CC3000 Wi-Fi Module</td>
          
  
          
          
        </tr>
        <tr>
  
          <td>A low cost digital control strategy for four quadrant operation of<br> PMDC motor using c2000 f28027 MCU for academic purpose.</td>
          
  
          
          
        </tr>
        <tr>
  
          <td>Safety And<br> Cop Drone</td>
          
  
          
          
        </tr>
  
            
      
            
  
    </tbody></table><br><br><br>
  
    <h3 style="font-weight: 600;margin-left: 14rem">2018-2019</h3><br> 
    
    <table class="striped" style="font-weight: 600; width:60%;height:80%; border: 4px solid rgba(170, 169, 169, 0.486);margin-left: 28rem;margin-right: auto; text-align: center;padding:1px">
    
       <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
        <td>Project Title</td>
        <td>Funding Agency</td>
        <td >Amount</td>
        <td>Duration </td>
        <td>Year</td>
        
       </tr>  
      <tbody>
  
        <tr>
  
          <td>Vulcopter</td>
          <td rowspan="8">Texas Instruments Innovation Challenge<br> India Design Contest  2018</td>
          <td rowspan="8">1600*70=1,12,000/-</td>
          <td rowspan="8">1 year</td>
          <td rowspan="8">2018-2019</td>
          
          
        </tr>
        <tr>
  
          <td>Low Cost Performance Analyzer of DC And<br> Single Phase AC Electrical Machines</td>
          
  
          
          
        </tr>
        <tr>
  
          <td>Digital Wireless Energy Meter</td>
          
    
          
          
        </tr>
        <tr>
  
          <td>Air Pollution Control And<br> Traffic Management Drone For Smart City Application(APCTMD)</td>
          
  
          
          
        </tr>
        <tr>
  
          <td>A Novel Contemporary Approach for Rural Development to Facilitate<br> Enhanced Resource Management and Yield – Smart Farmer.</td>
          
  
          
          
        </tr>
  
        <tr>
  
          <td>Agribot-Farmers Friend</td>
          
  
          
          
        </tr>
        <tr>
  
          <td>THIRD EYE-Low Cost Smart Cane For<br> Visually Impaired Using MSP432P401R</td>
          
  
          
          
        </tr>
        <tr>
  
          <td>Smart Embedded Controller Based Wind Emulator For<br> R & D And Academic Laboratories</td>
          
  
          
          
        </tr>
  
            
      
            
  
    </tbody></table><br><br><br>
  
    <h3 style="font-weight: 600;margin-left: 14rem">2017-2018</h3><br> 
    
    <table class="striped" style="font-weight: 600; width:60%;height:45%; border: 4px solid rgba(170, 169, 169, 0.486);margin-left: 28rem;margin-right: auto; text-align: center;padding:1px">
    
       <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
        <td>Project Title</td>
        <td>Funding Agency</td>
        <td >Amount</td>
        <td>Duration </td>
        <td>Year</td>
        
       </tr>  
      <tbody>
  
        <tr>
  
          <td>PMKVY-solar PV Installer- Electrical</td>
          <td>All India Council for Techinical Education</td>
          <td>56100</td>
          <td>1 year</td>
          <td>2017-2018</td>
          
          
        </tr>
        <tr>
  
          <td>Low Cost Digital Starter with speed control of DC shunt Motor Using MSP430 for academic purpose</td>
          <td rowspan="2">Texas Instruments Innovation Challenge<br> India Design Contest  2017</td>
          <td rowspan="2">400*65=26000/-</td>
          <td rowspan="2">1 year</td>
          <td rowspan="2">2017-2018</td>
          
  
          
          
        </tr>
        <tr>
  
          <td>IOT based smart transportation system for smart city application</td>
          
    
  </tbody></table><br><br><br>
  
  <h3 style="font-weight: 600;margin-left: 14rem">2016-2017</h3><br> 
    
  <table class="striped" style="font-weight: 600; width:60%;height:45%; border: 4px solid rgba(170, 169, 169, 0.486);margin-left: 28rem;margin-right: auto; text-align: center;padding:1px">
  
     <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
      <td>Project Title</td>
      <td>Funding Agency</td>
      <td >Amount</td>
      <td>Duration </td>
      <td>Year</td>
      
     </tr>  
    <tbody>
  
      <tr>
  
        <td>Low Cost PC Based Mixed Signal Oscilloscope</td>
        <td rowspan="3">Texas Instruments Innovation Challenge<br> India Design Contest  2017</td>
        <td rowspan="3">400*65=26000/-</td>
        <td rowspan="3">1 year</td>
        <td rowspan="3">2016-2017</td>
        
  
        
        
      </tr>
      <tr>
  
        <td>Smart Speedometer for Two Wheelers</td>
      </tr>  
      <tr>
  
          <td>Railway track crack Detection system</td>
        </tr>  
          
  
  </tbody></table><br><br><br>
  
  <h3 style="font-weight: 600;margin-left: 14rem">2015-2016</h3><br> 
    
  <table class="striped" style="font-weight: 600; width:60%;height:45%; border: 4px solid rgba(170, 169, 169, 0.486);margin-left: 28rem;margin-right: auto; text-align: center;padding:1px">
  
     <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
      <td>Project Title</td>
      <td>Funding Agency</td>
      <td >Amount</td>
      <td>Duration </td>
      <td>Year</td>
      
     </tr>  
    <tbody>
  
      <tr>
  
        <td>IoT based Wind Turbine Monitoring System using<br> Raspberry pi</td>
        <td rowspan="3">ELECRAMA - 2016<br> (organised by ieema)</td>
        <td rowspan="3">42000/-</td>
        <td rowspan="3">3 months</td>
        <td rowspan="3">2015-2016</td>
        
  
        
        
      </tr>
      <tr>
  
        <td>Power quality analyzer at Affordable Cost For<br> Academic Applications</td>
      </tr>  
      <tr>
  
          <td>Low Cost IoT Based Weather Monitoring & <br>Irrigation Controller for Large Scale Farming  Applications </td>
        </tr>  
          
  
  </tbody></table><br><br><br>
  
  <h3 style="font-weight: 600;margin-left: 14rem">2014-2015</h3><br> 
    
  <table class="striped" style="font-weight: 600; width:60%;height:50%; border: 4px solid rgba(170, 169, 169, 0.486);margin-left: 28rem;margin-right: auto; text-align: center;padding:1px">
  
     <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
      <td>Project Title</td>
      <td>Funding Agency</td>
      <td >Amount</td>
      <td>Duration </td>
      <td>Year</td>
      
     </tr>  
    <tbody>
  
      <tr>
  
        <td>Power Control Unit Of A PV­ STATCOM Excited Small Wind Turbine<br> Driven Squirrel Cage Induction Generator</td>
        <td rowspan="4">Texas Instruments Innovation Challenge<br> India Design Contest 2015</td>
        <td rowspan="4">2400 * 65  = 156000/-</td>
        <td rowspan="4">1 year</td>
        <td rowspan="4">2014-2015</td>
        
  
        
        
      </tr>
      <tr>
  
        <td>Power Control Unit Of A Hybrid PV­ utility Solar Pump</td>
      </tr>  
      <tr>
  
          <td>Low Cost Power Quality Analyzer For Academic Applications </td>
        </tr>  
        <tr>    
       <td>Fuzzy Observer Based Flow Controller Of Induction Motor Pump</td> 
      </tr> 
      
      <tr>
  
          <td>Development and Implementation of  Power Electronic Interfaces and<br> Control Schemes For On-Grid And Off-Grid Hybrid Pv-Wind Systems</td>
          <td>AICTE National Doctoral Fellowship (NDF)</td>
          <td>261000/-</td>
          <td>3 years</td>
          <td>2014-2015</td>
          
          
        </tr> 
        <tr>
  
          <td>Development and implementation of simplified intelligent controllers for<br> a regulated autonomous hybrid PV array excited wind driven induction generator system with<br> an unbalanced and non-liners load</td>
          <td>Research Promotion Scheme (RPS) AICTE</td>
          <td>473334/-</td>
          <td>3 years</td>
          <td>2013- 2016</td>
          
          
        </tr> 
  
  </tbody></table><br><br><br>
  
  
  
  <table class="striped" style="font-weight: 600; width:60%;height:50%; border: 4px solid rgba(170, 169, 169, 0.486);margin-left: 28rem;margin-right: auto; text-align: center;padding:1px">
  
      <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
       <td>Project Title</td>
       <td>Funding Agency</td>
       <td>Principal Investigator</td>
       <td >Amount</td>
       <td>Duration </td>
       <td>Lab</td>
       <td>Status</td>
       <td>Project Description</td>
       
      </tr>  
     <tbody>
   
  
       
       <tr>
   
           <td>Modernizing Power Electronics lab with<br> Power Quality Studies</td>
           <td>AICTE<br>(MHRD)</td>
           <td>Dr.M.Arutchelvi</td>
           <td>INR 7,00,000</td>
           <td>1 year (May 2012 - May 2013)</td>
           <td>Power Electronics Lab</td>
           <td>Completed</td>
           <td>New experimental setups have been created in the power electronics lab to<br> study the effect of non-linear loads connected to the grid. <br>
               Three phase power quality analyzer has been procured <br>under this project among other equipments. <br>
               Some of the important additions of new experiments are listed as below 
               1. Measurement of power under non-sinusoidal conditions <br>
               2. Measurement of THD for voltage/current<br>
                3. Measurement of Unbalance in Voltage/Current <br>
                4. Study of power quality issues in AC and DC Drives <br>
                5. Energy Saving through power quality improvement</td>
           
           
         </tr> 
         <tr>
   
           <td>	Development and Implementation of Simplified Intelligent Controller for a<br> Regulated Autonomous hybrid PV Array Excited<br> Wind driven Induction Generator system with an<br> unbalanced and non-linear load.</td>
           <td>AICTE<br>(MHRD)</td>
           <td>Mr.S.Lenin Prakash</td>
           <td>INR 5,20,000</td>
           <td>1 year (May 2012 - May 2013)</td>
           <td>Power Electronics Lab</td>
           <td>Completed</td>
           <td>A conceptually proven controller implemented and validated in a small-scale stand-alone<br> hybrid pv-wind system which can be scalable for 
               high power system and converted as a commercial reliable product for<br> remote rural applications as well as residential customers in urban areas.</td>
           
         </tr> 
   
   </tbody></table><br><br><br>

  <footer id="footer">
    <div class="footer-top" style="margin-top: 20vh;">
      <div class="container">
        <div class="row">
    
          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>
    
          <div class="col-lg-3 col-md-6 footer-links" style="
    text-align: left;
    ">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>
    
          <div class="col-lg-3 col-md-6 footer-links" style="
    text-align: left;
    ">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>
    
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p style="
    text-align: left;
    ">
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>
    
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
    
          </div>
    
        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
    </footer>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

    <script src="../../../assets/vendor/aos/aos.js"></script>
    <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../../assets/vendor/php-email-form/validate.js"></script>
    <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>
    
    <!-- Template Main JS File -->
    <script src="../../../assets/js/main.js"></script>
    </body></html>

