<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"></head><body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="overflow-x: hidden;">s

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->




  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;font-weight: 500;
    font-family: system-ui;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto active" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the institution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Enterpreneurship Development cell;</a></li>
              <li><a href="GC.html">Founder Seceratry</a></li>
              <li><a href="KPI.html">Governing council</a></li>
              <li><a href="CC.html">Key persons of instituion</a></li>
              <li><a href="infra.html">College commities</a></li>
              <li><a href="quality.html">infrastructure</a></li>
              <li><a href="CC.html">Quality policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header><!-- End Header -->












  <main id="main" class="main-page">
    <ul class="snbul" style="
    ">
      <li class="snbli"><a href="MBA.html">Department of MBA</a></li>
      <li class="snbli"><a href="MBA Faculty.html">Faculty details</a></li>
      <li class="snbli"><a class="active" href="MBA Edc.html">Enterpreneurship Development Cell</a></li>
      <li class="snbli"><a href="MBA Research Cell.html">Research Cell</a></li>
      <li class="snbli"><a href="MBA Newsletter.html">News letter</a></li>
      <li class="snbli"><a href="MBA Placement Details.html">Placement Details</a></li>
    
        <li class="snbli"><a href="MBA Excerpts of our Distinguished Alumni.html">Excerpts of our Disinguished Alumini</a></li>
      <li class="snbli"><a href="MBA Contact Us.html">Contact us</a></li>

    </ul>
    <div style="margin-left:25rem;padding:16px;height:15%;margin-bottom: 100rem;margin-top: 10rem;margin-right: 5rem;">
      <div id="icontent2" style="position: absolute" ;="" top:="" 17.5%;="" left:="" 20%;="" width:="" 87%;="" text-align:="" justify;="">
         <h3 style="color:rgb(39 56 120);font-size: 40px;text-align: center;">Entrepreneurship Development Cell</h3>
         <br><br>
         <div style="font-size: 117%;margin-right: 7rem;text-align: justify;">
         <p>Entrepreneurship Development Cell (EDC) of  institution aims to promote a platform for the students to explore various opportunities in the field of entrepreneurship. The main objective of the cell is to break the prevailing myths of entrepreneurship which acts as a barrier in the minds of students. The cell also aims to overcome the various challenges related to entrepreneurship and grooming all the necessary traits of becoming as successful entrepreneurs.</p>
         <br>
         <p>It also tries to empower the girl students to realize the unique opportunities in this field and to cater the needs of the society.</p>
         <br><br>

         <h4 style="color:rgb(39 56 120) ;font-weight: 600;text-align: justify;">OBJECTIVES OF EDC</h4>
         
         <br>
         <p>Our primary objective of the cell is to create the awareness and motivation among the students to explore the unexplored in the field of entrepreneurship.</p>
         
         <br><ul style="font-size: 117%;">
         <li>Inculcating entrepreneurial spirit among the students of management &amp; engineering graduates.</li>
         <br>
         <li>Establishing a bridge between industries and students in generating the innovative ideas.</li>
         <br>
         <li>Understanding the various nuances and gain deep insights in the field of entrepreneurship.</li>
         <br>
         <li>Offering consultancy services to industries that look forward to learn the modern application and technologies in booming the growth</li>
         </ul>
         </div>


         <div style="text-align: left;">
         <br><br>
         <h4 style="color:rgb(39 56 120) ;font-weight: 600;margin-left: 2rem;">FUNCTIONS OF EDC</h4>
         <ul style="margin-right: 7rem;font-size: 133%;">
         <br>
         <li>Organizing entrepreneurship awareness and development programs to foster the spirit and culture among the students. </li>
         <br>
         <li>Establishing Tie- up with Entrepreneurship Development and Innovation Institute ( EDII ), Tamil Nadu to run the entrepreneurship courses and to generate funding opportunities to the aspirants. </li>
         <br>
         <li>Generating opportunities to students in undergoing the online learning module courses on entrepreneurship </li>
         </ul>
         <br>
         
         
         <h4 style="color:rgb(39 56 120) ;font-weight: 600;margin-left: 2rem;">Discipline and Welfare Committee</h4>
         <ul style="font-size: 133%;margin-right: 5rem;">
         <br>
         <li>Examining / inquiring complaints of ragging, eve teasing and harassment of 
         weaker sections and recommending punishments / remedial measures in such cases.</li>
         </ul>
         
         <br>
         <h4 style="color:rgb(39 56 120) ;font-weight: 600;margin-left: 2rem;">KEY MEMBERS</h4>
         <ul>
         <br>
         <h4 style="color:rgb(39 56 120) ;font-weight: 600;margin-left: 2rem;">EDC - COORDINATOR</h4>
         <br>
         <li style="font-size: 133%;">Dr. K. Karthikeyan , EDC Coordinator, Professor &amp; Head/MBA</li>
         </ul>
         <br>
         <h4 style="color:rgb(39 56 120) ;font-weight: 600;">EDC – MEMBERS</h4>
         <ul style="font-size: 133%;">
          <br>
         <li>Mr. S Venkatasubramanian – Associate Professor ( CSE )</li>
         <li>Ms. C. Nivedhitha - Assistant Professor ( Civil Engg. )</li>
         <li>Dr. M Baritha Begum - Assistant Professor ( ECE. )</li>
         <li>Mr. T Tamilarasan - Assistant Professor ( EEE )</li>
         <li>Mr. M Sathis kumar - Assistant Professor ( ICE )</li>
         <li>Mr. P Anand - Assistant Professor ( IT )</li>
         <li>Dr. M Ganesan - Assistant Professor ( Mech. Engg. )</li>
         <li>Dr. J. Rajesh – Assistant Professor ( MBA)</li>
         </ul>
         <br></div>
         
         <h4 style="color:rgb(39 56 120) ;font-weight: 600;margin-left: -75rem;">EVENTS &amp; ACTIVITIES</h4><br>
         <ul style="border-right: 7rem;font-size: 133%;margin-right: 5rem;text-align: justify;">
          
         <li>Department of Management Studies &amp; EDC organized the II phase of Three Days “Entrepreneurship Awareness Camp” between 18th – 20th February 2019 sponsored by DST-NIMAT-EDII, Government of India and received a grant of Rs 40,000.</li>
         <br>
         <li>Shri. C.Ramaswamy Desai, Project Director CR Business Solutions, Trichy inaugurated the first phase of “Entrepreneurship Awareness Camp” on 16th August 2018 and the sessions were handled by J.Geetha CEO- Gramalaya Microfinance,Trichy, Dr M.Malarvizhi Managing Director Ismart Technologies, Manaparai, A.L Muthu Retd Manager,IOB Freelance Trainer</li>
         <br>
         <li>ED cell successfully completed the WF-NEN(100) PM-YUVA (Pradhan Mantri Yuva Udyamita Vikas Abhiyan) MSDE Entrepreneurship course for 57 students from the period of 03rd March – 29th June 2018</li>
         <br>
         <li>One Day Workshop on “Business Plan Preparation” was organized on 28th December 2017 and the program was graced by resource persons from diversified field ( Dr. S. Sundar, Management Consultant &amp; Formerly Professor BIM, Dr. R. Gayathri, MD-ismart Technology , Manapparai, Dr. K. Karthikeyan, Professor &amp; Head /MBA, Mr. T. Venkatesan , Director, Fifth Wheel Drive)</li>
         <br>
         <li>Women Entrepreneurs Association of Tamil Nadu ( WEAT ) offered a One Day Workshop “Self Employment Skill Training” on 26th September 2017</li>
         <br>
         <li>Ms. M. Amudha, Director, PCM Naturals Biotech , Madurai delivered a Guest lecture on the title “ The Spirit of Entrepreneurship” on 26th July 2017.</li>
         <br>
         <li>EDC in collaboration with ICT academy organized a “ Entrepreneurship Awareness Camp” on 18th February 2015 and the occasion was enriched with the presence of Chief Guest Mrs. Rani Muralidharan, Executive Director – GK sons Engineering enterprise, Trichy &amp; Chollin Selvan V-Managing Director- Ventured Avighnaa food &amp; Rengamani Industries</li>
         </ul>
                 
            <div>
    </div>
    

  </div></div></main><!-- End #main -->

  













  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="position: relative;top: 860px;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->



  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>



</body></html>