<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TheEvent Bootstrap Template - Speaker Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
  <link rel="stylesheet" href="../../../assets/fonts/simple-line-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
  <link rel="stylesheet" href="../../../assets/css/smoothproducts.css">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
      <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">

        <div class="parallelogram">
          <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
            <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
      <!-- .navbar -->
      <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>










 <ul class="snbul">
    <li class="snbli"><a href="MBA.html">Department of MBA</a></li>
      <li class="snbli"><a href="MBA Faculty.html">Faculty details</a></li>
      <li class="snbli"><a href="MBA Edc.html">Enterpreneurship Development Cell</a></li>
      <li class="snbli"><a class="active" href="MBA Research Cell.html">Research Cell</a></li>
      <li class="snbli"><a href="MBA Newsletter.html">News letter</a></li>
      <li class="snbli"><a href="MBA Placement Details.html">Placement Details</a></li>
    
        <li class="snbli"><a href="MBA Excerpts of our Distinguished Alumni.html">Excerpts of our Disinguished Alumini</a></li>
      <li class="snbli"><a href="MBA Contact Us.html">Contact us</a></li>
  </ul>


 <div class="section-heade" style="
  margin-top: 13rem;
  margin-bottom: 2px;
  position: relative;
  margin-left: -57vh;
  pointer-events: none;
  ">
    <div style="position: relative;pointer-events: none;width: 63%;margin-left: 31rem;">
      <center>
        <h3 style="font-weight: 600;color: black;">Funded Projects / Seminar Grant</h3>
      </center>
      
      <br>
      <table id="cus" style="width: 93%;margin-top: 25px;height: 8rem;text-align: center;font-size: larger;">
   
        <tbody><tr>
          <th>
            <center>S.NO</center>
          </th>
          <th>
            <center>TITLE</center>
          </th>
          <th>
            <center>FUNDING AGENCY</center>
          </th>
          <th>
            <center>YEAR OF SANCTIONED</center>
          </th>
          <th>
            <center>AMOUNT</center>
          </th>

        </tr>
        <tr>
          <td>1</td>
            <td style="line-height: 1.8;">Entrepreneurship Awareness Camp</td>
            <td style="line-height: 1.8;">DST-New delhi</td>
            <td>2018-2019</td>
            <td>Rs.40,000/-</td>

        </tr>
      </tbody></table>
    </div>
  </div>

<div class="section-heade" style="
  margin-bottom: 20px;
  position: relative;
  margin-left: -58vh;
  pointer-events: none;
  ">
    <div style="position: relative;pointer-events: none;width: 63%;margin-left: 31rem;">
      <center>
        <h3 style="font-weight: 600;color: black;">List of Ph.D scholars who have completed the programme</h3>
      </center>
      <br>
      
      <table id="cus" style="width: 93%;margin-top: 25px;height: 8rem;text-align: center;font-size: larger;">
   
        <tbody><tr>
          <th>
            <center>S.NO</center>
          </th>
          <th>
            <center>Candidate</center>
          </th>
          <th>
            <center>Supervisor</center>
          </th>
          <th>
            <center>Title of the Thesis</center>
          </th>
          <th>
            <center>Name of the University</center>
          </th>
           <th>
            <center>Date &amp; year Completion</center>
          </th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ms.S.Christina Sheela</td>
            <td>Dr.K.Karthikeyan
            </td><td style="line-height: 1.8;">A Study On Financial Performance of Pharmaceutical Industry in India</td>
            <td>Anna University</td>
            <td>-</td>
        </tr><tr>
            <td>2</td>
            <td>Mr.Karthiravan</td>
            <td>Dr.K.Karthikeyan
            </td><td style="line-height: 1.8;">A STUDY ON EFFECTIVENESS OF PERFORMANCE APPRAISAL SYSTEM IN SMALL AND MEDIUM SCALE ENTERPRISES OF TIRUCHIRAPALLI DISTRICT</td>
            <td>Anna University</td>
            <td>-</td>
        </tr><tr>
            <td>3</td>
            <td>Mr.R.Murali</td>
            <td>Dr.K.Karthikeyan
            </td><td style="line-height: 1.8;">A STUDY ON VISUAL MERCHANDISING TECHNIQUES AND ITS IMPACT ON IMPULSIVE BUYING BEHAVIOUR AMONG FEMALE APPAREL CUSTOMERS OF TIRUCHIRAPALLI CITY</td>
            <td>BHARATHIAR UNIVERSITY</td>
            <td>-</td>
          </tr><tr>
            <td>4</td>
            <td>Mr.Kirubakaran</td>
            <td>Dr.K.Karthikeyan
            </td><td style="line-height: 1.8;">A STUDY ON QUALITY OF HEALTHCARE SERVICE AND PATIENTS SATISFACTION TOWARDS APOLLO HOSPTIALS IN TAMILNADU</td>
            <td>BHARATHIAR UNIVERSITY</td>
            <td>-</td>   
          </tr><tr>
            <td>5</td>
            <td>Ms.R.Gayathiri</td>
            <td>Dr.K.Karthikeyan
            </td><td style="line-height: 1.8;">STUDY ON EMPLOYEE RETENTION STRATEGIES AMONG AUTOMOTIVE COMPANIES IN THE CHENNAI REGION</td>
            <td>BHARATHIAR UNIVERSITY</td>
            <td>-</td>   
          </tr><tr>
            <td>6</td>
            <td>Ms.V.Karthiga</td>
            <td>Dr.K.Karthikeyan
            </td><td style="line-height: 1.8;">A Study on the Impact of Organizational Citizenship Behaviour towards Organizational Commitment and Job Satisfaction in Private sector banks with special reference to Chennai, Coimbatore, Madurai and Tiruchirapalli</td>
            <td>BHARATHIAR UNIVERSITY</td>
            <td>-</td>  
        </tr>
      </tbody></table>
    </div>
  </div>

  <div class="section-heade" style="
  margin-top: 4rem;
  margin-bottom: 20px;
  position: relative;
  margin-left: -60vh;
  ">
    <div style="position: relative;pointer-events: none;width: 63%;margin-left: 31rem;">
      <center>
        <h3 style="font-weight: 600;color: black;">LIST OF DOCTORATES</h3>
      </center>
      <br>
    
      <table id="cus" style="width: 93%;margin-top: 25px;height: 8rem;text-align: center;font-size: larger;">
   
        <tbody><tr>
          <th>
            <center>S.NO</center>
          </th>
          <th>
            <center>Name of the Faculty Member</center>
          </th>
          <th>
            <center>Supervisor Recognition No.</center>
          </th>
          <th>
            <center>Area of Specialization</center>
          </th>
          <th>
            <center>Title of the Thesis</center>
          </th>

        </tr>
        <tr>
          <td>1</td>
            <td>Dr.K.Karthikeyan</td>
            <td>MGT GU-1769(BHARTHIAR UNIVERSITY)</td>
            <td>MANAGEMENT-HR
            </td><td>A STUDY ON METHODS AND EFFECTIVENESS OF TRAINING IN SELECTED PRIVATE SECTOR BANKS</td>

        </tr><tr>
          <td>2</td>
            <td>Dr.V.Mahalakshmi</td>
            <td> - </td>
            <td>MANAGEMENT-FINANCE</td>
            <td>AN EMPIRICAL EVALUATION OF BANKING SERVICES PROVIDED BY PRIVATE AND PUBLIC SECTOR BANKS IN TAMIL NADU</td>
            
        </tr><tr>
          <td>3</td>
            <td>Dr.R.Murali</td>
            <td> - </td>
            <td>MANAGEMENT-MARKETING</td>
            <td>A STUDY ON VISUAL MERCHANDISING TECHNIQUES AND ITS IMPACT ON SHOPPERS IMPULSE BUYING BEHAVIOUR AMONG FEMALE APPAREL SHOPPERS OF TIRUCHIRAPALLI CITY</td>

        </tr>
      </tbody></table>
    </div>
  </div>














 <footer id="footer">
    <div class="footer-top" style="position: relative;margin-top: 16rem;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p style="
text-align: left;
">
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>



</body></html>