<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
  <link rel="stylesheet" href="../../../assets/fonts/simple-line-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
  <link rel="stylesheet" href="../../../assets/css/smoothproducts.css">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">
  <link href="../../../assets/css/facultymech.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->



</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
      <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">

        <div class="parallelogram">
          <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
    
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
            <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="About_ice (1).html">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
      <!-- .navbar -->
      <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>






  <div class="section-heade" style="margin-top: 13rem;
  margin-bottom: 20px;
  position: fixed;">
  </div>

  <ul class="sn">
    <li class="snbli"><a href="MBA.html">Department of MBA</a></li>
      <li class="snbli"><a class="active" href="MBA Faculty.html">Faculty details</a></li>
      <li class="snbli"><a href="MBA Edc.html">Enterpreneurship Development Cell</a></li>
      <li class="snbli"><a href="MBA Research Cell.html">Research Cell</a></li>
      <li class="snbli"><a href="MBA Newsletter.html">News letter</a></li>
      <li class="snbli"><a href="MBA Placement Details.html">Placement Details</a></li>
    
        <li class="snbli"><a href="MBA Excerpts of our Distinguished Alumni.html">Excerpts of our Disinguished Alumini</a></li>
      <li class="snbli"><a href="MBA Contact Us.html">Contact us</a></li>

  </ul>


  <div>
    <h2 style="color: rgb(0, 0, 100); font-weight: 600; text-align: center;  margin-left:7.5rem; font-size: 2.1rem; margin-bottom: 2.2rem; margin-top: -34rem;">
      Faculty Details
    </h2>

    <h6 style="color: rgb(0, 0, 100);font-weight: 500;margin-left:16rem;font-size: 2.1rem;margin-bottom: 2.2rem;text-align: center;">
      Cadre Ratio
    </h6>
    <table class="striped" style=" width:80rem; border: 2px solid rgba(54, 34, 34, 0.486);margin-left: 35rem;margin-right: auto; text-align: center; font-size: 1.5rem;">
      <thead>
        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
          <th style="border: white;border-style: solid;border-width: 1px;">Professor</th>
          <th style="border: white;border-style: solid;border-width: 1px;">Associate Professor
          </th>
          <th style="border: white;border-style: solid;border-width: 1px;">Assistant Professor
          </th>

      </tr></thead>
      <tbody style="text-align: center;">
        <tr>
          <td>2</td>
          <td>0</td>
          <td>4</td>
        </tr>

      </tbody>
    </table>
    <br><br><br>
  </div>
  <br><br><br>


  <h6 style="color: rgb(0, 0, 100);margin-left:16rem;font-size: 2.1rem;margin-bottom: 3.5rem;font-weight: 600;text-align: center;">
    Faculty Profiles
  </h6>

  <p style="color: rgb(0, 0, 100);font-size: 2.1rem;margin-bottom: 8rem;margin-left: 16rem;font-weight: 500;text-align: center;">
    Professors
  </p>
  <div class="profile-container" style="margin-left: 20rem; margin-top: -3rem; margin-bottom: 6rem;">

    <div class="profile-card">
      <img src="https://www.saranathan.ac.in/images/karthikeyan-mba.jpg" alt="image1" class="profile-icon">
      <div class="profile-name"> Dr. K Karthikeyan, M.B.A., Ph.D,. (NET Qualified)</div>
      <div class="profile-position">Professor &amp; Head<br>
        karthikeyan-mba@saranathan.ac.in</div>
    </div>

    <div class="profile-card">
      <img src="https://www.saranathan.ac.in/images/chandramouli-mba.jpg" alt="image2" class="profile-icon">
      <div class="profile-name">Mr. B S Chandramouli, M.Com.,M.B.A., (SET Qualified)</div>
      <div class="profile-position">Professor<br>
        chandramouli-mba@saranathan.ac.in</div>
    </div>
  </div>

  <p style="color: rgb(0, 0, 100);margin-left: 180px;font-size: 2.1rem;margin-bottom: 6rem;margin-left: 16rem;font-weight: 500;text-align: center;">
    Assistant Professors</p>
  <div class="profile-container" style="margin-left: 20rem; ">

    <div class="profile-card">
      <img src="https://www.saranathan.ac.in/images/mahalakshmi-mba.jpg" alt="image1" class="profile-icon">
      <div class="profile-name">Dr. V Mahalakshmi, MBA, M.Phil Ph.D</div>
      <div class="profile-position"> Asssistant Professor<br>
        mahalakshmi-mba@saranathan.ac.in</div>

    </div>
    <div class="profile-card">
      <img src="https://www.saranathan.ac.in/images/murali-mba.jpg" alt="image2" class="profile-icon">
      <div class="profile-name" style="font-size: 7px;"> Dr. R Murali, M.B.A., (SET Qualified) Ph.D</div>
      <div class="profile-position">Asssistant Professor<br>
        murali-mba@saranathan.ac.in</div>

    </div>
    <div class="profile-card">
      <img src="https://www.saranathan.ac.in/images/arunprasad-mba.jpg" alt="image3" class="profile-icon">
      <div class="profile-name"> Mr. K Arunprasad, M.B.A., (NET Qualified)</div>
      <div class="profile-position">Asssistant Professor <br>
        arunprasad-mba@saranathan.ac.in</div>

    </div>
    <div class="profile-card">
      <img src="https://www.saranathan.ac.in/images/syed-mba.jpg" alt="image3" class="profile-icon">
      <div class="profile-name"> Mr. S Syed Muthaliff, M.B.A.,M.Phil.,</div>
      <div class="profile-position">Asssistant Professor <br>
        syed-mba@saranathan.ac.in</div>

    </div>
  </div>




  <br>
  <!-- ======= Footer ======= -->
  <footer id="footer" style="margin-top: 10rem;">
    <div class="footer-top" style="position: relative;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE
            </h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva
              Mani”
              Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru
              Principal
              Saranathan, the
              greatest ever Principal of National College. It is a self financing college
              approved by
              AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a>
              </li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a>
              </li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement
                  Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->



</body></html>