<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TheEvent Bootstrap Template - Speaker Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
  <link rel="stylesheet" href="../../../assets/fonts/simple-line-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
  <link rel="stylesheet" href="../../../assets/css/smoothproducts.css">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
      <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">

        <div class="parallelogram">
          <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
            <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
      <!-- .navbar -->
      <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>










 <ul class="snbul" style="">
    <li class="snbli"><a href="MBA.html">Department of MBA</a></li>
      <li class="snbli"><a href="MBA Faculty.html">Faculty details</a></li>
      <li class="snbli"><a href="MBA Edc.html">Enterpreneurship Development Cell</a></li>
      <li class="snbli"><a href="MBA Research Cell.html">Research Cell</a></li>
      <li class="snbli"><a href="MBA Newsletter.html">News letter</a></li>
      <li class="snbli"><a href="MBA Placement Details.html">Placement Details</a></li>
    
        <li class="snbli"><a class="active" href="MBA Excerpts of our Distinguished Alumni.html">Excerpts of our Disinguished Alumini</a></li>
      <li class="snbli"><a href="MBA Contact Us.html">Contact us</a></li>
  </ul>

<center>
  <div style="margin-left: 15rem;border-right: 7rem;width: 80%;">
   <div class="section-heade" style="margin-top: 13rem;
  margin-bottom: 20px;
  position: relative;">
   <h2 style="font-weight: 600;">Excerpts of our Distinguished Alumni</h2>
 </div>
  <div class="section-heade" style="margin-top: 7rem;
  margin-bottom: 20px;
  position: relative;">
      
    <div>
    <div style="position: relative;pointer-events: none;width: 63%;">
    <img height="260px" src="http://saranathan.ac.in/images/alumini/mba/MBA0010.jpg" style="margin-top: -2rem;float: left;margin-right: 3rem;margin-bottom: ;">
  </div>
    <div class="section-heade" style="
  margin-bottom: 20px;
  position: relative;margin-top: 3rem;">
    <div style="margin-top: ;"><h4>Ms.P.Jesvanthy,MBA (FINANCE &amp; HUMAN RESOURCES) –BATCH 2013-15</h4>
    </div>
  </div>
 <h5 style="text-align:left;"> <p style="text-align:center;">IT-Recruitment Consultant<br>
IKYA HUMAN CAPITAL SOLUTIONS(Division of Quess Corp),Trichy</p>
 Feeling very happy and proud to be alumni of Saranathan. My earnings in that great 2 years is all about “learnings” . The environment which I studied is now very helpful to face the corporate environs</h5><br>
<center><p>Updated As on 28-July-2016</p></center>

</div>
</div>
<br>
<div class="section-heade" style="margin-top: 7rem;
  margin-bottom: 20px;
  position: relative; ">
     
    
    <div style="position: relative;pointer-events: none;width: 63%;">
    <img height="260px" src="http://saranathan.ac.in/images/alumini/mba/MBA0009.jpg" style="margin-top: -2rem;float: left;margin-right: 3rem;">
  </div>
    <div class="section-heade" style="
  margin-bottom: 20px;
  position: relative;margin-left: 5rem;margin-top: 5rem;">
    <div><h4>Ms.S.Sujatha,MBA (FINANCE &amp; HUMAN RESOURCES) –BATCH 2013-15</h4>
    </div>
  </div>
 <h5 style="text-align:left;"> <p style="text-align:center;">IT-Recruitment Consultant<br>
IKYA HUMAN CAPITAL SOLUTIONS(Division of Quess Corp),Trichy</p>
 If almighty gives me a chance to go to my MBA days, it would be a great pleasure for me. Won many prizes in inter collegiate competitions which gave me a lot of exposure , and all those credits goes to saranathan</h5><br>
<center><p>Updated As on 28-July-2016</p></center>

</div>
<br>

<div class="section-heade" style="margin-top: 7rem;
  margin-bottom: 20px;
  position: relative; ">
     
    
    <div style="position: relative;pointer-events: none;width: 63%;">
    <img height="260px" src="http://saranathan.ac.in/images/alumini/mba/MBA0008.jpg" style="margin-top: -2rem;float: left;margin-right: 3rem;">
  </div>
    <div class="section-heade" style="
  margin-bottom: 20px;
  position: relative;margin-top: 5rem;">
    <div><h4>Ms.K.Virthika ,MBA (FINANCE &amp; HUMAN RESOURCES) –BATCH 2013-15</h4>
    </div>
  </div>
 <h5 style="text-align:left;"> <p style="text-align:center;">Non IT-Recruitment Consultant<br>
IKYA HUMAN CAPITAL SOLUTIONS(Division of Quess Corp),Trichy</p>
 Two years of MBA is very memorable for me forever . Saranathan provided me a learning ambience and developed my knowledge in Human Resources Platform</h5><br>
<center><p>Updated As on 28-July-2016</p></center>

</div>
<div class="section-heade" style="margin-top: 7rem;
  margin-bottom: 20px;
  position: relative;">
     <br>
    
    <div style="position: relative;pointer-events: none;width: 63%;">
    <img height="260px" src="http://saranathan.ac.in/images/alumini/mba/MBA0005.jpg" style="margin-top: -2rem;float: left;margin-right: 3rem;">
  </div>
    <div class="section-heade" style="
  margin-bottom: 20px;
  position: relative;margin-top: rem;">
    <div><h4>Mr.S.Gugananthan ,MBA (FINANCE &amp; MARKETING) –BATCH 2009-11</h4>
    </div>
  </div>
 <h5 style="text-align:left;"> <p style="text-align:center;">CERTIFIED CONSULTANT FOR SAP-FINANCE<br>
"ASSOCIATE CONSULTANT"- Back Office Associates , Hyderabad</p>
 I Can Say that my life was groomed professionally in the 2nd Innings. Undoubtedly my 2nd Innings started after Joining Saranathan. I augmented my Finance skills after joining here and now iam a Certified SAP Consultant. Thanks to Saranathan</h5><br>
<center><p>Updated As on 24-May-2016</p></center>   
 </div>

<br>

<div class="section-heade" style="margin-top: 7rem;
  margin-bottom: 20px;
  position: relative;">
     
    
    <div style="position: relative;pointer-events: none;width: 63%;">
    <img height="260px" src="http://saranathan.ac.in/images/alumini/mba/MBA0006.jpg" style="margin-top: -2rem;float: left;margin-right: 3rem;">
  </div>
    <div class="section-heade" style="
  margin-bottom: 20px;
  position: relative;margin-top: 5rem;">
    <div><h4>Mr.K.Azhar Ismail,MBA(HUMAN RESOURCES &amp; MARKETING) BATCH 2013-15</h4>
    </div>
  </div>
 <h5 style="text-align:left;"> <p style="text-align:center;">Process Analyst -Royal Bank of Scotland. Chennai.</p>
 The potency of my skills was sharpened by the faculty members of Saranathan. Basically I was a Mechanical Engineer and I am very sound in technical side. After Joining MBA in Saranathan, I got tuned in soft skils and public speaking. I feel that I am sharp in both the sides.” It was a great days, while I studied in Saranathan.</h5><br>
<center><p>Updated As on 24-May-2016</p></center>

</div>

<br>


<div class="section-heade" style="margin-top: 7rem;
  margin-bottom: 20px;
  position: relative;">
     
    
    <div style="position: relative;pointer-events: none;width: 63%;">
    <img height="260px" src="http://saranathan.ac.in/images/alumini/mba/MBA0007.jpg" style="margin-top: -2rem;float: left;margin-right: 3rem;">
  </div>
    <div class="section-heade" style="
  margin-bottom: 20px;
  position: relative;margin-top: 5rem;">
    <div><h4>Mr.M.Anandakumar ( Human Resources &amp; Marketing) Batch 2010-12</h4>
    </div>
  </div>
 <h5 style="text-align:left;"> <p style="text-align:center;">Senior executive HR - Sundaram Finance Ltd Chennai.</p>
 Apart from education , Saranathan trained me in grooming my knowledge. "Out of Box" thinking was encouraged by my eminent faculty members. Extra curricular activities like Research Paper presentations and Finance games deepen my intellectual capacity even more.</h5><br>
<center><p>Updated As on 24-May-2016</p></center>

</div> 

<br>

<div class="section-heade" style="margin-top: 7rem;
  margin-bottom: 20px;
  position: relative; ">
     
    
    <div style="position: relative;pointer-events: none;width: 63%;">
    <img height="260px" src="http://saranathan.ac.in/images/alumini/mba/MBA0001.jpg" style="margin-top: -2rem;float: left;margin-right: 3rem;">
  </div>
    <div class="section-heade" style="
  margin-bottom: 20px;
  position: relative;margin-top: 5rem;">
    <div><h4>Mr.V. PRASANNA, MBA (Human Resources &amp; Marketing)</h4>
    </div>
  </div>
 <h5 style="text-align:left;"> <p style="text-align:center;">Territory Sales Manager, Erode Division- Exide Industries Ltd.</p>
 MBA in Saranathan endowed me a platform to improve my managerial competence. Not only in Academics, I sharpened my technical and analytical skills in the span of 2 years. Personally for me, Saranathan is a paradise for management education.</h5><br>
<center><p>Updated As on 19-May-2015</p></center>

</div> 

<br>

<div class="section-heade" style="margin-top: 7rem;
  margin-bottom: 20px;
  position: relative;">
     
    
    <div style="position: relative;pointer-events: none;width: 63%;">
    <img height="260px" src="http://saranathan.ac.in/images/alumini/mba/MBA0002.jpg" style="margin-top: -2rem;float: left;margin-right: 3rem;">
  </div>
    <div class="section-heade" style="
  margin-bottom: 20px;
  position: relative;;margin-top: 5rem;">
    <div><h4>Mr.K.RAJMOHAN, MBA (Finance &amp; Marketing)</h4>
    </div>
  </div>
 <h5 style="text-align:left;"> <p style="text-align:center;">Officer, City Union Bank, Chennai.</p>
MBA Programme in Saranathan in Unique and its give a blend on both theoretical and practical implications on management perspective. One can have a paradigm shift in their traits after completing the course.</h5><br>
<center><p>Updated As on 19-May-2015</p></center>

</div> 

<br>

<div class="section-heade" style="margin-top: 7rem;
  margin-bottom: 20px;
  position: relative;">
     
    
    <div style="position: relative;pointer-events: none;width: 63%;">
    <img height="260px" src="http://saranathan.ac.in/images/alumini/mba/MBA0003.jpg" style="margin-top: -2rem;float: left;margin-right: 3rem;">
  </div>
    <div class="section-heade" style="
  margin-bottom: 20px;
  position: relative;margin-top: 5rem;">
    <div><h4>Mr.P.Guru Dev, MBA ( Human Resources &amp; Marketing)</h4>
    </div>
  </div>
 <h5 style="text-align:left;"> <p style="text-align:center;">Sales Officer –Southern Region- ITC (Indian Tobacco Company )</p>
Saranathan provided me a quality MBA program at an affordable cost with intensive academia practices. Case Studies, Group Discussions &amp; Other management games helped me to shape my personality on the whole. Thanks to Saranthan.</h5><br>
<center><p>Updated As on 19-May-2015</p></center>
</div>

<br>

<div class="section-heade" style="margin-top: 7rem;
  margin-bottom: 20px;
  position: relative;">
     

    <div style="position: relative;pointer-events: none;width: 63%;">
    <img height="260px" src="http://saranathan.ac.in/images/alumini/mba/MBA0004.jpg" style="margin-top: -2rem;float: left;margin-right: 3rem;">
  </div>
    <div class="section-heade" style="
  margin-bottom: 20px;
  position: relative;margin-top: 5rem;">
    <div><h4>Mr.S.Bharath, MBA ( Operations &amp; Marketing)</h4>
    </div>
  </div>
 <h5 style="text-align:left;"> <p style="text-align:center;">Assistant Manager-Purchase, Egston Electronics India Pvt Ltd,Trichy.</p>
I got everything in my professional life after stepping into Saranathan. Honed my Management skills in the 2 years of study. I have gifted with eminent faculty, peers group and so on.</h5><br>
<center><p>Updated As on 19-May-2015</p></center>
</div>
 

 </div>
</center>
 
      
      














 <footer id="footer">
    <div class="footer-top" style="position: relative;margin-top: 16rem;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p style="
text-align: left;
">
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>



</body></html>