<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/style.scss" rel="stylesheet">
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="text-align: center;font-family: poppins-extralight,poppins,sans-serif;">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center header-scrolled" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>

  <div class="section-heade" style="margin-top: 11rem;
  margin-bottom: 20px;
  position: relative;">
      <h2 style="font-weight: 600;">QUALITY IMPROVEMENT CELL</h2>
    </div>
    <div class="clr" style="
    background-color: rgb(39 56 120);
    width: 100%;
    height: 34rem;
    position: relative;
  "></div>
   <ul class="snbul">
    <li class="snbli"><a href="center.html">Center for Research</a></li>
    <li class="snbli"><a class="active" href="">Quality Improvement Cell</a></li>
    <li class="snbli"><a href="">Entrepreneurship Development Cell</a></li>
    <li class="snbli"><a href="">Campus Connect - Infosys</a></li>
    <li class="snbli"><a href="">Women Empowerment Cell</a></li>
    <li class="snbli"><a href="">Sexual Harassment and Redressal Committee</a></li>
    <li class="snbli"><a href="">E-Yantra</a></li>
    <li class="snbli"><a href="">Smart India Hackathan</a></li>
  </ul>
<div style="position: relative;top: -31rem;pointer-events: none;width: 63%;margin-left: 31rem;color: white;">
  <h3 style="font-weight: 600;color: white;text-align: left;margin-left: 7rem;">About QIC Cell</h3>

  <p style="text-align: justify;width: 92%;margin-left: 7rem;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">Quality Improvement Cell (QIC), is an initiative to improve the learning ability of students, by exposing them to e-resources. Saranthan College of Engineering(SCE), has been selected as one of the 21 nodal centers of Anna University to execute the functions of QIC, as per the directions from the Commissioner of Technical Education and Director/Centre for Faculty development, Anna University, Chennai. 
      Under the nodal centre of Saranthan College of Engineering, 16 Engineering colleges in Tiruchirappalli zone are roped in. This was declared in a meeting attended by the Principal and Dean/Academics, at Anna University in the month of October 2013. After the same a QIC, cell was established in our Institute with nominees from respective branches, including the Librarian.
       By December 2013, 6 senior faculty headed by Dean/Student affairs, attended a one day workshop on the objectives of QIC, conducted by CFD/Anna University.
       SCE, has registered with IIT, Bombay Spoken tutorial team, and several departments have conducted various phases of training in Spoken tutorial, and the process is ON, and we have certified individuals in a few courses.</p>
    

</div>
<div class="contentarea" style="position: relative;top: -26rem;margin-bottom: -24rem;">

<br><br>
<br>
<p style="text-align: justify;margin-left: 6rem;width: 92%;font-size: x-large;">
  The management has been magnanimous in sanctioning funds to increase the number of non-technical books, to inculcate the habit of reading, among students as the per directions of the Commissioner, for Technical Education.

  SCE organized a "One day workshop on the Objective of QIC", for 16 institutions, under its umbrella, in which there was a participation of 38 senior faculty members. An action plan to increase the quality of our institution, a special period for library for all classes is now under use. Also the digital library is strengthened with updated versions of PCs, for better access to our e-resources.
</p>
<table id="cus" style="
  width: 93%;
  margin-left: 5rem;
  margin-top: -6rem;
  margin-bottom: 12rem;
">
  <tbody style="
  text-align: center;
  font-size: larger;
"><tr>
    <td style="
  width: 5%;
  text-align: center;
  background-color: #0e1b4d;
  color: white;
">S.No</td>
    <td style="
  text-align: center;
  background-color: #0e1b4d;
  color: white;
">Name of Resources</td>
    <td style="
  text-align: center;
  background-color: #0e1b4d;
  color: white;
">Availability of Resources</td>
    <td style="
  text-align: center;
  background-color: #0e1b4d;
  color: white;
">Remarks</td>
  </tr>
  <tr>
    <td>1</td>
    <td>NPTEL Videos</td>
    <td>Hard Disk/Intranet</td>
    <td><ul style="
  text-align: left;
">
        <li>
          NPTEL video resources available in the form of Hard Disc and the contents are already uploaded in the 'Sara Web Portal'.
      </li> <br>
        <li>
          More than 183 video courses available in various Engineering and Science disciplines.
        </li><br>
        <li>
          The information on videos are categorized according to the departments and subjects and the list is forwarded in the group mail and displayed in the notice boards.
        </li><br>
        <li>
          This facility has been available in our campus since February 2013.
        </li>
    </ul></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Bridge Courses CD given through DOTE</td>
    <td>DVD/Intranet</td>
    <td><ul>
      <li style="
  text-align: left;
">
          Educational videos on English, Maths &amp; Physics are available in the CDs, in our Library.
      </li>
  </ul></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Edusat Classes by CFD</td>
    <td>Hard Disk/Intranet</td>
    <td style="
  text-align: left;
"><ul>
      <li>
          Edusat Classes are in the form of Videos and the same was copied into Hard Disc Drives form the Center for Faculty Development at Chennai.
    </li><br>
      <li>
          Thanks to the support from the Director/CFD.
      </li>
  </ul></td>
  </tr>
  <tr>
    <td>4</td>
    <td>Spoken Tutorial by IIT - Bombay (through NMEICT)</td>
    <td>DVD/Intranet</td>
    <td style="
  text-align: left;
"><ul>
      <li>
          From spoken tutorial website 20 open source software and 20 related tutorials are downloaded and stored in DVDs.  
          </li><br>
      <li>
          Tutorials in Tamil version is available for some of the software. We have downloaded all the 15 video tutorials.        </li><br>
      <li>
          The institute has registered with the Spoken tutorial team, and various departments have started their respective courses.        </li>
  </ul></td>
  </tr>
  <tr>
    <td>5</td>
    <td>MOOC Various courses like coursera MIT freeware etc</td>
    <td>DVD/Intranet</td>
    <td><ul style="
  text-align: left;
">
      <li>
          MIT Courseware &amp; course video lectures numbering 21, covering various Engineering disciplines are downloaded and stored in DVDs.            </li><br>
      <li>
          The data, is available in our portal, and digital library, for further utility. </li>
  </ul></td>
  </tr>
  <tr>
    <td>6</td>
    <td>Any other Resources</td>
    <td>Internet</td>
    <td style="
  text-align: left;
"><ul><li>SRO, AICTE, Chennai</li></ul></td>
  </tr>
  
</tbody></table>
<h2 style="font-weight: 600;">QIC EVENTS</h2>

<table id="cus" style="width: 93%;margin-top: -8rem;margin-left: 5rem;height: 8rem;text-align: center;font-size: larger;margin-bottom: 10rem;">

  <tbody><tr style="
    background-color: #CDCDCD;
">
    <td style="
  background-color: #0e1b4d;
  color: white;
">S.NO</td>
    <td style="
  background-color: #0e1b4d;
  color: white;
">Event Name</td>
    <td style="
  background-color: #0e1b4d;
  color: white;
">Event Date</td>
  </tr>

  <tr>
    <td>1</td>
    <td>Three Day FDP on Student Induction Program Sponsored by AICTE</td>
    <td>20-08-2018 to 22-08-2018</td>
  </tr>

</tbody></table>

</div>
  
<footer id="footer">
<div class="footer-top">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 footer-info">
        <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
        <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
          Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
          greatest ever Principal of National College. It is a self financing college approved by AICTE and
          affiliated to Anna University, Chennai.</p>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>Quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Us</h4>
        <p style="
text-align: left;
">
          Saranathan College of Engineering
          Venkateswara Nagar,
          Trichy-Madurai Main Road (NH 45 B),
          Edamalaipatti Pudhur(Post), Panjappur,
          Thiruchirappalli - 620012<br>
          <strong>Phone:</strong> +91 8489915204<br>
          <strong>Email:</strong> sce@gmail.com<br>
        </p>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>

    </div>
  </div>
  <div class="container">
    <div class="copyright">
      © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
    </div>
  </div>
</div>
</footer>
<script src="../../assets/vendor/aos/aos.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../assets/vendor/php-email-form/validate.js"></script>
<script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../../assets/js/main.js"></script>
</body></html>