<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SCE</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../../../assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../../../assets/css/smoothproducts.css">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../../fp/style.css">

    <!-- Template Main CSS File -->
     <link href="../../../assets/css/style.css" rel="stylesheet">
     <link href="../../../assets/css/facultymech.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->



</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
    <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
        <div class="container-fluid container-xxl d-flex align-items-center">

            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

            <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">

                <div class="parallelogram" style="height: 60; width: 600;">
                    <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
    
">WINNERS BEGIN WITH SARANATHAN</h2>
                </div>
                <ul style="
    position: relative;
">
                    <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
                        <ul>
                            <li><a href="speaker-details.html">About the Instution</a></li>
                            <li><a href="FP.html">Founder President</a></li>
                            <li><a href="FS.html">Founder Secretary</a></li>
                            <li><a href="GC.html">Governing Council</a></li>
                            <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                            <li><a href="CC.html">College Committees</a></li>
                            <li><a href="infra.html">Infrastructure</a></li>
                            <li><a href="quality.html">Quality Policy</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
                        <ul>
                            <li><a href="#">Courses Offered</a></li>
                            <li><a href="#">Addmission Norms</a></li>
                            <li><a href="#">Admission Policy</a></li>
                            <li><a href="#">Code of Conduct</a></li>
                            <li><a href="#">Scholorship</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto active" href="center.html">Center</a>
                        <ul>
                            <li><a href="#">Center For Research</a></li>
                            <li><a href="#">Institute Industry Partnership Cell</a></li>
                            <li><a href="#">Quality Improvement Cell</a></li>
                            <li><a href="#">Entrepreneurship Development Cell</a></li>
                            <li><a href="#">Campus Connect - Infosys</a></li>
                            <li><a href="#">Women Empowerment Cell</a></li>
                            <li><a href="#">E - Yantra</a></li>
                            <li><a href="#">Smart India Hackathan</a></li>

                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
                        <ul>
                            <li><a href="#">Civil Engineering</a></li>
                            <li><a href="#">Computer Science Engg</a></li>
                            <li><a href="#">Electronics &amp; Comm Engg</a></li>
                            <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                            <li><a href="#">Instrumentation &amp; Control</a></li>
                            <li><a href="#">Mechanical Engineering</a></li>
                            <li><a href="#">Management Studies (MBA)</a></li>
                            <li><a href="#">Science and Humanity</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
                        <ul>
                            <li><a href="#">Placement cell</a></li>
                            <li><a href="#">Student Placement Details</a></li>
                            <li><a href="#">Training Activities</a></li>
                            <li><a href="#">Our Recruiters</a></li>
                            <li><a href="#">Rank Holders</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#">NAAC</a></li>

                    <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
            <!-- .navbar -->
            <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

        </div>
    </header>






    <div class="section-heade" style="
  margin-top: -37rem;
  margin-bottom: 20px;
  position: relative;
  ">
        <div class="social-float-parent">
            <ul class="sn" style="
    top: 100vh;
">
                <li class="snbli"><a href="ECE.html">About ECE</a></li>
                <li class="snbli"><a href="ECE Academic Programs.html">Academic Programs</a></li>
                <li class="snbli"><a href="ECE Facility.html">Facilities</a></li>
                <li class="snbli"><a class="active" href="ECE Faculty.html">Faculty</a></li>
                <li class="snbli"><a href="ECE Research Cell.html">Research Cell</a></li>
                <li class="snbli"><a href="ECE AU Dept. Performance.html">AU Dept. Performance</a></li>
                <li class="snbli"><a href="ECE Placement Details.html">Placement Details</a></li>
                <li class="snbli"><a href="ECE contact us.html">Contact US</a></li>

            </ul>
        </div>
        <section>
            <div>
                <h2 style="color: rgb(0, 0, 100); text-align: center; font-family: 'Montserrat'; margin-left:6rem; font-size: 2.1rem; margin-bottom: 2.2rem;">
                    Faculty Details
                </h2>

                <h6 style="color: rgb(0, 0, 100); font-family: 'Montserrat'; margin-left:58rem;font-size: 2.1rem; margin-bottom: 2.2rem;">
                    Cadre Ratio
                </h6>
                <table class="striped" style=" width:900px; border: 2px solid rgba(54, 34, 34, 0.486);margin-left: 35rem;margin-right: auto; text-align: center; font-size: 1.5rem;">
                    <thead>
                        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                            <th style="border: white;border-style: solid;border-width: 1px;">Professor</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Associate Professor
                            </th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Assistant Professor
                            </th>

                    </tr></thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>3</td>
                            <td>5</td>
                            <td>12</td>
                        </tr>

                    </tbody>
                </table>
                <br><br><br>

                <h6 style="color: rgb(0, 0, 100);margin-left:46rem;font-size: 2.1rem;margin-bottom: 2.2rem;">
                    Faculty Qualification (as on June 2021 )
                </h6>
                <table class="striped" style="width:900px; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 35rem;margin-right: auto; text-align: center; font-size: 1.5rem;">
                    <thead>
                        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                            <th style="border: white;border-style: solid;border-width: 1px;">Faculty with Ph.D</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Faculty Pursuing Ph.Ds
                            </th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Faculty with M.E /
                                M.Tech</th>

                    </tr></thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>8</td>
                            <td>6</td>
                            <td>6</td>
                        </tr>

                    </tbody>
                </table>
                <br><br><br>

                <h6 style="color: rgb(0, 0, 100);margin-left:57rem;font-size: 2.1rem;margin-bottom: 2.5rem;">
                    Ph.D - Completed
                </h6>
                <table class="striped" style=" width:900px; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 35rem;margin-right: auto; text-align: center;font-size: 1.5rem;">
                    <thead>
                        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                            <th style="border: white;border-style: solid;border-width: 1px;">S.no</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Name of the Faculty
                            </th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Designation</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Year of Completion</th>


                    </tr></thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>1</td>
                            <td>Dr.M.Santhi</td>
                            <td>Professor</td>
                            <td>2013</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Dr.C.Vennila</td>
                            <td>Professor</td>
                            <td>2013</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Dr.M.Padmaa</td>
                            <td>Professor</td>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Dr.S.A.Arunmozhi</td>
                            <td>Associate Professor</td>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Dr.S.Rajeswari</td>
                            <td>Associate Professor</td>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Dr.V.Mohan</td>
                            <td>Associate Professor</td>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Dr.P.Shanmugapriya</td>
                            <td>Associate Professor</td>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Dr.M.Baritha begum</td>
                            <td>Associate Professor</td>
                            <td>2015</td>
                        </tr>
                    </tbody>
                </table>
                <br><br><br>

                <h6 style="color: rgb(0, 0, 100);margin-left:58.5rem;font-size: 2.1rem;margin-bottom: 2.5rem;">
                    Ph.D - Persuing
                </h6>
                <table class="striped" style="width:900px; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 35rem;margin-right: auto; text-align: center;font-size: 1.5rem;">
                    <thead>
                        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                            <th style="border: white;border-style: solid;border-width: 1px;">S.no</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Name of the Faculty
                            </th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Designation</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Year of Registration
                            </th>


                    </tr></thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>1</td>
                            <td>Mr.S.Hariprasath</td>
                            <td>Assistant Professor</td>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Mr.K.Malaisamy</td>
                            <td>Assistant Professor</td>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mr.V.Koushick</td>
                            <td>Assistant Professor</td>
                            <td>2017</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Mr.G.Sivakannu</td>
                            <td>Assistant Professor</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Ms.A.Shamim banu</td>
                            <td>Assistant Professor</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Ms.P.Sivagamasundhari</td>
                            <td>Assistant Professor</td>
                            <td>2019</td>
                        </tr>
                    </tbody>
                </table>
                <br><br><br>

                <h6 style="color: rgb(0, 0, 100);margin-left:60.5rem;font-size: 2.1rem;margin-bottom: 2.5rem;">
                    M.E/M.Tech
                </h6>
                <table class="striped" style=" width:900px; border: 2px solid rgba(170, 169, 169, 0.486);margin-left: 35rem;margin-right: auto; text-align: center;font-size: 1.5rem;">
                    <thead>
                        <tr style="background-color: rgb(28,49,145);color: whitesmoke;">
                            <th style="border: white;border-style: solid;border-width: 1px;">S.no</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Name of the Faculty
                            </th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Designation</th>
                            <th style="border: white;border-style: solid;border-width: 1px;">Year of Completion</th>


                    </tr></thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>1</td>
                            <td>Ms.J.Eindhumathy</td>
                            <td>Assistant Professor</td>
                            <td>2013</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Ms.V.Ramya</td>
                            <td>Assistant Professor</td>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Mr.M.Mahendran</td>
                            <td>Assistant Professor</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Ms.M.Anthuvan Lydia</td>
                            <td>Assistant Professor</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Ms.R.Vaishnavi</td>
                            <td>Assistant Professor</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Mr.SD.Sairam</td>
                            <td>Assistant Professor</td>
                            <td>2018</td>
                        </tr>


                    </tbody>
                </table>
                <br><br><br>


                <h6 style="color: rgb(0, 0, 100);margin-left:59.2rem;font-size: 2.1rem;margin-bottom: 3.5rem;">
                    Faculty Profiles
                </h6>

<div>
<section style="text-align: center;margin-left: 8rem;">
                
            <p style="margin-bottom: 6rem;"><b>Professors</b></p> 
            <div class="profile-container" style="margin-bottom: 6rem;">
             
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/santhim.jpg" alt="image1" class="profile-icon">
                <div class="profile-name">Dr. M Santhi, M.E., Ph.D</div>
                <div class="profile-position">Professor &amp; Head<br>  
                  santhim@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/vennila-ece.jpg" alt="image2" class="profile-icon">
                <div class="profile-name">Dr. C Vennila, M.E., Ph.D</div>
                <div class="profile-position">Professor<br>  
                  vennila-ece@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/padmaa-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name"> Dr. M Padmaa, M.E.,Ph.D</div>
                <div class="profile-position">Professor<br>  
                  padmaa-ece@saranathan.ac.in</div>
            
              </div>
            </div>

            <p style="margin-bottom: 6rem;"><b>Associate Professors</b></p>
            <div class="profile-container" style="margin-bottom: 6rem;">
             
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/arunmozhi-ece.jpg" alt="image1" class="profile-icon">
                <div class="profile-name"> Dr. S.A Arunmozhi, M.B.A, M.Tech., Ph.D</div>
                <div class="profile-position"> Associate Professor<br> 
                 arunmozhi-ece@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/rajeswaris-ece.jpg" alt="image2" class="profile-icon">
                <div class="profile-name" style="font-size: 7px;"> Dr. S Rajeswari, M.Tech., Ph.D</div>
                <div class="profile-position">Associate Professor<br>   
                  rajeswaris-ece@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/mohan-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name"> Dr. V Mohan, M.E., Ph.D</div>
                <div class="profile-position">Associate Professor  <br> 
                 mohan-ece@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/shanmugapriya-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name"> Dr. P Shanmugapriya, M.Tech., Ph.D</div>
                <div class="profile-position">Associate Professor  <br> 
                  shanmugapriya-ece@saranathan.ac.in</div>
            
              </div>
              
            </div>
            <p style="margin-bottom: 6rem;"><b>Assistant Professors</b></p>
            <div class="profile-container" style="margin-bottom: 8rem;">
             
             <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/barithabegum-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name"> Dr. M Baritha Begum, M.E.,Ph.D</div>
                <div class="profile-position">Associate Professor <br> 
                  barithabegum-ece@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/hariprasath-ece.jpg" alt="image1" class="profile-icon">
                <div class="profile-name">  Mr. S Hariprasath, M.E.,</div>
                <div class="profile-position"> Asssistant Professor<br> 
                  hariprasath-ece@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/malaisamy-ece.jpg" alt="image2" class="profile-icon">
                <div class="profile-name" style="font-size: 7px;">  Mr. K Malaisamy, M.E.,</div>
                <div class="profile-position">Asssistant Professor<br>   
                malaisamy-ece@saranathan.ac.in</div>
                 
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/sivagamasundhari-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name"> Ms. P Sivagamasundhari, M.E.,</div>
                <div class="profile-position">Asssistant Professor  <br> 
                  sivagamasundhari-ece@saranathan.ac.in</div>
            
              </div>
              
            </div>
            <div class="profile-container" style="margin-bottom: 8rem;">
             
             <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/eindhumathy-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name">  Ms. J Eindhumathy, M.E.,</div>
                <div class="profile-position">Asssistant Professor  <br> 
                 eindhumathy-ece@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/shamimbanu-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name">Ms. A Shamim Banu, M.E.,</div>
                <div class="profile-position">Asssistant Professor <br> 
                  shamimbanu-ece@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/mahendran-ece.jpg" alt="image1" class="profile-icon">
                <div class="profile-name"> Mr. M Mahendran, M.Tech.,</div>
                <div class="profile-position">Asssistant Professor<br> 
                 mahendran-ece@saranathan.ac.in</div>
                
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/sivakannu-ece.jpg" alt="image2" class="profile-icon">
                <div class="profile-name" style="font-size: 7px;">  Mr. G Sivakannu, M.E.,</div>
                <div class="profile-position">Asssistant Professor<br>   
                 sivakannu-ece@saranathan.ac.in</div>
                
              </div>
              
               
              
            </div>

            <div class="profile-container" style="margin-bottom: 8rem;">
                <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/ramyav-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name">Ms. V Ramya, M.E.,</div>
                <div class="profile-position">Asssistant Professor  <br> 
                   ramyav-ece@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/anthuvanlydia-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name"> Ms. M Anthuvan Lydia, M.E.,</div>
                <div class="profile-position">Asssistant Professor  <br> 
                anthuvanlydia-ece@saranathan.ac.in</div>
            
              </div>
              <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/koushick-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name">  Mr. V Koushick, M.E.,</div>
                <div class="profile-position">Asssistant Professor <br> 
                koushick-ece@saranathan.ac.in</div>
              </div>

                <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/vaishanavi-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name"> Ms. R Vaishanavi, ME.,</div>
                <div class="profile-position">Asssistant Professor <br> 
                 vaishanavi-ece@saranathan.ac.in</div>
               </div>

                

             </div>

             <div class="profile-container">
             
                <div class="profile-card">
                <img src="https://www.saranathan.ac.in/images/sairam-ece.jpg" alt="image3" class="profile-icon">
                <div class="profile-name"> Mr. Sd. Sairam, M.E.,</div>
                <div class="profile-position">Asssistant Professor <br> 
                 sairam-ece@saranathan.ac.in</div>
              </div>
             </div>

            </section></div>
             </div></section>




            <br>
            <br>
            <!-- ======= Footer ======= -->
            <footer id="footer" style="margin-top: 10rem;">
                <div class="footer-top" style="position: relative;">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-3 col-md-6 footer-info">
                                <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE
                                </h3>
                                <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva
                                    Mani”
                                    Auditor Sri. K.
                                    Santhanam in the year 1998. It was so named in respectful memory of his Guru
                                    Principal
                                    Saranathan, the
                                    greatest ever Principal of National College. It is a self financing college
                                    approved by
                                    AICTE and
                                    affiliated to Anna University, Chennai.</p>
                            </div>

                            <div class="col-lg-3 col-md-6 footer-links">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-md-6 footer-links">
                                <h4>quick Links</h4>
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement
                                            Details</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-md-6 footer-contact">
                                <h4>Contact Us</h4>
                                <p>
                                    Saranathan College of Engineering
                                    Venkateswara Nagar,
                                    Trichy-Madurai Main Road (NH 45 B),
                                    Edamalaipatti Pudhur(Post), Panjappur,
                                    Thiruchirappalli - 620012<br>
                                    <strong>Phone:</strong> +91 8489915204<br>
                                    <strong>Email:</strong> sce@gmail.com<br>
                                </p>

                                <div class="social-links">
                                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                    <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="container">
                        <div class="copyright">
                            © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
                        </div>
                    </div>
                </div>
            </footer><!-- End  Footer -->



</div></body></html>