<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <!-- Vendor CSS Files -->
  <link href="../../../styles.css" rel="stylesheet">
  <link href="../../../assets/style.scss" rel="stylesheet">
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  
   <link href="../../../assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center header-scrolled" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram" style="width: 600;height: 50;">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>












  <div class="section-heade" style="margin-top: 11rem;
  margin-bottom: 20px;
  position: relative;">
</div>


<ul class="snbul">
                <li class="snbli"><a href="ECE.html">About ECE</a></li>
                <li class="snbli"><a href="ECE Academic Programs.html">Academic Programs</a></li>
                <li class="snbli"><a href="ECE Facility.html">Facilities</a></li>
                <li class="snbli"><a href="ECE Faculty.html">Faculty</a></li>
                <li class="snbli"><a class="active" href="ECE Research Cell.html">Research Cell</a></li>
                <li class="snbli"><a href="ECE AU Dept. Performance.html">AU Dept. Performance</a></li>
                <li class="snbli"><a href="ECE Placement Details.html">Placement Details</a></li>
                <li class="snbli"><a href="ECE contact us.html">Contact US</a></li>

            </ul>


    
    <section style="margin-top: 13rem;margin-bottom: 5rem;margin-left: 28rem;margin-right:7rem;">
            <h1 style="color: rgb(19, 19, 83);text-align: center;font-weight: 600;margin-bottom: 3rem;">
                Research Cell
            </h1>
            <style>
                body {font-family: 'Poppins', sans-serif;}
                
                
                .tab {
                  overflow: hidden;
                  border: 1px solid #ccc;
                  background-color: #f1f1f1;
                }
                
                
                .tab button {
                  background-color: inherit;
                  float: left;
                  border: white;
                  outline: none;
                  cursor: pointer;
                  padding: 14px 16px;
                  transition: 0.3s;
                  font-size: 20px;
                  
                }
                
               
                .tab button:hover {
                  background-color: #ddd;
                }
                
                
                .tab button.active {
                  background-color: rgb(17, 24, 119);
                  color: white;
                }
                
                
                .tabcontent {
                  display: none;
                  padding: 6px 12px;
                  border: 1px solid #ccc;
                  border-top: none;
                }
                .tabcontent {
                animation: fadeEffect 1s; /* Fading effect takes 1 second */
                }

                @keyframes fadeEffect {
                from {opacity: 0;}
                 to {opacity: 1;}
                }
                </style>
                </head>
                <body>
                
                
                <div class="tab">
                              <button class="tablinks" onclick="openCity(event, '1')"id="defaultOpen" >RC Home</button>
                              <button class="tablinks" onclick="openCity(event, '2')" >List of Doctorates</button>
                              <button class="tablinks" onclick="openCity(event, '3')" >Ph.D Scholars Completed</button>
                              <button class="tablinks" onclick="openCity(event, '4')" >On Going Research Work</button>
                              <button class="tablinks" onclick="openCity(event, '5')">Self Supported</button>
                              <button class="tablinks" onclick="openCity(event, '6')">Funded Activities</button>
                              <button class="tablinks" onclick="openCity(event, '7')">Research Scholars</button>
                </div>
                
                <div id="1" class="tabcontent">
<center>
                 
<div class="section-header1" style="text-align: center;">


    <h2 style="font-weight: 600;margin-top: 2rem;">ECE Research Center </h2>
  <div style="margin-top:3rem;text-align:justify;margin-right: 7rem;margin-left: 7rem;">
 <p style="font-size: 140%;">Our institution gives utmost importance for
        research. Ever since its inception in the year 1998, the Institution has taken concerted efforts for Innovation
        and Research. Research Cell was constituted to strengthen research activities, enhance industry interaction and
        to foster industry relevant research.
</p>
<p style="font-size: 140%;">
        The Department of ECE is strengthened with more experienced faculty members at doctoral level in various fields.
        We have Eight doctorates in the department and they are experts in the areas of signal processing, speech
        processing, VLSI signal processing. Five faculty members are pursuing Ph.D. in diversified areas like
        networking, speech processing, Image processing, RF and Microwave, Antennas and VLSI. Our Department is
        recognized as research Center for pursuing collaborative research with Anna University, Chennai. Two faculty
        members are recognized as research supervisors by Anna University, Chennai.
      </p>
    </div></div>
    <div style="text-align:justify;margin-top: 3rem;width: 85%;">
      <h3 style="letter-spacing:4px;font-weight: 600;"> Research Center in ECE Department is formed with the following objectives.
      </h3><br><br>
<ul style="font-size: 140%;position: relative;margin-bottom: 4rem;">
      <li >To act as a Center for contribution to the knowledge development in the discipline of Electronics and
        Communication Engineering discipline, and to take up research and development activities in selected areas of
        Communication, Speech Processing, Image Processing, VLSI Signal Processing, Wireless Networking, Cryptography,
        etc.</li><br>

      <li >To provide inter-disciplinary approach to solving problems related to Robotics, Embedded System,
        Instrumentation and Control Engineering, etc.</li><br>

      <li >To prepare and send research proposals to various funding agencies like DST, AICTE, DIT, FIST, DRDO, CSIR,
        TNSCST, etc.,</li><br>  

      <li>To prepare and send proposals to various funding agencies under MODROBS Scheme.</li><br>

      <li >To promote innovative ideas and concepts in the selected areas and to come up with new product development.
      </li><br>

      <li >To publish papers in the refereed journals.</li><br>

      <li >To apply for Patents for innovative ideas and products.</li><br>

      <li >To develop course modules for the core subject.</li><br>

      <li >To conduct workshops, seminars and FDPs in the specialized areas of research.</li>
      </ul>
</div>
  </center>
                 

 </div>
              
                <div id="2" class="tabcontent">       

  <center><div style="position: relative;text-align: center;margin-bottom: 4rem;margin-top: 2rem;">
  
     <h2 style="font-weight: 600;">LIST OF DOCTORATES </h2>

   
   <div> 
          
      <table id="cus" style="text-align: center;padding:1.8rem">
      
       
        <tbody style="
        "><tr style="background-color: rgb(39 56 120);color:white;font-weight:bold">
          <td>S.No</td>
          <td>Name of the Faculty Member</td>
          <td>Supervisor Recognition No</td>
          <td>Area of Specialization</td>
           <td > Area of Specialization</td>
        </tr>
        <tr  >
       <td>1</td> 
          <td>Dr.M.Santhi</td>
          <td>Ref.no 2240296</td>
          <td>VLSI</td>
           <td >Novel Schemes for VLSI Implementation of DSP Blocks</td>
        </tr> 
      <tr  >
       <td>2</td> 
          <td>Dr.C.Vennila</td>
          <td>Old: 22.04.21/ New: 22404256</td>
          <td>VLSI Based Reconfigurable Computing for Wireless Applocations</td>
           <td >Design & Analysis of Reconfigurable Architectures for Wireless System Back End Modules</td>
        </tr>
      <tr  >
       <td>3</td> 
          <td>Dr.M.Padmaa</td>
          <td>-</td>
          <td>Image Processing</td>
           <td >Random Image Steganography</td>
        </tr>
        <tr  >
       <td>4</td> 
          <td>  Dr. S.A.Arunmozhi </td>
          <td>-</td>
          <td>Wireless Networks</td>
           <td >Securing Mobile AdHoc Networks Against DDOS Attack</td>
        </tr>
        <tr >
       <td>5</td> 
          <td>Dr.S.Rajeswari</td>
          <td>-</td>
          <td>Wireless Networks</td>
           <td >An Adaptive Efficient & reliable Gossip Routing Protocol for MANETs</td>
        </tr>
        <tr>
         <td>6</td> 
          <td>  Dr.V.Mohan</td>
          <td>Ref. No3340068</td>
          <td>Image Processing</td>
           <td >Lossy Still Image Compression - Some New Techniques</td>
        </tr>

         <tr >
         <td>7</td> 
          <td>Dr.P.Shanmugapriya</td>
          <td>Ref. No 3540004</td>
          <td>Speech Processing</td>
           <td >Development of Efficient Speaker Verification Systems Using Optimal Feature Selection</td>
        </tr>
      <tr >
         <td>8</td> 
          <td>DR.M.Baritha Begum</td>
          <td>-</td>
          <td>Text Compression</td>
           <td >New Techniques For Dictionary Based & Sign Language Based Text Compression & Secure Transmission</td>
        </tr>
      
      </tbody></table>
      
      </div>
           </div></center>
                </div>

                <div id="3" class="tabcontent">                  
  <div style="position:relative;margin-bottom: 4rem;margin-top: 2rem;">
    
    <h2 style="text-align:center;font-weight: 600;">List of Ph.D scholars who have completed the programme</h2>
    
      <table id="cus" style="margin-top: 2rem;">
        <tbody >
          <tr style="background-color: rgb(39 56 120);
color:white;
font-weight:bold;width:110%;">
            <td>S.No</td>
            <td>Candidate</td>
            <td>Supervisor</td>
            <td>Title of the Thesis</td>
            <td>Name of the University</td>
            <td>Date & year Completion</td>
          </tr>
          <tr >
            <td>1</td>
            <td>B.Suganthi 2010S4012012</td>
            <td>Dr. C.Vennila,
              Professor,
              Dept. of Electronics and Communication Engineering,
              Saranathan College of Engineering,
              Trichy - 12</td>
            <td>Performance Enhancement using Carrier Aggregation and MIMO for next generation wireless communication
              systems</td>
            <td>Anna University,
              Chennai</td>
            <td>July 7th 2018</td>
          </tr>
          <tr >
            <td>2</td>
            <td>S.Jayanthi 1524459418</td>
            <td>Dr. C.Vennila,
              Professor,
              Dept. of Electronics and Communication Engineering,
              Saranathan College of Engineering,
              Trichy - 12</td>
            <td>Landscape Identification and Detection of various geographical features from Satellite Imagery using
              Intellectual Soft Computing methods </td>
            <td>Anna University,
              Chennai</td>
            <td>Sep 10th 2020</td>
          </tr>
          <tr >
            <td>3</td>
            <td>S.Subatradevi 2010S4012010</td>
            <td>Dr. C.Vennila,
              Professor,
              Dept. of Electronics and Communication Engineering,
              Saranathan College of Engineering,
              Trichy - 12</td>
            <td>Optimization of interconnect delay in VLSI architectures for high speed system design</td>
            <td>Anna University,
              Chennai</td>
            <td>Dec 3rd 2020</td>
          </tr>
        </tbody>
      </table>
    
  </div>
                </div>

                <div id="4" class="tabcontent">                  
  <div style="position: relative;text-align: center;margin-bottom: 4rem;margin-top: 2rem;">
  
     <h2 style="text-align:center;font-weight: 600;margin-bottom: 1rem;">List of Ph.D Scholars of Ongoing Research Work
</h2>

   
   <div> 
          
      <table id="cus" style="text-align: center;padding:1.8rem">
      
       
        <tbody><tr style="background-color: rgb(39 56 120);
color:white;
font-weight:bold">
            <td>S.No</td>
            <td>Candidate</td>
            <td>Supervisor</td>
            <td>Title of the Thesis</td>
            <td>Name of the University</td>
            <td>Month & year Registration</td>
          </tr>
          <tr >
            <td>1</td>
            <td>Mr.K Malaisamy</td>
            <td>Dr.M.Santhi</td>
            <td>Design and Optimization of Microstrip Patch Array Antenna</td>
            <td>Anna University , Chennai</td>
            <td>Jul 2015</td>
          </tr>
          <tr >
            <td>2</td>
            <td>Mr.S Hariprasath</td>
            <td>Dr.M.Santhi</td>
            <td>Design and Implementation Of High Performance Pattern Recognition Systems In VLSI</td>
            <td>Anna University , Chennai</td>
            <td>Jul 2015</td>
          </tr>
          <tr >
            <td>3</td>
            <td>Ms.B.Dhiyva</td>
            <td>Dr.M.Santhi</td>
            <td>Design and Implementation Of Enhanced Data Converters For Wireless Communication In VLSI</td>
            <td>Anna University , Chennai</td>
            <td>Jul 2015</td>
          </tr>
          <tr >
            <td>4</td>
            <td>Mr.V.Koushick</td>
            <td>Dr.C.Divya</td>
            <td>Communication Systems – Information Technology (Interdiciplinary)</td>
            <td>Manonmaniam Sundaranar University, Thirunelvelli</td>
            <td>March 2017</td>
          </tr>
          <tr >
            <td>5</td>
            <td>Mr.G.Sivakannu</td>
            <td>Dr.P.Muthuchidambaranathan</td>
            <td>Wireless Communication</td>
            <td>NIT, Trichy</td>
            <td>Dec 2017</td>
          </tr>
          <tr >
            <td>6</td>
            <td>Ms.A.Shamim Banu</td>
            <td>Dr.S.Deivalakshmi</td>
            <td>Remote Sensing  </td>
            <td>NIT, Trichy</td>
            <td>Jul 2018</td>
          </tr>
          <tr >
            <td>7</td>
            <td>Ms.P Sivagamasundhari</td>
            <td>Dr.M.Santhi</td>
            <td>Optimizing the Performance of MPSoC Real Time Communication</td>
            <td>Anna University, Chennai</td>
            <td>Jan 2019</td>
          </tr>
                
      </tbody></table>
      
      </div>
     </div>
                </div>


                <div id="5" class="tabcontent">                  
                  <center>
                  
  <div class="section-header1" style="text-align: center;margin-top: 2rem;">
    <h2 style="font-weight: 600;">Self Supporting Project </h2>
  <div style="position:float;margin-down:3rem;margin-top:2rem;text-align:center;margin-right: 7rem;">
 <p style ="margin-right:1rem;font-size:140%;">Apart from the projects funded by the external funded agencies, the department has taken up various research projects with the support of institution, in the area of Antenna design and fabrication, design of Communication systems using Software defined radio and MATLAB software and Design of Electronics projects and its analysis using Multipurpose Lab to cater the societal needs and further strengthen the consultancy services offered by the department.
      </p>
    </div><br>

    <div style="position:float;"> 
    <h3 style="font-weight: 600;"> Ongoing Research Work:
    </h3><br>
<ul style="text-align: justify;font-size: 140%;margin-top: 1rem;margin-right: 7rem;margin-left: 7rem;margin-bottom: 2rem;">
    <li>Design and implementation of High Performance Pattern recognition systems in VLSI.</li><br>
    <li>Design and development and optimization Micro strip Array Antenna system for Satellite Application.</li><br>
    <li>Design and Analysis of High Performance MB-OFDM UWB wireless system using Asynchronous Technique.</li><br>
    <li>Design And Characterization Of Miniaturized Multiple Band Array Of Slot Antenna Using Multilayer Substrate
      Integrated With Meta-Material For Broad Band Communication.</li><br>
    <li>Intelligent Post-Harvest Monitoring and controlling system using Wireless sensor Network.</li><br>
    <li>Design and Implementation of Reversible Electronic Circuits using Reversible Gates.</li><br>
    <li>Design and Implementation of Enhanced Data converters for wireless Communication in VLSI.</li><br>
    <li>Design of underwater wireless optical communication transceiver.</li><br>
    <li>3D image analysis with reconfigurable parameters.</li><br>
    <li>Design and analysis of VLSI architecture for image interpolation.</li><br>
    <li>Design of application specific routing algorithms for low power NOC.</li><br>
    <li>Fault tolerance network interference on NOC using 3-Weight pattern</li><br>
    <li>Design and Analysis of reconfigurable architecture for wireless application</li><br>
    <li>Security Enabled Near Far communication Devices for Embedded application</li><br>
    <li>Novel Architecture for enhancing the performance of DSP functional blocks in VLSI</li><br>
</ul></div><br>
<div style="margin-bottom: 4rem;">
    <h3 style="letter-spacing:3px;font-weight: 600;">Completed research work:
    </h3><br><br>
<ul style="text-align: justify;font-size: 140%;margin-right: 7rem;margin-left: 7rem;margin-bottom: 4rem;">
    <li >Dr.M.Padmaa – Random Image Steganography.</li><br>
    <li >  Dr.S.A.Arunmozhi – Securing Mobile Ad Hoc Networks against Distributed Denial of Service Attack in Mobile Adhoc
      Network.</li><br>
     <li > Dr.S.Rajeswari – An Adaptive Energy Efficient Reliable Routing Protocol for Mobile Adhoc Network.</li><br>
      <li >Dr.P.Shanmugapriya – Development of efficient speaker Verification systems using Optimal feature selection.</li><br>
      <li >Dr.V.Mohan – Lossy Still Image Compression-Some new Issues.</li><br>
      <li >Dr.M.BarithaBegum – New techniques for Dictionary based and sign language based text compression and secure
      transmission.</li><br>
      <li >Dr.B.Suganthi – Performance Enhancement using carrier aggregation and MIMO for next generation wireless
      communication systems.</li><br>
     <li > Dr.S.Jayanthi – Landscape Identification and Detection of various geographical features from Satellite Imagery
      using Intellectual Soft Computing methods.</li><br>
      <li >Dr.S.Subatradevi – Optimization of interconnect delay in VLSI architectures for high speed system design.
      or enhancing the performance of DSP functional blocks in VLSI</li><br>

    </ul>
  </div>
</center>
                </div>


                <div id="6" class="tabcontent">       
                <center>           
<div style="position:relative;text-align: center;margin-top: 2rem;margin-bottom: 4rem;">
  
  <h2 style="padding:1rem;font-weight: 600;">Funded Projects / Seminar Grant</h2>
 

    <table id="cus" style="text-align: center;padding:2rem;">
      <tbody>
        <tr style="background-color: rgb(39 56 120);
color:white;
font-weight:bold">
          <td>S.No</td>
          <td>Title</td>
          <td>Funding Agency</td>
          <td>Year of Sanctioned</td>
          <td>Amount</td>
        </tr>
        <tr >
          <td>1</td>
          <td>E-Conference on Cutting Edge Technologies on Electrical, Communication, Embedded System & Soft Computing
            Techniques</td>
          <td>AICTE Jointly organized by ECE & EEE department</td>
          <td>2020</td>
          <td>Rs. 50,000/-</td>
        </tr>
        <tr >
          <td>2</td>
          <td>R&D Grant in RFRS (Research Funding for Research Scholars Scheme) for Intelligent Post Harvest Monitoring
            & Controlling System Using Wireless Sensor Network</td>
          <td> Tamilnadu State Council for Science & Technology</td>
          <td>2019</td>
          <td>Rs. 300,000/-</td>
        </tr>
        <tr>
          <td>3</td>
          <td>MODROBS - Communication Laboratory</td>
          <td>AICTE</td>
          <td>2019</td>
          <td>Rs 12,00,000/-</td>
        </tr>
        <tr >
          <td>4</td>
          <td>R&D Grant in SPS (Student Projects Scheme) for Recognition of Ancient Tamil Characters from Epigraphical
            Inscriptions using OCR Technique</td>
          <td> Tamilnadu State Council for Science & Technology</td>
          <td>2019</td>
          <td> Rs 7,500/-</td>
        </tr>
        <tr >
          <td>5</td>
          <td>National Seminar on Information Security</td>
          <td> CSIR, New Delhi </td>
          <td>11/03/2013 to 12/03/2013</td>
          <td>Rs 30,000/-</td>
        </tr>
        <tr >
          <td>6</td>
          <td>Third National Conference on Advanced Communication NCACOM 2012 </td>
          <td>DRDO</td>
          <td>10/04/2012 & 11/04/2012</td>
          <td>Rs 30,000/-</td>
        </tr>
        <tr >
          <td>7</td>
          <td>National Seminar on Recent Advances in VLSI Design</td>
          <td>CSIR, New Delhi</td>
          <td>03/02/2012 to 04/02/2012</td>
          <td>Rs 30,000/-</td>
        </tr>
        <tr >
          <td>8</td>
          <td>National Workshop on "Advanced Signal Processing"</td>
          <td>DRDO</td>
          <td>06/01/2012 & 07/01/2012</td>
          <td>Rs 30,000/-</td>
        </tr>
        <tr >
          <td>9</td>
          <td>National Seminar on Advanced Communication Networks</td>
          <td>CSIR, New Delhi</td>
          <td>10/06/2011 to 11/06/2011</td>
          <td>Rs 30,000/-</td>
        </tr>
        <tr >
          <td>10</td>
          <td>Second National Conference on Advanced Communication NCACOM 2011 </td>
          <td>CSIR & DRDO</td>
          <td>10/04/2011 & 11/04/2011</td>
          <td>Rs 30,000 & Rs.25,000</td>
        </tr>
        <tr >
          <td>11</td>
          <td>First National Conference on Advanced Communication NCACOM 2010</td>
          <td>DRDO and TNSCST</td>
          <td>27/08/2010 & 28/08/2010</td>
          <td>Rs 25,000 & Rs.10,000</td>
        </tr>
        <tr >
          <td>12</td>
          <td>Current Trends in Signal/Image Processing</td>
          <td>AICTE</td>
          <td>17/06/2010 & 18/06/2010</td>
          <td>Rs 55,835/-</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
</div>
</center>
                </div>


                <div id="7" class="tabcontent">                  
  <center>
    
    <div style="margin-top: 2rem;margin-bottom: 4rem;">
  <h2 style="text-align:center;font-weight: 600;margin-bottom: 2rem;">Details of Research Supervisor and Scholars presently registered with Anna University - Chennai</h2>
   <h3 style="text-align:center;font-weight: 600;margin-bottom: 1rem;">Details of Research Scholars of Research Supervisor - Dr.M.Santhi (Supervisor No. : 2240296)
</h3>

    
       <table id="cus" style="text-align: center;margin-top: 2rem;">


       <tbody>
        <tr style="background-color: rgb(39 56 120);color:white;font-weight:bold">
          <td>S.No</td>
          <td>Regno</td>
          <td>Name</td>
          <td>FT/PT</td>
          <td>Degree</td>
          <td>Reg Year</td>
          <td>Reg Session</td>
        </tr>
        <tr >
          <td>1</td>
          <td>1424459899</td>
          <td>M Jeyalakshmi</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2014</td>
          <td>JULY</td>
        </tr>
        <tr >
          <td>2</td>
          <td>1512459943</td>
          <td>K Malaisamy</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2015</td>
          <td>JULY</td>
        </tr>
        <tr >
          <td>3</td>
          <td>1515459763</td>
          <td>S Hariprasath</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2015</td>
          <td>JULY</td>
        </tr>

        <tr >
          <td>4</td>
          <td>1522459592</td>
          <td>G Prathiba</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2015</td>
          <td>JULY</td>
        </tr>

        <tr >
          <td>5</td>
          <td>1524359757</td>
          <td>B Dhivya</td>
          <td>FT</td>
          <td>Ph.D</td>
          <td>2015</td>
          <td>JULY</td>
        </tr>

        <tr >
          <td>6</td>
          <td>1525459267</td>
          <td>N Poornima</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2015</td>
          <td>Jan</td>
        </tr>

        <tr >
          <td>7</td>
          <td>17134591176</td>
          <td> M Kiran Kumar</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2017</td>
          <td>Jan</td>
        </tr>

        <tr >
          <td>8</td>
          <td>19243591125</td>
          <td>P Sivagamasundhari</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2019</td>
          <td>Jan</td>
        </tr>
       </tbody>
      
        </table>

    
  

  <h3 style="text-align:center;font-weight: 600;margin-bottom: 1rem;margin-top: 4rem;">Details of Research Scholars of Research Supervisor - Dr.C.Vennila (Supervisor No. : 2240425)
</h3>

    
       <table id="cus" style="text-align: center;margin-top: 2rem;">


       <tbody>
        <tr style="background-color: rgb(39 56 120);color:white;font-weight:bold">
          <td>S.No</td>
          <td>Regno</td>
          <td>Name</td>
          <td>FT/PT</td>
          <td>Degree</td>
          <td>Reg Year</td>
          <td>Reg Session</td>
        </tr>
        <tr >
          <td>1</td>
          <td>1514459409</td>
          <td>A Herald</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2014</td>
          <td>JAN</td>
        </tr>
        <tr >
          <td>2</td>
          <td>1515359797</td>
          <td>R Ganesan</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2016</td>
          <td>JULY</td>
        </tr>
        <tr >
          <td>3</td>
          <td>1524459147</td>
          <td>K Chitra</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2017</td>
          <td>JAN</td>
        </tr>

        <tr >
          <td>4</td>
          <td>16124597366</td>
          <td>V Ramkumar</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2017</td>
          <td>JULY</td>
        </tr>

        <tr >
          <td>5</td>
          <td>16153597177</td>
          <td>R Vijay</td>
          <td>FT</td>
          <td>Ph.D</td>
          <td>2018</td>
          <td>JULY</td>
        </tr>

        <tr >
          <td>6</td>
          <td>1615459204</td>
          <td>K Swaminathan 
</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2018</td>
          <td>Jan</td>
        </tr>

        <tr >
          <td>7</td>
          <td>19234597276</td>
          <td>J Sathia Parkavi</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2018</td>
          <td>JULY</td>
        </tr>

        <tr >
          <td>8</td>
          <td>19244597210</td>
          <td>K Mohan Priya</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2018</td>
          <td>JULY</td>
        </tr>
       </tbody>
      
        </table>

    
  

  <h3 style="text-align:center;font-weight: 600;margin-bottom: 1rem;margin-top: 4rem;">Details of Research Scholars of Research Supervisor - Dr.V.Mohan (Supervisor No. : 3340068)
</h3>

    
       <table id="cus" style="text-align: center;margin-top: 2rem;">


       <tbody>
        <tr style="background-color: rgb(39 56 120);color:white;font-weight:bold">
          <td>S.No</td>
          <td>Regno</td>
          <td>Name</td>
          <td>FT/PT</td>
          <td>Degree</td>
          <td>Reg Year</td>
          <td>Reg Session</td>
        </tr>
        <tr >
          <td>1</td>
          <td>18144191149 </td>
          <td>P.B.Arun Prasad</td>
          <td>PT</td>
          <td>Ph.D</td>
          <td>2018</td>
          <td>JULY</td>
        </tr>
        
       </tbody>
      
        </table>

    
  </div>
  </center>
                </div>
               
                
                
                
                <script>
                    document.getElementById("defaultOpen").click();  
                function openCity(evt, cityName) {
                    
                  var i, tabcontent, tablinks;
                  tabcontent = document.getElementsByClassName("tabcontent");
                  for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                  }
                  tablinks = document.getElementsByClassName("tablinks");
                  for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                  }
                  document.getElementById(cityName).style.display = "block";
                  evt.currentTarget.className += " active";
                }
                </script>
                   
            
    </section>







<footer id="footer">
<div class="footer-top">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 footer-info">
        <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
        <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
          Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
          greatest ever Principal of National College. It is a self financing college approved by AICTE and
          affiliated to Anna University, Chennai.</p>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>Quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Us</h4>
        <p style="
text-align: left;
">
          Saranathan College of Engineering
          Venkateswara Nagar,
          Trichy-Madurai Main Road (NH 45 B),
          Edamalaipatti Pudhur(Post), Panjappur,
          Thiruchirappalli - 620012<br>
          <strong>Phone:</strong> +91 8489915204<br>
          <strong>Email:</strong> sce@gmail.com<br>
        </p>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>

    </div>
  </div>
  <div class="container">
    <div class="copyright">
      © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
    </div>
  </div>
</div>
</footer>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
</body></html>