<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
  <link rel="stylesheet" href="../../../assets/fonts/simple-line-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
  <link rel="stylesheet" href="../../../assets/css/smoothproducts.css">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
   <link href="../../../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram" style="width: 600;height: 50;">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="ECE.html">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>
  <!-- ======= Header ======= -->
<!-- End Header -->







<!-- Menu -->

   <ul class="snbul" style="">
    <li class="snbli"><a href="ECE.html">About ECE</a></li>
    <li class="snbli"><a href="ECE Academic Programs.html">Academic Programs</a></li>
    <li class="snbli"><a href="ECE Facility.html">Facilities</a></li>
    <li class="snbli"><a href="ECE Faculty.html">Faculty</a></li>
    <li class="snbli"><a href="ECE Research Cell.html">Research Cell</a></li>
    <li class="snbli"><a class="active" href="ECE AU Dept. Performance.html">AU Dept. Performance</a></li>
    <li class="snbli"><a href="ECE Placement Details.html">Placement Details</a></li>
    <li class="snbli"><a href="ECE contact us.html">Contact Us</a></li>
  </ul>


    <div class="section-header1" style="margin-top: 13rem;text-align: center;margin-left: 25rem;">
<div class="table1">
  <center>
    <h3 style="font-weight: 600;margin-right: 7rem;">AU Exams &amp; Academic Performance of the UG Programme </h3>
  </center>
  <table id="cus" style="width: 78%;margin-top: 2rem;margin-left: 7rem;height: 8rem;text-align: center;">
    <tbody><tr>
        <th><center>Academic Year<center></center></center></th>
        <th><center>Semester</center></th>
        <th><center>Appeared</center></th>
        <th><center>Passed</center></th>
        <th><center>Pass %</center></th>
    </tr>
    <tr>
        <td rowspan="2">2019-20</td>
        <td>Odd</td>
        <td>351</td>
        <td>250</td>
        <td>71.22</td>
    </tr>
    <tr>
        <td>Even</td>
        <td>340</td>
        <td>340</td>
        <td>100.00</td>
    </tr>
    <tr>
        <td rowspan="2">2018-19</td>
        <td>Odd</td>
        <td>374</td>
        <td>233</td>
        <td>62.29</td>
    </tr>
    <tr>
        <td>Even</td>
        <td>374</td>
        <td>278</td>
        <td>74.33</td>
    </tr>
    <tr>
        <td rowspan="2">2017-18</td>
        <td>Odd</td>
        <td>375</td>
        <td>298</td>
        <td>79.47</td>
    </tr>
    <tr>
        <td>Even</td>
        <td>374</td>
        <td>312</td>
        <td>83.42</td>
    </tr>
    <tr>
        <td rowspan="2">2016-17</td>
        <td>Odd</td>
        <td>396</td>
        <td>355</td>
        <td>89.65</td>
    </tr>
    <tr>
        <td>Even</td>
        <td>396</td>
        <td>322</td>
        <td>81.31</td>
    </tr>
    <tr>
        <td rowspan="2">2015-16</td>
        <td>Odd</td>
        <td>405</td>
        <td>336</td>
        <td>82.96</td>
    </tr>
    <tr>
        <td>Even</td>
        <td>404</td>
        <td>334</td>
        <td>82.67</td>
    </tr>
    <tr>
        <td rowspan="2">2014-15</td>
        <td>Odd</td>
        <td>404</td>
        <td>289</td>
        <td>71.53</td>
    </tr>
    <tr>
        <td>Even</td>
        <td>399</td>
        <td>336</td>
        <td>84.21</td>
    </tr>
    <tr>
        <td rowspan="2">2013-14</td>
        <td>Odd</td>
        <td>380</td>
        <td>310</td>
        <td>81.58</td>
    </tr>
    <tr>
        <td>Even</td>
        <td>380</td>
        <td>314</td>
        <td>82.63</td>
    </tr>
    <tr>
        <td rowspan="2">2012-13</td>
        <td>Odd</td>
        <td>341</td>
        <td>268</td>
        <td>78.59</td>
    </tr>
    <tr>
        <td>Even</td>
        <td>341</td>
        <td>272</td>
        <td>79.77</td>
    </tr>
    <tr>
        <td rowspan="2">2011-12</td>
        <td>Odd</td>
        <td>313</td>
        <td>256</td>
        <td>81.79</td>
    </tr>
    <tr>
        <td>Even</td>
        <td>313</td>
        <td>265</td>
        <td>84.52</td>
    </tr>
</tbody></table>
</div>
<br>
<br>
<br>

<div class="table2">
<center>
<h3 style="font-weight: 600;margin-right: 7rem;">Academic Performance - Students Graduated within Stipulated Period </h3>
</center>

<table id="cus" style="width: 78%;margin-top: 2rem;margin-left: 7rem;height: 8rem;text-align: center;">
    <tbody><tr>
        <th><center>Batch</center></th>
        <th><center>First Class with distinction</center></th>
        <th><center>First Class</center></th>
        <th><center>Second Class</center></th>
    </tr>
    <tr>
    <td align="center">2015-19</td>
    <td align="center">6</td>
    <td align="center">85</td>
    <td align="center">9</td>
    </tr>
    <tr>
    <td align="center">2014-18</td>
    <td align="center">2</td>
    <td align="center">114</td>
    <td align="center">7</td>
    </tr>
    <tr>
    <td align="center">2013-17</td>
    <td align="center">6</td>
    <td align="center">109</td>
    <td align="center">10</td>
    </tr>
    <tr>
    <td align="center">2012-16</td>
    <td align="center">9</td>
    <td align="center">115</td>
    <td align="center">6</td>
    </tr>
    <tr>
    <td align="center">2011-15</td>
    <td align="center">3</td>
    <td align="center">108</td>
    <td align="center">10</td>
    </tr>
</tbody></table>
</div>

<br>
<br>
<br>

<div class="table3">
<h3 style="font-weight: 600;margin-right: 7rem;">Class Toppers in University Exams - Semester Wise - Academic Year 2019-20</h3>


<table id="cus" style="width: 78%;margin-top: 2rem;margin-left: 7rem;height: 8rem;text-align: center;margin-bottom: 8rem">
    <tbody><tr>
        <th><center>Year</center></th>
        <th><center>Sem.</center></th>
        <th><center>Name of the Student</center></th>
        <th><center>Sem.</center></th>
        <th><center>Name of the Student</center></th>
    </tr>
<tr>
    <td rowspan="3">4th Year</td>
    <td rowspan="3">Odd Sem</td>    
    <td>CATHERINE JOYCE. P
</td>
    <td rowspan="3">Even Sem</td>    
    <td style="width:30.02%;  text-align:left;">1. AARTHI. L <br>
2. ANUSHIYA. P <br>
3. LAVANYA. S <br>
4. PAVITHRA. V <br>
5. SARANYA. P <br>
6. SUBIKSHA. S V
</td>
</tr>
<tr>
    <td>ANUSHIYA. P
</td>
    <td style="width:30.02%;  text-align:left;">1. RUCKMANI. S <br>
2. SANTHYA. S <br>
3. VALANTINA NIVETHA. V
</td>
</tr>
<tr>
    <td>IRENE NAVEENA. J
</td>
    <td style="width:30.02%;  text-align:left;">1. CATHERINE JOYCE. P <br>
2. IRENE NAVEENA. J <br>
3. SARAVANA KUMARAN. B <br>
4. SHANMUGA PRIYA. R <br>
5. VARSHINI. R
</td>
</tr>
<tr>
    <td rowspan="3">3rd Year</td>
    <td rowspan="3">Odd Sem</td>    
    <td>SHARUMATHY. S. B
 </td>
    <td rowspan="3">Even Sem</td>    
    <td style="width:30.02%;  text-align:left;">1. AKILA. S <br>
2. DHEEPTHI. G.V <br>
3. DIVYA DARSHINI. P <br>
4. KARTHI VAIDYA. P <br>
5. KIRUTHIGA. E <br>
6. NITHYA. G <br>
7. PRINCY. P <br>
8. SHARUMATHY. S. B <br>
9. SUBHASHINI. S <br>
10. VANITHA. K <br>
11. VARUN BHAASKAR <br>
12. YELLAMRAJU VENKATA NAGA ANJANI JYOTHI. <br>
13. PADMA SHRUTHI. S <br>
</td>
</tr>
<tr>
    <td>KIRUTHIGA .E
</td>
    <td style="width:30.02%;  text-align:left;">1.  MADURABHASHINI. R <br>
2.  SHAHIN SULTHANA. M .W <br>
3.  SRI JAYA ROHINI. J  <br>
4.  SRI SWARNA. G <br>
5.  TAMIZH MALAR A.K  <br>
6.  VAISHALI. T <br>
</td>
</tr>
<tr>
    <td>PADMA SHRUTHI.S
 </td>
    <td style="width:30.02%;  text-align:left;">1.  ALAGAMMAI. K  <br>
2.  JEEVANANTHINI. R  <br>
3.  JOY PRASANNA. J <br>
4.  MOOHAMMED SATTAR. B <br>
5.  SIVASRI. M  <br>
6.  SOWMIYA. K  <br>
7.  SWATHI. S 
</td>
</tr>


<tr>
    <td rowspan="3">2nd Year</td>
    <td rowspan="3">Odd Sem</td>    
    <td>SINDHUJA.R
 </td>
    <td rowspan="3">Even Sem</td>    
    <td style="width:30.02%;  text-align:left;">1. DURGASRI. R  <br>
2. KARTHIGA DEVI. G <br>
3. KAVIYA. S  <br>
4. MANODURGA. V <br>
5. RATHNA. M  <br>
6. RITHIKAA. M  <br>
7. SINDHUJA. R  
</td>
</tr>
<tr>
    <td>KARTHIGA DEVI.S
</td>
    <td style="width:30.02%;  text-align:left;">1. ABISHEK. M <br>
2. NITHISHA. U  
</td>
</tr>
<tr>
    <td>KAVIYA.S
</td>
    <td style="width:30.02%;  text-align:left;">1. KEERTHANA. G.R <br>
2. PRAVEEN. D <br>
3. SATHYA. B  <br>
4. SRINITHI. S  
</td>
</tr>
</tbody></table>

</div>

</div>









  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="position: relative;margin-top: 10rem;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->



  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>



</body></html>