<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <!-- Vendor CSS Files -->
  <link href="../../../styles.css" rel="stylesheet">
  <link href="../../../assets/style.scss" rel="stylesheet">
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
   <link href="../../../assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;">

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center header-scrolled" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
        <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">
        
      <div class="parallelogram" style="width: 600;height: 50;">
        <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
      
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="speaker-details.html">About</a>
           <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="#">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
<!-- .navbar -->
     <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>












  <div class="section-heade" style="margin-top: 13rem;
  margin-bottom: 20px;
  position: relative;"><center>
      <h2 style="font-weight: 600;">Department of Electronics and Communication Engineering</h2></center>
    </div>
    <div class="clr" style="
    width: 100%;
    height: 64rem;
    position: relative;"></div>
   <ul class="snbul">
    <li class="snbli"><a class="active" href="ECE.html">About ECE</a></li>
    <li class="snbli"><a href="ECE Academic Programs.html">Academic Programs</a></li>
    <li class="snbli"><a href="ECE Facility.html">Facilities</a></li>
    <li class="snbli"><a href="ECE Faculty.html">Faculty</a></li>
    <li class="snbli"><a href="ECE Research Cell.html">Research Cell</a></li>
    <li class="snbli"><a href="ECE AU Dept. Performance.html">AU Dept. Performance</a></li>
    <li class="snbli"><a href="ECE Placement Details.html">Placement Details</a></li>
    <li class="snbli"><a href="ECE contact us.html">Contact Us</a></li>
  </ul>

<div style="position: relative;top: -63rem;pointer-events: none;width: 63%;margin-left: 31rem;">
<h3 style="font-weight: 600;margin-top: 2rem;text-align: left;margin-left: 7rem;">Vision of the Department:</h3>
<ul style="text-align: justify;width: 92%;margin-left: 7rem;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">
  <li>To become a leading department of Higher Learning and a Research Center of Excellence in Electronics and Communication Engineering.</li><br>
  </ul>
  <h3 style="font-weight: 600;text-align: left;margin-left: 7rem;">Mission of the Department:</h3>
  <ul style="text-align: justify;width: 92%;margin-left: 7rem;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">
  <li>To enable budding engineers to obtain technical exposure in various areas of Electronics and Communication Engineering.</li><br>
  <li>To nurture career improvement.</li><br>
  <li>To initiate and sustain research activities in the department in cutting edge areas of Electronics and Communication Engineering.</li>
  <br>
  <li>To develop professional and ethical attitude in the students.</li><br>
  </ul>


</div>
<div class="contentarea" style="position: relative;top: -62rem;margin-bottom: -55rem;margin-right: 7rem;margin-left: 30rem;">


<div style="margin-bottom: 2rem;">
  
<h3 style="font-weight: 600;text-align: left;margin-left: 7rem;">About the Department</h3>
  <p style="text-align: justify;width: 92%;margin-left: 7rem;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">1998 Year of start of UG Program with intake as on date 120. 2004 Year of start of PG Program with intake as on date 18. 2013 Year of Regonization for Ph.D Program with number of scholars as on date 16. UG program is permanently affiliated to Anna University, Chennai</p>
    
    <h3 style="
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 600;
    margin-left: 7rem;
    ">National Board of Accreditation (NBA) Status</h3>
<table id="cus" style="width: 78%;margin-top: 25px;margin-left: 7rem;height: 8rem;text-align: center;">

  <tbody>
  <tr  style="background-color: rgb(39 56 120);color: white;">
    <td></td>
    <td>Accreditation Status</td>
    <td>Validity</td>
  </tr>
  <tr >
    <td>2nd Accreditation</td>
    <td>Accredited</td>
    <td>Academic Years 2018-2019 to 2020-2021 i.e upto 30-06-2021</td>
  </tr>
  <tr >
    <td>1st Accreditation</td>
    <td>Accredited</td>
    <td>3 YEARS W.E.F.29-5-2009</td>
  </tr>
</tbody></table>

</div>

<div class="table1" >
  <h3 style="color: rgb(39 56 120);margin-bottom: 2rem;font-weight: 600;margin-left: -53rem;">Faculty profile details</h3>

<table id="cus" style="width: 70%;margin-top: 25px;height: 8rem;text-align: center;font-size: 133%;margin-left: 9rem;">
  <tbody>
  <tr  style="background-color: rgb(39 56 120);color: white;">
    <td>Faculty with Ph.D</td>
    <td>Faculty Pursuing Ph.Ds</td>
    <td>Faculty with M.E / M.Tech</td>
  </tr>
  <tr style="color: rgb(39 56 120);">
    <td>8</td>
    <td>6</td>
    <td>6</td>
  </tr>
</tbody></table>
<br><br>

  <h3 style="font-weight: 600;margin-left: -40rem;">Programme Educational Objectives</h3>
  <p style="text-align: justify;width: 92%;margin-left: 8rem;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">The Graduates of Electronics and Communication Engineering will</p>
  <ul style="text-align: left;margin-left: 6rem;width: 92%;font-size: 133%;margin-top: 2rem;">
  <li>Have a strong foundation in the required sciences in order to pursue studies in Electronics and Communication Engineering.</li><br>
  <li>Have a broad exposure in various topics related to Electronics and Communication Engineering fields, to enable them to excel in their professional career / higher studies.</li><br>
  <li>Possess innovative skills in order to solve the technical problems which will arise in their professional life.</li>
  <br>
  <li>Have professional and ethical attitude and an ability to visualize the engineering issues in a broader social context.</li>
  </ul><br>

  <h3 style="font-weight: 600;margin-left: -48rem;">Program Specific Outcomes</h3>
  <p style="text-align: justify;width: 92%;margin-left: 8rem;margin-top: 2rem;margin-top: 2rem;font-size: 133%">Graduates of Electronics and Communication Engineering will be able to:</p>
  <ul style="text-align: left;margin-left: 6rem;width: 92%;font-size: 133%;margin-top: 2rem;">
  <li>Comprehend and demonstrate the principles and concepts of Semiconductor theory, Signal Processing & Embedded systems in the fields of Consumer Electronics, Medical Electronics and Defense Electronics.</li><br>
  <li>Apply emerging Information and Communication Engineering Techniques to solve real time problems.</li>
  </ul>
</div>
</div>








<footer id="footer">
<div class="footer-top">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 footer-info">
        <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
        <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
          Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
          greatest ever Principal of National College. It is a self financing college approved by AICTE and
          affiliated to Anna University, Chennai.</p>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>Quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
        <h4>quick Links</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Us</h4>
        <p style="
text-align: left;
">
          Saranathan College of Engineering
          Venkateswara Nagar,
          Trichy-Madurai Main Road (NH 45 B),
          Edamalaipatti Pudhur(Post), Panjappur,
          Thiruchirappalli - 620012<br>
          <strong>Phone:</strong> +91 8489915204<br>
          <strong>Email:</strong> sce@gmail.com<br>
        </p>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

      </div>

    </div>
  </div>
  <div class="container">
    <div class="copyright">
      © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
    </div>
  </div>
</div>
</footer>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
</body></html>