<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SCE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="../../../assets/img/favicon.png" rel="icon">
  <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
  <link rel="stylesheet" href="../../../assets/fonts/simple-line-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
  <link rel="stylesheet" href="../../../assets/css/smoothproducts.css">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">
  <link href="../../../assets/css/ICEStyle.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
      <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">

        <div class="parallelogram" style=" width:500;height: 80;">
          <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>

        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="../../AboutUS/speaker-details.html">About</a>
            <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="../../Center/center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="../dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="About_ice.html">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
      <!-- .navbar -->
      <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>
  <!-- ======= Header ======= -->
  <!-- End Header -->




  <div class="section-header1" style="margin-top: 0rem;text-align: center;">

  </div>
  <ul class="sn">
    <li class="snbli"><a href="About_ice.html">Department of ICE</a></li>
    <li class="snbli"><a href="Faculty_ICE.html">Faculty</a></li>
    <li class="snbli"><a href="laboratory_ice.html">Facilities</a></li>
    <li class="snbli"><a href="Interactive_and_Communication_Tools_ICE.html">Interactive and Communication
        Tools</a>
    </li>
    <li class="snbli"><a href="research_cell_ICE.html">Research Cell</a></li>
    <li class="snbli"><a href="LAS_ICE.html">Labview Academy School</a></li>
    <li class="snbli"><a class="active" href="AU Dept. Performance.html">AU Dept. Performance</a></li>
    <li class="snbli"><a href="Placement_Details_ICE.html">Placement Details</a></li>
    <li class="snbli"><a href="contact us.html">Contact US</a></li>

  </ul>

  <div class="table1">
    <center>

      <h3 style="font-weight: 600; margin-left: 14rem; margin-top: -37rem; margin-bottom: 3rem;">AU Exams &amp;
        Academic Performance of
        the UG Programme</h3>
    </center>
    <table id="cus" style="width: 78%;margin-left: 23rem;height: 8rem;text-align: center;">
      <tbody>
        <tr>
          <th>
            <center>Academic Year</center>
          </th>
          <th>
            <center>Semester</center>
          </th>
          <th>
            <center>Appeared</center>
          </th>
          <th>
            <center>Passed</center>
          </th>
          <th>
            <center>Pass %</center>
          </th>
        </tr>
        <tr>
          <td rowspan="2">2019-20</td>
          <td>Odd</td>
          <td>155</td>
          <td>91</td>
          <td>58.71</td>
        </tr>
        <tr>
          <td>Even</td>
          <td>198</td>
          <td>197</td>
          <td>99.49</td>
        </tr>
        <tr>
          <td rowspan="2">2018-19</td>
          <td>Odd</td>
          <td>179</td>
          <td>73</td>
          <td>40.58</td>
        </tr>
        <tr>
          <td>Even</td>
          <td>176</td>
          <td>100</td>
          <td>56.81</td>
        </tr>
        <tr>
          <td rowspan="2">2017-18</td>
          <td>Odd</td>
          <td>182</td>
          <td>115</td>
          <td>63.18</td>
        </tr>
        <tr>
          <td>Even</td>
          <td>181</td>
          <td>122</td>
          <td>67.4</td>
        </tr>
        <tr>
          <td rowspan="2">2016-17</td>
          <td>Odd</td>
          <td>178</td>
          <td>144</td>
          <td>82.25</td>
        </tr>
        <tr>
          <td>Even</td>
          <td>177</td>
          <td>115</td>
          <td>65.70</td>
        </tr>
        <tr>
          <td rowspan="2">2015-16</td>
          <td>Odd</td>
          <td>180</td>
          <td>89</td>
          <td>49.44</td>
        </tr>
        <tr>
          <td>Even</td>
          <td>179</td>
          <td>139</td>
          <td>77.65</td>
        </tr>
        <tr>
          <td rowspan="2">2014-15</td>
          <td>Odd</td>
          <td>184</td>
          <td>124</td>
          <td>66.04</td>
        </tr>
        <tr>
          <td>Even</td>
          <td>184</td>
          <td>139</td>
          <td>76.67</td>
        </tr>
        <tr>
          <td rowspan="2">2013-14</td>
          <td>Odd</td>
          <td>196</td>
          <td>153</td>
          <td>78.54</td>
        </tr>
        <tr>
          <td>Even</td>
          <td>194</td>
          <td>147</td>
          <td>77.73</td>
        </tr>
        <tr>
          <td rowspan="2">2012-13</td>
          <td>Odd</td>
          <td>197</td>
          <td>105</td>
          <td>53.00</td>
        </tr>
        <tr>
          <td>Even</td>
          <td>195</td>
          <td>109</td>
          <td>55.71</td>
        </tr>
        <tr>
          <td rowspan="2">2011-12</td>

        </tr><tr>
          <td>Even</td>
          <td>199</td>
          <td>141</td>
          <td>71.02</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <div class="table2">
    <center>

      <h3 style="font-weight: 600; margin-left: 15rem; margin-top: 3rem; margin-bottom: 3rem;">Academic Performance
        - Students
        Graduated within Stipulated
        Period</h3>
    </center>

    <table id="cus" style="width: 78%;margin-top: 25px;margin-left: 23rem;height: 8rem;text-align: center; margin-bottom: 3rem;">
      <tbody>
        <tr>
          <th>
            <center>Batch</center>
          </th>
          <th>
            <center>First Class with distinction</center>
          </th>
          <th>
            <center>First Class </center>
          </th>
          <th>
            <center>Second Class</center>
          </th>
        </tr>
        <tr>
          <td align="center">2015-19</td>
          <td align="center">14</td>
          <td align="center">40</td>
          <td align="center">7</td>
        </tr>
        <tr>
          <td align="center">2014-18</td>
          <td align="center">5</td>
          <td align="center">43</td>
          <td align="center">12</td>
        </tr>
        <tr>
          <td align="center">2013-17</td>
          <td align="center">0</td>
          <td align="center">41</td>
          <td align="center">7</td>
        </tr>
        <tr>
          <td align="center">2012-16</td>
          <td align="center">3</td>
          <td align="center">45</td>
          <td align="center">15</td>
        </tr>
        <tr>
          <td align="center">2011-15</td>
          <td align="center">1</td>
          <td align="center">55</td>
          <td align="center">6</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <br>

  <div class="table3">

    <h3 style="font-weight: 600; margin-left: 23rem; margin-bottom: 3rem;">Class Toppers in University Exams -
      Semester Wise - Academic
      Year 2019-20</h3>

    <table id="cus" style="width: 78%;margin-top: 25px;margin-left: 23rem;height: 8rem;text-align: center;">
      <tbody>
        <tr>

          <th>
            <center>Year</center>
          </th>
          <th>
            <center>Sem.</center>
          </th>
          <th>
            <center>Name of the Student</center>
          </th>
          <th>
            <center>Sem.</center>
          </th>
          <th>
            <center>Name of the Student</center>
          </th>
        </tr>
        <tr>

          <td>4th Year</td>
          <td>Odd Sem</td>
          <td>
            <ol>
              <li>KIRTHIKA. G</li><br>
              <li>MILAN PATEL. R</li> <br>
              <li>YAAMINI. A</li><br>
            </ol>
          </td>

          <td>Even Sem</td>
          <td>
            <ol>
              <li>KIRTHIKA. G</li> <br>
              <li>SANCHHALI. R.S</li><br>
              <li>ANITHA. S </li><br>
              <li>YAAMINI. A</li> <br>
              <li>IRFHANNA AMEER. B</li><br>
            </ol>
          </td>
        </tr>

        <tr>

          <td>3rd Year</td>
          <td>Odd Sem</td>
          <td>
            <ol>
              <li>MAHALAKSHMI. S.P</li><br>
              <li>AARTHI. R</li><br>
              <li>AKASHSAMI. R</li>
            </ol>
          </td>
          <td>Even Sem</td>
          <td>
            <ol>
              <li>MAHALAKSHMI. S.P</li><br>
              <li>KIRTHIKA. V </li><br>
              <li>AKASHSAMI. R</li><br>
              <li>AARTHI. R</li><br>
            </ol>
          </td>
        </tr>
        <tr>

          <td>2nd Year</td>
          <td>Odd Sem</td>
          <td>
            <ol>
              <li>HARISH. P.K</li><br>
              <li>HARIHARAN. T</li><br>
              <li>AKASHSAMI. R</li>
            </ol>
          </td>
          <td>Even Sem</td>
          <td>
            <ol>
              <li>HARISH. P.K</li><br>
              <li>HARIHARAN. T</li><br>
              <li>PRIYADHARSHINI. M</li><br>

            </ol>
          </td>
        </tr>




      </tbody>
    </table>

  </div>

  

  <br>
  <br>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="position: relative;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="../../../assets/vendor/aos/aos.js"></script>
  <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../../assets/js/main.js"></script>





</body></html>