<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TheEvent Bootstrap Template - Speaker Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="../../../assets/img/favicon.png" rel="icon">
  <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
  <link rel="stylesheet" href="../../../assets/fonts/simple-line-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
  <link rel="stylesheet" href="../../../assets/css/smoothproducts.css">
  <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../assets/css/style.css" rel="stylesheet">
  <link href="../../../assets/css/ICEStyle.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: TheEvent - v4.1.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
  <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
  border-style: outset;
  border-color: blue;
  border-top: white;
  border-left: white;
  border-right: blue;">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
      <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
    width: 40%;
    position: absolute;
    left: 1%;
    top: 0px;
    " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

      <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">

        <div class="parallelogram">
          <h2 style="
    color: white;
    transform: skew(215deg, 360deg);
    margin-top: 5px;
    font-weight: 500;
    font-family: system-ui;
    text-align: center;
">WINNERS BEGIN WITH SARANATHAN</h2>
        </div>
        <ul style="
    position: relative;
">
          <li class="dropdown"><a class="nav-link scrollto" href="../../AboutUS/speaker-details.html">About</a>
            <ul>
              <li><a href="speaker-details.html">About the Instution</a></li>
              <li><a href="FP.html">Founder President</a></li>
              <li><a href="FS.html">Founder Secretary</a></li>
              <li><a href="GC.html">Governing Council</a></li>
              <li><a href="KPI.html">Key Persons to the Instituion</a></li>
              <li><a href="CC.html">College Committees</a></li>
              <li><a href="infra.html">Infrastructure</a></li>
              <li><a href="quality.html">Quality Policy</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
            <ul>
              <li><a href="#">Courses Offered</a></li>
              <li><a href="#">Addmission Norms</a></li>
              <li><a href="#">Admission Policy</a></li>
              <li><a href="#">Code of Conduct</a></li>
              <li><a href="#">Scholorship</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto active" href="../../Center/center.html">Center</a>
            <ul>
              <li><a href="#">Center For Research</a></li>
              <li><a href="#">Institute Industry Partnership Cell</a></li>
              <li><a href="#">Quality Improvement Cell</a></li>
              <li><a href="#">Entrepreneurship Development Cell</a></li>
              <li><a href="#">Campus Connect - Infosys</a></li>
              <li><a href="#">Women Empowerment Cell</a></li>
              <li><a href="#">E - Yantra</a></li>
              <li><a href="#">Smart India Hackathan</a></li>

            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="../dept.html">Departments</a>
            <ul>
              <li><a href="#">Civil Engineering</a></li>
              <li><a href="#">Computer Science Engg</a></li>
              <li><a href="#">Electronics &amp; Comm Engg</a></li>
              <li><a href="#">Electrical &amp; Electronics Engg</a></li>
              <li><a href="About_ice.html">Instrumentation &amp; Control</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Management Studies (MBA)</a></li>
              <li><a href="#">Science and Humanity</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
            <ul>
              <li><a href="#">Placement cell</a></li>
              <li><a href="#">Student Placement Details</a></li>
              <li><a href="#">Training Activities</a></li>
              <li><a href="#">Our Recruiters</a></li>
              <li><a href="#">Rank Holders</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">NAAC</a></li>

          <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
      <!-- .navbar -->
      <!-- <a class="buy-tickets scrollto" style="position: relative;
      left: 200px;
      top: 25px;" href="#">Login</a>-->

    </div>
  </header>

  <div class="section-heade" style="
  margin-top: -1rem;
  margin-bottom: 20px;
  position: relative;
  ">
  </div>

  <ul class="sn">
    <li class="snbli"><a href="About_ice.html">Department of ICE</a></li>
    <li class="snbli"><a href="Faculty_ICE.html">Faculty</a></li>
    <li class="snbli"><a class="active" href="laboratory_ice.html">Facilities</a></li>
    <li class="snbli"><a href="Interactive_and_Communication_Tools_ICE.html">Interactive and Communication Tools</a>
    </li>
    <li class="snbli"><a href="research_cell_ICE.html">Research Cell</a></li>
    <li class="snbli"><a href="LAS_ICE.html">Labview Academy School</a></li>
    <li class="snbli"><a href="AU Dept. Performance.html">AU Dept. Performance</a></li>
    <li class="snbli"><a href="Placement_Details_ICE.html">Placement Details</a></li>
    <li class="snbli"><a href="contact us.html">Contact US</a></li>

  </ul>


  <h2 style="font-weight: 600;margin-left: 25rem;margin-right: 4rem;margin-bottom: 3rem;margin-top: -37rem;">The
    Department has
    following
    equipped
    laboratorys</h2>
  
  <div class="clr" style="
    width: 50%;
    height: 20rem;
    position: relative;
    pointer-events: none;
  "></div>
  <div style="position: relative;top: -23rem;pointer-events: none;width: 79%;margin-left: -6rem;color: rgb(3, 3, 3);">
    <p style="text-align: justify;width: 80%;margin-left: 31rem;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">A
      separate department Instrumentation and Control Engineering is managed by qualified staff members. It has well
      equipped laboratories with the computer labs, latest instruments and equipment. The department has its own library
      to cater for the specific needs of students.</p>
  </div>
  <div style="position: relative;pointer-events: none;width: 79%;margin-left: 25rem;">
    <h3 style="font-weight: 600; margin-top: -19rem;">Process Control Laboratory</h3>
    <img height="260px" src="http://saranathan.ac.in/images/lab/ice/pclab1.jpg" style="margin-top: 5rem;">
    <img height="260px" src="http://saranathan.ac.in/images/lab/ice/pclab2.jpg" style="margin-top: 5rem;margin-left:4rem">
    <p style="text-align: justify;width: 80%;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">From
      this lab, the students benefitted by learning mathematical modeling of various processes and obtaining the tuning
      parameters to control the process. They learn to control the major physical processes using scaled down replicas
      of the process plants. The systems can be controlled by the Digital PID controller and Computer. Process control
      lab gives a close light on process like flow, level, temperature and pressure. It enables the students to gain a
      vivid and comprehensive practical knowledge about the industrial requirements. They also learn to use various
      virtual simulation platforms such as matlab, scada, labview etc., for the mathematically model the various
      processes.</p>
  </div>
  <br>
  <br>
  <br>
  <div style="position: relative;pointer-events: none;width: 79%;margin-left: 25rem;">
    <h3 style="font-weight: 600;">Circuits and Instrumentation System Design Laboratory</h3>
    <img height="260px" src="http://saranathan.ac.in/images/lab/ice/cilab1.jpg" style="margin-top: 5rem;">
    <img height="260px" src="http://saranathan.ac.in/images/lab/ice/cilab2.jpg" style="margin-top: 5rem; margin-left: 4rem;">
    <p style="text-align: justify;width: 80%;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">This
      lab is well furnished with good quality equipments like, Function generators, Digital Storage Oscilloscopes, CROs
      etc. This lab covers the experiments related to Operational Amplifier and its applications. This laboratory aims
      to give learners an understanding of electronic devices and the skills needed to simulate, construct and test a
      variety of electronic circuits.

      Electronics devices are used in a huge variety of manufactured products. From everyday popular items such as
      cameras and thermometers to the robotic welding machines used in industry, the use of electronics is continually
      growing. This Lab provides a practical introduction to basic electronic devices , analog/digital electronic
      principles. It provides learners with an opportunity to investigate operation of the most important building
      components of electronic circuits, viz. diodes and transistors. The overall aim is to build learners confidence in
      their ability to construct and test simple electronic circuits. The emphasis is on prototyping, constructing and
      measuring electronic circuits. The unit treats systems in terms of their functionality and their input/output
      relationships. Students gain knowledge of designing and building electronic circuits. It helps them to gain hands
      on experience in debugging and testing circuits and indepth knowledge in using analog and digital circuits.</p>
  </div>
  <br>
  <br>
  <br>
  <div style="position: relative;pointer-events: none;width: 79%;margin-left: 25rem;">
    <h3 style="font-weight: 600;">Transducer Measurement and Industrial Instrumentation Laboratory</h3>
    <img height="260px" src="http://saranathan.ac.in/images/lab/ice/tmiilab1.jpg" style="margin-top: 5rem;">
    <img height="260px" src="http://saranathan.ac.in/images/lab/ice/tmiilab2.jpg" style="margin-top: 5rem;margin-left:4rem">
    <p style="text-align: justify;width: 80%;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">
      Students learn about the different type of measuring instruments and measuring techniques used to measure various
      physical parameters of different processes. They get hands on training in using and calibrating various industrial
      grade instruments. By applying the theoretical knowledge that they gain, they learn to select and use the
      appropriate instruments for each scenario.

      In this lab the students acquire knowledge on various transducers. Apart from transducers the students also gets
      experience in working with sensors for various process measurements. This imparts the students with the knowledge
      and working with transducer and sensor for various industrial applications also students used to know the
      calibration of pressuring device and the process variables can be measured using different sensors</p>
  </div>
  <br>
  <br>
  <br>
  <div style="position: relative;pointer-events: none;width: 79%;margin-left: 25rem;">
    <h3 style="font-weight: 600;">Advanced Control Systems Laboratory</h3>
    <img height="260px" src="http://saranathan.ac.in/images/lab/ice/acslab1.jpg" style="margin-top: 5rem;">
    <img height="260px" src="http://saranathan.ac.in/images/lab/ice/acslab2.jpg" style="margin-top: 5rem;margin-left:4rem">
    <p style="text-align: justify;width: 80%;margin-top: 2rem;margin-top: 2rem;font-size: 133%;">ACS
      lab of ICE department is fully air conditioned and can accommodate thirty students. Eighteen PCs are available
      which are installed with latest version of MATLAB. Advanced control strategies include the implementation of PLCs
      and DCS to meet the demand. Two ABB type PLCs worth Rs. 2 lakhs are available. AC500 is the PLC of choice when
      scalability, flexibility, performance, integration and communication are mandatory. Numerous I/O modules carefully
      specified powerful CPUs and real time communication couplers provide the basis.

      ABB type DCS (Distributed Control System) worth Rs. 7 lakh is available. DCS is a computerized control system used
      to control the production line in the industry. The entire system of controllers is connected by networks for
      communication and monitoring. DCS is a very broad term used in a variety of industries, to monitor and control
      distributed equipment.

      One Bottle filling demonstration system is available whose application is indispensible in liquid processing
      industries.

      Technological advancements in process monitoring, control and industrial automation over the past decades have
      contributed greatly to improve the productivity of all manufacturing industries throughout the world.</p>
  </div>
  <br>
  <br>
  <br>
  <div style="position: relative;pointer-events: none;width: 79%;margin-left: 25rem;">
    <h3 style="font-weight: 600;">Virtual Instrumentation Laboratory</h3>
    <img height="260px" src="http://saranathan.ac.in/images/lab/ice/vilab1.jpg" style="margin-top: 5rem;">
    <img height="260px" src="http://saranathan.ac.in/images/lab/ice/vilab2.jpg" style="margin-top: 5rem;margin-left:4rem">
    <p style="text-align: justify;width: 80%;margin-top: 2rem;margin-top: 2rem;font-size: 133%; margin-bottom: -4rem;">
      Department of Instrumentation and Control Engineering are more fortunate to have a sophisticated VI laboratory.
      The lab is fully air conditioned and can accommodate thirty students per session. The lab is equipped with more
      than ten PCs and some were installed with licensed version of LabVIEW 2010. The special features of the latest
      version of LabVIEW include NxT Robotics and RF communication. A couple of robots are available for experimentation
      purpose. One robot is a "pick and place" type which can be programmed to sense metal explosives and can be
      implemented for bomb disposal. Other one has a couple of brushes which act like wipers and hence can be used for
      cleaning purpose.

      PCs are supported by Intel® core processor and Windows XP Professional OS. Ten DAQ signal accessories and five NI
      ELVIS have been bought from National Instruments which enable to generate and acquire signals from real world.
      Eighteen DAQ cards of four different specifications namely PCI 6221, PCI 6013, PCI1171 (add-on card) and PCI 6251
      are being used. There are communication devices like EPM shielded cable and signal connector board in this lab.

      The facilities in VI lab are worth Rs. 25 lakhs. Study materials for CLAD examination are also available in the
      lab. Workshops on "Graphical System Programming" are frequently conducted for students. An MoU was signed with NI
      India so that the students will be more aware in the latest trends of virtual instrumentation.</p>
  </div>
  <div class="contentarea" style="text-align: justify;position: relative;top: 5rem;margin-bottom: -15rem;margin-left: 25rem;width: 79%;">

    <br><br>
    <h3 style="font-weight: 600;">Industrial Automation Laboratory</h3>
    <br>
    <ul style="text-align: left;margin-left: 3rem;width: 75%;font-size: 133%;margin-top: 2rem;">
      <li style="text-align: justify">Industrial Automation Laboratory is a newly added laboratory course from Anna
        University 2017 regulation.</li>
      <br>

      <li>The outcome of this course is to equip students with knowledge on industrial
        automation such as PLC(Programmable<br> Logic Controller), SCADA (Supervisory control and data acquisition) and
        DCS (Distributed control
        System).</li>
      <br>

      <li>Our department has opened up Industrial Automation Laboratory with state-of-the-art equipment's to train the
        students with latest automation system that is used in industries.</li><br>

      <li>Facilities and features that are available Industrial Automation Laboratory is unparalleled in the entire
        Trichy zone. </li><br>

      <li>The facilities available will help the students to acquire practical knowledge of the basic electrical wiring
        of logic gates, relays, timers, and simple control systems.</li><br>

      <li>Students will be able to solve automated pneumatic and electro-pneumatic problems: simulate using software and
        implement using hardware and piping.</li><br>

      <li>Students will be able to Solve, program, simulate and implement different industrial problems using WPL Soft
        (for Simulation and PC-PLC interfacing) and Delta hardware implementation.</li><br>

    </ul>
    <br><br>
    <h3 style="font-weight: 600;">Value added Infrastructure</h3>
    <br>
    <ul style="text-align: left;margin-left: 3rem;width: 75%;font-size: 133%;margin-top: 2rem;">
      <li>Total Number of Computers : 45.</li><br>

      <li>Printing and Scanning Facilities are provided for the Students with High Speed Internet Connectivity.</li>
      <br>

      <li>The center is equipped with 15 kVA UPS.</li><br>

      <li>DCS Unit (with ABB AC 800M / SCADA / Control Builder). </li><br>

      <li>PLC Trainers (ABB 07 CR41 with Software AC1131.</li><br>

      <li>30 Licensed NI LabVIEW software packages (Version 2013).</li><br>

      <li>NI myRIO, NI DAQ, NI ELVIS.</li><br>

      <li>FPGA Development Kit (ALSTREA 2C20 with Quartus II V &amp; I).</li><br>

      <li>Embedded C - kits (PIC 16F/ 18F - RTOS).</li><br>

      <li>GPS Receivers (GARMIN &amp; NEMERIX Land Rover).</li><br>

      <li>Robot Models.</li><br>

      <li>MEMS Transducers.</li><br>

    </ul>
  </div>
  <br>
  <br>
  <br>

  <h2 style="font-weight: 600;margin-left: 35rem;margin-bottom: 4rem;margin-top: 20rem;">Department Seminar Hall
  </h2>
  

  <section style="
    position: relative;
">
    <div class="container">
      <div class="row gap">
        <div class="col-md-6">
          <img src="http://saranathan.ac.in/images/lab/ice/sem01.jpg" class="img-fluid" style="margin-left: 9rem; width: 25rem;">
        </div>
        <div class="contentarea" style="position: relative;top: 2rem;margin-bottom: -24rem;margin-left: 46rem; width: 65%;">
          <ul style="text-align: left;width: 80%;font-size: larger;margin-top: -27rem; font-size: 133%;">
            <li>ICE Department seminar hall is facilitated with Information and Communication Technology (ICT) mode of
              education.</li><br>

            <li>ICT enabled teaching-learning process available in our seminar hall includes hardware and software
              resources. Hardware resource include Computer, Speaker, Projector, Digital Touch Pen Pad ,Digital
              Cameras.
            </li>
            <br>

            <li>Software resources include applications like PPTs, PDFs, EDMODO, and GOOGLE CLASSROOM etc.</li><br>
          </ul>
        </div>
      </div>
  </div></section>
  <br>
  <br>

  <center>
    <h2 style="font-weight: 600; margin-left: -5.5rem; margin-top: 4rem;">Government Funded DST project worth 27
      lakhs</h2>
    
  </center>
  <section>
    <div class="container">
      <div class="row gap">
        <div class="col-md-6">
          <img src="https://www.saranathan.ac.in/images/ice/DSC02092.JPG" style="margin-top: 5rem;margin-left:10rem;width: 25rem;">
          <img src="https://www.saranathan.ac.in/images/ice/DSC02100.JPG" style="margin-top: 5rem;margin-left:10rem ;width: 25rem;">
        </div>
        <div class="contentarea" style="position: relative;top: 5rem;margin-bottom: -24rem;margin-left: 31rem; width: 85%;">
          <p style="text-align: justify;width: 52%;margin-left: 15rem;margin-top: 2rem;margin-top: -37rem;font-size: 133%;">
            Dr.
            M. Shanmugavalli, Professor, Department of Instrumentation and Control Engineering, Saranathan College of
            Engineering has been sanctioned with the project entitled ‘Nanosensor for fluid mass flow rate measurement
            for
            biomedical applications (Order No. SP/YO/040/2017 Dt. 13.03.208)’under the Division of Science for Equity
            Empowerment and Development (SEED), Ministry of Science and Technology, Department of Science and
            Technology
            (DST), Government of India for the project cost of Rs. 27,39,968 for the duration of 3 years (Mar. 2018 –
            Feb.
            2021).</p>
        </div>
      </div>
  </div></section>

  <br>

  <footer id="footer">
    <div class="footer-top" style="position: relative;margin-top: 20rem;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
            <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani” Auditor Sri. K.
              Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal Saranathan, the
              greatest ever Principal of National College. It is a self financing college approved by AICTE and
              affiliated to Anna University, Chennai.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
            <h4>quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p style="
text-align: left;
">
              Saranathan College of Engineering
              Venkateswara Nagar,
              Trichy-Madurai Main Road (NH 45 B),
              Edamalaipatti Pudhur(Post), Panjappur,
              Thiruchirappalli - 620012<br>
              <strong>Phone:</strong> +91 8489915204<br>
              <strong>Email:</strong> sce@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
      <div class="container">
        <div class="copyright">
          © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer>   <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

  <script src="../../../assets/vendor/aos/aos.js"></script>
  <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../../assets/js/main.js"></script>


</body></html>