<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SCE</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link href="https://www.saranathan.ac.in/saraicon.ico" rel="icon">
    <link href="../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="styles.css" rel="stylesheet">
    <link href="../../../assets/style.scss" rel="stylesheet">
    <link href="../../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../../assets/css/style.css" rel="stylesheet">
    <link href="../../../assets/css/ICEStyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!---<link rel="stylesheet" href="style sb.css">-->

    <!-- =======================================================
    * Template Name: TheEvent - v4.1.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->


</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" style="font-family: poppins-extralight,poppins,sans-serif;">

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: white;height: 155px;
    border-style: outset;
    border-color: blue;
    border-top: white;
    border-left: white;
    border-right: blue;">
        <div class="container-fluid container-xxl d-flex align-items-center">

            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a style="width: 1000px;" href="index.html" class="scrollto"><img style="
      width: 40%;
      position: absolute;
      left: 1%;
      top: 0px;
      " src="../../../assets/img/finalLOGO.png" alt="" title=""></a>

            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->

            <nav id="navbar" style="position: relative;left: 1%;" class="navbar order-last order-lg-0">

                <div class="parallelogram" style="width:500;height: 80;">
                    <h2 style="
      color: white;

      transform: skew(215deg, 360deg);
      margin-top: 5px;
      font-weight: 500;
      font-family: system-ui;
      text-align: center;
  ">WINNERS BEGIN WITH SARANATHAN</h2>
                </div>

                <ul style="
      position: relative;
  ">
                    <li class="dropdown"><a class="nav-link scrollto" href="../../AboutUS/speaker-details.html">About</a>
                        <ul>
                            <li><a href="speaker-details.html">About the Instution</a></li>
                            <li><a href="FP.html">Founder President</a></li>
                            <li><a href="FS.html">Founder Secretary</a></li>
                            <li><a href="GC.html">Governing Council</a></li>
                            <li><a href="KPI.html">Key Persons to the Instituion</a></li>
                            <li><a href="CC.html">College Committees</a></li>
                            <li><a href="infra.html">Infrastructure</a></li>
                            <li><a href="quality.html">Quality Policy</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="#">Admission</a>
                        <ul>
                            <li><a href="#">Courses Offered</a></li>
                            <li><a href="#">Addmission Norms</a></li>
                            <li><a href="#">Admission Policy</a></li>
                            <li><a href="#">Code of Conduct</a></li>
                            <li><a href="#">Scholorship</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto active" href="../../Center/center.html">Center</a>
                        <ul>
                            <li><a href="#">Center For Research</a></li>
                            <li><a href="#">Institute Industry Partnership Cell</a></li>
                            <li><a href="#">Quality Improvement Cell</a></li>
                            <li><a href="#">Entrepreneurship Development Cell</a></li>
                            <li><a href="#">Campus Connect - Infosys</a></li>
                            <li><a href="#">Women Empowerment Cell</a></li>
                            <li><a href="#">E - Yantra</a></li>
                            <li><a href="#">Smart India Hackathan</a></li>

                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="../dept.html">Departments</a>
                        <ul>
                            <li><a href="#">Civil Engineering</a></li>
                            <li><a href="#">Computer Science Engg</a></li>
                            <li><a href="#">Electronics &amp; Comm Engg</a></li>
                            <li><a href="#">Electrical &amp; Electronics Engg</a></li>
                            <li><a href="About_ice.html">Instrumentation &amp; Control</a></li>
                            <li><a href="#">Mechanical Engineering</a></li>
                            <li><a href="#">Management Studies (MBA)</a></li>
                            <li><a href="#">Science and Humanity</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="nav-link scrollto" href="#">Placements</a>
                        <ul>
                            <li><a href="#">Placement cell</a></li>
                            <li><a href="#">Student Placement Details</a></li>
                            <li><a href="#">Training Activities</a></li>
                            <li><a href="#">Our Recruiters</a></li>
                            <li><a href="#">Rank Holders</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#">NAAC</a></li>

                    <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <img style="width: 13%;position: absolute;top: 6%;left: 87%;" src="../../../assets/img/counsellingcode.jpeg" alt="" title="">
            <!-- .navbar -->
            <!-- <a class="buy-tickets scrollto" style="position: relative;
        left: 200px;
        top: 25px;" href="#">Login</a>-->

        </div>
    </header>



    <div class="section-heade" style="
    margin-top: -1rem;
    margin-bottom: 20px;
    position: relative;
    ">
    </div>
    <ul class="sn">
        <li class="snbli"><a href="About_ice.html">Department of ICE</a></li>
        <li class="snbli"><a href="Faculty_ICE.html">Faculty</a></li>
        <li class="snbli"><a href="laboratory_ice.html">Facilities</a></li>
        <li class="snbli"><a href="Interactive_and_Communication_Tools_ICE.html">Interactive and Communication Tools</a>
        </li>
        <li class="snbli"><a class="active"  href="research_cell_ICE.html">Research Cell</a></li>
        <li class="snbli"><a href="LAS_ICE.html">Labview Academy School</a></li>
        <li class="snbli"><a href="AU Dept. Performance.html">AU Dept. Performance</a></li>
        <li class="snbli"><a href="Placement_Details_ICE.html">Placement Details</a></li>
        <li class="snbli"><a href="contact us.html">Contact US</a></li>

    </ul>


    <section style="margin-top: -35rem;margin-bottom: 5rem;margin-left: 29rem;margin-right: 8rem;">
        <h1 style="color: rgb(19, 19, 83);text-align: center;font-weight: 600;margin-bottom: 3rem; margin-top: -38rem;">
            Research Cell
        </h1>
        <style>
            body {
                font-family: 'Poppins', sans-serif;
            }


            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }


            .tab button {
                background-color: inherit;
                float: left;
                border: white;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 20px;

            }


            .tab button:hover {
                background-color: #ddd;
            }


            .tab button.active {
                background-color: rgb(17, 24, 119);
                color: white;
            }


            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
            }

            .tabcontent {
                animation: fadeEffect 1s;
                /* Fading effect takes 1 second */
            }

            @keyframes fadeEffect {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        </style>
        

        


            <div class="tab">
                <button class="tablinks" onclick="openCity(event, '1')" id="defaultOpen">On Going Research Work</button>
                <button class="tablinks" onclick="openCity(event, '2')">List of Doctorates</button>
                <button class="tablinks" onclick="openCity(event, '3')">Research Scholars</button>
                <button class="tablinks" onclick="openCity(event, '4')">Ph.D Scholars Completed</button>
                <button class="tablinks active" onclick="openCity(event, '5')">Funded Activities</button>
            </div>

            <div id="1" class="tabcontent" style="display: none;">

                <center>

                    <div style="position: relative;pointer-events: none;margin-bottom: 14rem;margin-top: 2rem; margin-left: -11rem;">
                        <center>
                            <h3 style="font-weight: 600;">List of Ph.D
                                Scholars of Ongoing Research Work</h3><br>
                        </center>
                        <table id="cus" style="
    position: relative;
    left: -17vh;
    top: 0vh;
">
                            <tbody><tr>
                                <th>
                                    <center>S.NO</center>
                                </th>
                                <th>
                                    <center>Candidate Name &amp; Reg.No</center>
                                </th>
                                <th>
                                    <center>Supervisor</center>
                                </th>
                                <th>
                                    <center>Title of the Thesis</center>
                                </th>
                                <th>
                                    <center>Name of the University</center>
                                </th>
                                <th>
                                    <center>Month &amp; year Registration</center>
                                </th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>Ezhilarasi K<br>
                                    20243591181</td>
                                <td>Dr.M. Shanmugavalli</td>
                                <td>Nano sensor for Biomedical Application</td>
                                <td>Anna University , Chennai</td>
                                <td>January 2020</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Nirmal R <br>
                                    19123591139</td>
                                <td>Dr.M. Shanmugavalli</td>
                                <td>Fabrication of Nano Cariolis Flow meter</td>
                                <td>Anna University , Chennai</td>
                                <td>January 2019</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Thirumurugan P <br>
                                    1413379705</td>
                                <td>Dr.S. Arockia Edwin Xavier</td>
                                <td>VLSI based Multilevel Inverter</td>
                                <td>Anna University , Chennai</td>
                                <td>July 2014</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Tamilarasan T <br>
                                    19143591110</td>
                                <td>Dr. S. Tamilarasan</td>
                                <td>Power Quality Enhancement</td>
                                <td>Anna University , Chennai</td>
                                <td>January 2019</td>
                            </tr>
                        </tbody></table>
                    </div>
            </center></div>

            

            

            <div id="2" class="tabcontent" style="display: none;">

                <center>

                    <div style="position: relative;pointer-events: none;margin-bottom: 14rem;margin-top: 2rem; margin-left: -11rem;">
                        <center>
                            <h3 style="font-weight: 600;margin-bottom: 3rem; margin-left: -5rem;">LIST OF DOCTORATES
                            </h3>
                        </center>
                        <table id="cus" style="
    position: relative;
    left: -17vh;
    top: 0vh;
">
                            <tbody><tr>
                                <th>
                                    <center>S.NO</center>
                                </th>
                                <th>
                                    <center>Name of the Faculty Member</center>
                                </th>
                                <th>
                                    <center>Supervisor Recognition No.</center>
                                </th>
                                <th>
                                    <center>Area of Specialization</center>
                                </th>
                                <th>
                                    <center>Title of the Thesis</center>
                                </th>

                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>Dr.S.M.Girirajkumar
                                </td>
                                <td>
                                    <center>2730008</center>
                                </td>
                                <td>Electrical Engineering (Process Control)</td>
                                <td>Controller Tuning for Various Process Systems using Non-Traditional Optimization
                                    Techniques</td>

                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Dr.M.Shanmugavalli</td>
                                <td>
                                    <center>2330217</center>
                                </td>
                                <td>Instrumentation and Control</td>
                                <td>Modelling and Experimentation of Coriolis Flowmeter using Piezoelectric Sensing and
                                    Actuation</td>

                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Dr.P.Aravind</td>
                                <td>
                                    <center>-</center>
                                </td>
                                <td>Electrical Engineering (Process Control)</td>
                                <td>Optimum Controller Design for Various Process using Recursion Reduction Control
                                    Technique</td>

                            </tr>
                        </tbody></table>

                    </div>
            </center></div>
            

            


            <div id="3" class="tabcontent" style="display: none;">

                <center>

                    <div style="position: relative;pointer-events: none;margin-bottom: 14rem;margin-top: 2rem; margin-left: -11rem;">
                        <center>
                            <h3 style="font-weight: 600;color: rgb(0, 0, 100); margin-left: 11rem; ">Details of Research
                                Supervisor and
                                Scholars
                                presently registered with
                                Anna University-Chennai</h3>
                        </center>
                        <center>
                            <h4 style="color: rgb(0, 0, 100); margin-bottom: -2rem;" margin-bottom:="" -4rem;="">Details of
                                Research Scholars of
                                Research
                                Supervisor - Dr.M.
                                Shanmugavalli
                                <br>(Supervisor No. : 2330217)
                            </h4>
                        </center>
                        <br>
                        <br>
                        <table id="cus" style="
    position: relative;
    left: -17vh;
    top: 0vh;
">
                            <tbody><tr>
                                <th>
                                    <center>S.NO</center>
                                </th>
                                <th>
                                    <center>Regno</center>
                                </th>
                                <th>
                                    <center>Name</center>
                                </th>
                                <th>
                                    <center>FT/PT</center>
                                </th>
                                <th>
                                    <center>Degree</center>
                                </th>
                                <th>
                                    <center>Reg Year</center>
                                </th>
                                <th>
                                    <center>Reg Session</center>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <center>1.</center>
                                </td>
                                <td>
                                    <center>20243591181</center>
                                </td>
                                <td>
                                    <center>Ezhilarasi K</center>
                                </td>
                                <td>
                                    <center>PT</center>
                                </td>
                                <td>
                                    <center>Ph.D</center>
                                </td>
                                <td>
                                    <center>2020</center>
                                </td>
                                <td>
                                    <center>JAN</center>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <center>2.</center>
                                </td>
                                <td>
                                    <center>19123591139</center>
                                </td>
                                <td>
                                    <center>Nirmal R</center>
                                </td>
                                <td>
                                    <center>PT</center>
                                </td>
                                <td>
                                    <center>Ph.D</center>
                                </td>
                                <td>
                                    <center>2019</center>
                                </td>
                                <td>
                                    <center>JAN</center>
                                </td>

                            </tr>

                        </tbody></table>

                    </div>
            </center></div>

            

            


            <div id="4" class="tabcontent" style="display: none;">

                <center>

                    <div style="position: relative;pointer-events: none;margin-bottom: 14rem;margin-top: 2rem; margin-left: -11rem;">
                        <center>
                            <h3 style="font-weight: 600;color: rgb(0, 0, 100); margin-bottom: -2rem;">List of Ph.D
                                scholars who
                                have completed the
                                programme</h3>
                        </center>
                        <br>
                        <br>
                        <table id="cus" style="
    position: relative;
    left: -17vh;
    top: 0vh;
">
                            <tbody><tr>
                                <th>
                                    <center>S.NO</center>
                                </th>
                                <th>
                                    <center>Candidate</center>
                                </th>
                                <th>
                                    <center>Supervisor</center>
                                </th>
                                <th>
                                    <center>Title of the Thesis</center>
                                </th>
                                <th>
                                    <center>Name of the University</center>
                                </th>
                                <th>
                                    <center>Date &amp; year Completion</center>
                                </th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>Aravind P
                                    1515359124</td>
                                <td>Dr.S.M.Girirajkumar</td>
                                <td>Optimum Controller Design for Various Process using Recursion Reduction Control
                                    Technique</td>
                                <td>Anna University , Chennai</td>
                                <td>17-06-2020</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Mercy D
                                    1324359116</td>
                                <td>Dr.S.M.Girirajkumar</td>
                                <td>An Algorithmic Approach Based PID Tuning of a Real Time Process</td>
                                <td>Anna University , Chennai</td>
                                <td>J24-02-2020</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Sowmyalakshmi R
                                    1325459218 </td>
                                <td>Dr.S.M.Girirajkumar</td>
                                <td>Robust and Computationally Efficient Framework for Human Recogination using Ear
                                    Biometrics</td>
                                <td>Anna University , Chennai</td>
                                <td>06-07-2018</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Gaayathry K
                                    1224379745</td>
                                <td>Dr.S.M.Girirajkumar</td>
                                <td>Optimization of Efficiency of Inverters in Real Time Applications</td>
                                <td>Anna University , Chennai</td>
                                <td>31-12-2019</td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Umarani B
                                    20094012013</td>
                                <td>Dr.S.M.Girirajkumar</td>
                                <td>An Efficient Retina based Biometric Authentication for Diabetic Retinopathy
                                    Detection</td>
                                <td>Anna University , Chennai</td>
                                <td>24-08-2016</td>
                            </tr>
                            <tr>
                                <td>.6</td>
                                <td>Venkataraman C
                                    20114012010</td>
                                <td>Dr.S.M.Girirajkumar</td>
                                <td>MAC Mangement Techniques to Improve Energy Enfficiency and Prolinging the Life Time
                                    of Wireless
                                    Sensor
                                    networks</td>
                                <td>Anna University , Chennai</td>
                                <td>12-01-2017</td>
                            </tr>
                        </tbody></table>
                    </div>
            </center></div>
            

            


            <div id="5" class="tabcontent" style="display: block;">

                <center>

                    <div style="position: relative;pointer-events: none;margin-bottom: 14rem;margin-top: 2rem; margin-left: -11rem;">
                        <center>
                            <h3 style="font-weight: 600;color: rgb(0, 0, 100); margin-left: -3rem; margin-bottom: -2rem;">
                                Funded
                                Projects / Seminar
                                Grant</h3>
                        </center>
                        <br>
                        <br>
                        <table id="cus" style="
    position: relative;
    left: -17vh;
    top: 0vh;
">
                            <tbody><tr>
                                <th>
                                    <center>S.NO</center>
                                </th>
                                <th>
                                    <center>Title</center>
                                </th>
                                <th>
                                    <center>Funding Agency</center>
                                </th>
                                <th>
                                    <center>Year of Sanctioned</center>
                                </th>
                                <th>
                                    <center>Amount</center>
                                </th>

                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>Nanosensor for fluid mass flow rate measurement for biomedical applications</td>
                                <td>
                                    <center>Department of Science and Technology (DST) </center>
                                </td>
                                <td>
                                    <center>2018</center>
                                </td>
                                <td>
                                    <center>Rs. 27,39,968/-</center>
                                </td>

                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Three-axial automated bowler Student project scheme</td>
                                <td>
                                    <center>Tamilnadu State Council For Science And Technology DOTE</center>
                                </td>
                                <td>
                                    <center>2018</center>
                                </td>
                                <td>
                                    <center>Rs. 10,000</center>
                                </td>

                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Artificial Intelligence Based Smart Building Controller</td>
                                <td>
                                    <center>Tamilnadu State Council For Science And Technology</center>
                                </td>
                                <td>
                                    <center>2020</center>
                                </td>
                                <td>
                                    <center>Rs. 7,500</center>
                                </td>

                            </tr>
                        </tbody></table>
                    </div>
            </center></div>
            

            






            <script>
                document.getElementById("defaultOpen").click();
                function openCity(evt, cityName) {

                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(cityName).style.display = "block";
                    evt.currentTarget.className += " active";
                }
            </script>


    </section>






    <footer id="footer">
        <div class="footer-top" style="position: relative;margin-top: 10rem;">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3><img style="padding-right: 10px;" src="https://www.saranathan.ac.in/saraicon.ico" alt="" title="">&nbsp;SCE</h3>
                        <p>Saranathan College of Engineering was founded by “Vidya Seva Ratnam”, “Guru Seva Mani”
                            Auditor Sri. K.
                            Santhanam in the year 1998. It was so named in respectful memory of his Guru Principal
                            Saranathan, the
                            greatest ever Principal of National College. It is a self financing college approved by
                            AICTE and
                            affiliated to Anna University, Chennai.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Gallery</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">University Rank Holders</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Alumni Resgistration</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">e-Yantra</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Placement Cell</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links" style="
text-align: left;
">
                        <h4>quick Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Courses Offered</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Scholorship</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Student Placement Details</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Rank Holders</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Physical Education</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p style="
text-align: left;
">
                            Saranathan College of Engineering
                            Venkateswara Nagar,
                            Trichy-Madurai Main Road (NH 45 B),
                            Edamalaipatti Pudhur(Post), Panjappur,
                            Thiruchirappalli - 620012<br>
                            <strong>Phone:</strong> +91 8489915204<br>
                            <strong>Email:</strong> sce@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    © 2021 Copyright <strong>SCE</strong>. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>   <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

    <script src="../../../assets/vendor/aos/aos.js"></script>
    <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../../assets/vendor/php-email-form/validate.js"></script>
    <script src="../../../assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../../../assets/js/main.js"></script>


</body></html>